
/*查看详情*/
.layout-detail-wrap{
  padding:80px 20px 100px 20px;
  .detail-title{
    .layout-base();
    .text-ww();
    color:@color-gray3;
    text-align: center;
    font-size: @font-size-base + 2;
    line-height:  @font-size-base + 8;
    padding:10px 0 40px 0;
  }
  .detail-show{
    /*排版详情*/
    font-size:@font-size-base;
    line-height:@font-size-base + 10;
    color:@color-gray6;
    .text-ww();
    .content-detail();
  }
}


