/*搜索*/
.layout-search-wrap {
  @wrap-height: 224px;
  @wrap-gaptb: 80px;
  @gap-pl: 50px;
  @gap-pr: 60px;

  height: @wrap-height;
  padding: @wrap-gaptb 0;
  .search-wrap {
    height: 100%;
  }
  .search-default {
    .layout-relative-base();
    .layout-base();
    height: 100%;
    display: inline-block;
    &:before {
      .layout-absolutel-base();
      content: '\e699';
      font-family: 'ux_four';
      width: @gap-pl;
      height: 100%;
      display: inline-block;
      text-align: center;
      line-height: @wrap-height - @wrap-gaptb * 2;
      font-size: @font-size-base + 8;
      color: @color-gray11;
      text-indent: 20px;
    }
    input {
      display: inline-block;
      .layout-base();
      height: 100%;
      border: 1px solid darken(@color-gray13, 0.4%);
      padding: 20px @gap-pr 20px @gap-pl;
      font-size: @font-size-base + 4;
      color: @color-gray9;
      line-height: 24px;
      &:focus {
        .transition-base(border 0.5s ease-in .02s);
        border: 1px solid @color-orange1;
      }
    }
    .search-clear {
      .layout-absoluter-base();
      width: 0;
      height: 0;
      cursor: pointer;
      display: none;
      &:after {
        .transition-base(font-size 0.2s linear .02s);
        width: 100%;
        height: 100%;
        display: inline-block;
        text-align: center;
        line-height: @wrap-height - @wrap-gaptb * 2;
        font-size: @font-size-base + 12;
        color: @color-gray13;
        font-family: 'ux_two';
      }
      &:hover {
        &:after {
          font-size: @font-size-base + 24;
          color: @color-gray12;
        }
      }
    }
  }
  .search-active {
    .transition-base(all 1.5s ease-in .02s);
    &:before {
      content: '';
      width: 0;
    }
    input {
      padding-left: 20px !important;
    }
    .search-clear {
      display: inline-block;
      width: @gap-pr;
      height: 100%;
      &:after {
        content: '\e615';
      }
    }
  }
}

/*搜索结果列表*/
.layout-helplist-wrap{
  padding-bottom:100px;
  .helplist-wrap{
    font-size:0;
    li{
      .layout-base(50%);
      display:inline-block;
      padding:20px 50px 70px 0;
      &:before{
        width:100%;
        height:30px;
        line-height:20px;
        display:inline-block;
        font-size:@font-size-base + 4;
        color:@color-gray3;
        content:attr(data-theme);
      }
    }
    p{
      font-size:@font-size-base;
      padding:2px 0;
      margin:2px 0;
      line-height:@font-size-base + 6;
      color:@color-gray9;
      -ms-text-overflow: ellipsis;
      text-overflow: ellipsis;
      .text-of();
      cursor: pointer;
      &::-moz-selection {
        color: @color-orange1;
        background: @color-gray13;
      }
      &::selection {
        color: @color-orange1;
        background: @color-gray13;
      }
      &:hover{
        color:@color-gray6;
      }
    }
  }
}

/*查看详情*/
.modal-title{
  .text-ww();
}
.show-detail-wrap{
  /*排版详情*/
  font-size:@font-size-base;
  line-height:@font-size-base + 10;
  color:@color-gray6;
  .text-ww();
  max-width:100%;
  .layout-base();
  padding:10px 20px;
  border:1px solid @color-gray14;
  .content-detail();
}

