/*无边框边框*/
.g-b-none {
  border: 0 !important;
}

/*无上边框*/
.g-bt-none {
  border-top: 0 !important;
}

/*无右边框*/
.g-br-none {
  border-right: 0 !important;
}

/*无下边框*/
.g-bb-none {
  border-bottom: 0 !important;
}

/*无左边框*/
.g-bl-none {
  border-left: 0 !important;
}

/*无边框边框*/
.g-b-pse-none {
  border: 0 !important;
  &:before,
  &:after{
    border: 0 !important;
  }
}

/*无上边框*/
.g-bt-pse-none {
  border-top: 0 !important;
  &:before,
  &:after{
    border-top: 0 !important;
  }
}

/*无右边框*/
.g-br-pse-none {
  border-right: 0 !important;
  &:before,
  &:after{
    border-right: 0 !important;
  }
}

/*无下边框*/
.g-bb-pse-none {
  border-bottom: 0 !important;
  &:before,
  &:after{
    border-bottom: 0 !important;
  }
}

/*无左边框*/
.g-bl-pse-none {
  border-left: 0 !important;
  &:before,
  &:after{
    border-left: 0 !important;
  }
}