@import "fn";

html {
  .text-size-adjust-base();
  font-size: @font-size-base;
}

iframe {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  line-height: 1.6;
  font-family: @weuiFontDefault;
  color: @color-gray3;
  font-size: 1.14rem;
}

* {
  margin: 0;
  padding: 0;
  .box-sizing-base();
}

a img {
  border: 0;
}

a {
  text-decoration: none;
  .setTapColor(@color-gray3);
}

a:active,
a:hover,
a:focus {
  .no-outline-base();
  text-decoration: none;
}

:focus {
  .no-outline-base();
}

ul, ol {
  list-style: none;
}

button, select {
  text-transform: none;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  color: @color-gray9;
  font-size: @font-size-base;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
  .no-outline-base();
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  .appearance-base();

}

button[disabled],
input[disabled] {
  cursor: default;
}

input:required,
input:valid,
input:invalid,
textarea:required,
textarea:valid,
textarea:invalid {
  .no-outline-base();
  .box-shadow-base(none);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  .appearance-base();
}

input::-ms-clear,
input::-ms-reveal {
  display: none !important;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  empty-cells: show;
}

tr {
  background-color: @color-global-white;
}

th {
  color: @color-gray8;
  height: 30px;
  line-height: 30px;
  text-align: center;
}

td {
  empty-cells: show;
}

/*扩展*/
textarea,
input[type="text"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="date"],
input[type="time"],
input[type="datetime-local"],
select {
  .border-radius-base(0);
  .box-shadow-base(none);
  .text-shadow-base(none);
  .appearance-base();
}

select {
  &,
  &:hover,
  &:active,
  &:focus {
    .user-tap-base();
  }
}

textarea:-ms-input-placeholder,
input[type="text"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
input[type="search"]:-ms-input-placeholder,
input[type="number"]:-ms-input-placeholder,
input[type="date"]:-ms-input-placeholder,
input[type="time"]:-ms-input-placeholder,
input[type="datetime-local"]:-ms-input-placeholder {
  color: @color-gray12;
}

textarea::-webkit-input-placeholder,
input[type="text"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
input[type="search"]::-webkit-input-placeholder,
input[type="number"]::-webkit-input-placeholder,
input[type="date"]::-webkit-input-placeholder,
input[type="time"]::-webkit-input-placeholder,
input[type="datetime-local"]::-webkit-input-placeholder {
  color: @color-gray12;
}

textarea:-moz-placeholder,
input[type="text"]:-moz-placeholder,
input[type="password"]:-moz-placeholder,
input[type="search"]:-moz-placeholder,
input[type="number"]:-moz-placeholder,
input[type="date"]:-moz-placeholder,
input[type="time"]:-moz-placeholder,
input[type="datetime-local"]:-moz-placeholder {
  color: @color-gray12;
}

textarea::-moz-placeholder,
input[type="text"]::-moz-placeholder,
input[type="password"]::-moz-placeholder,
input[type="search"]::-moz-placeholder,
input[type="number"]::-moz-placeholder,
input[type="date"]::-moz-placeholder,
input[type="time"]::-moz-placeholder,
input[type="datetime-local"]::-moz-placeholder {
  color: @color-gray12;
}

textarea:disabled,
input[type="text"]:disabled,
input[type="password"]:disabled,
input[type="search"]:disabled,
input[type="number"]:disabled,
input[type="date"]:disabled,
input[type="time"]:disabled,
input[type="datetime-local"]:disabled,
select:disabled {
  background-color: lighten(@color-gray14, 2%);
}