[core]
	bare = false
	filemode = false
	symlinks = false
	ignorecase = true
	logallrefupdates = true
[core]
	repositoryformatversion = 0
[credential "https://github.com/ypweb/Front_Work.git"]
[credential "https://github.com/ypweb/Front_Work.git"]
	helper = wincred
	username = yipin8715@sina.com
[remote "origin"]
	url = https://github.com/ypweb/Front_Work.git
	fetch = +refs/heads/*:refs/remotes/origin/*
	puttykeyfile = E:\\git\\YTTX_private.ppk
	pushurl = https://github.com/ypweb/Front_Work.git
[branch "master"]
	remote = origin
	merge = refs/heads/master
	pushremote = origin
