/*主体*/
body{
  .layout-base();
  height:100%;
  background:@color-white;
  max-width:@body-max-width;
  min-height: @body-min-height;
}

.layout-body-gapt{
  padding-top:@layout-header-height;
}

/*默认外部容器*/
.layout-default-wrap{
  .layout-base();
  min-width:@body-min-width;
}
/*默认内部容器*/
.content-default-wrap{
  .box-sizing-base();
  display: block;
  width: @body-min-width;
  margin: 0 auto;
  &:after{
    content:'';
    clear:both;
    display: table;
    width:100%;
    height:0;
  }
}
