/*基本变量*/
@core-base-url:'../../../../images';
/*菜单颜色*/
@layout-color-blue1: rgba(51, 111, 208, 1.00);
@layout-color-yellow1: rgba(242, 166, 46, 1.00);

/*主体*/
@body-min-width: 1200px;
@body-min-height: 900px;
@body-max-width: 100vw;

/*头部*/
@layout-header-width: @body-max-width;
@layout-header-height: 100px;
@layout-logo-gapl: 40px;
@layout-logo-width: 454px;
@layout-logo-height: 64px;




