///480px - 639px;
@media (max-width: 639px) {
  @body-min-height: 700px;

  /*---重置模块---*/
  @body-max-width: 639px;
  @body-min-width: 480px;
  /*主体*/
  body {
    max-width: @body-max-width;
    min-width: @body-min-width;
  }

  /*默认外部容器*/
  .layout-default-wrap {
    min-width: @body-min-width;
  }

  /*默认内部容器*/
  .content-default-wrap {
    width:100%;
    padding:20px 0;
  }

  .theme-item {
    height: 100px;
  }

  /*头部*/
  .layout-header-wrap {
    @layout-header-height: 50px;

    height: @layout-header-height;
    /*logo*/
    .header-logo {
      width: 40px;
      background-size: auto 80%;
      background-position: 5px center;
    }
    .header-menu-wrap {
      padding-right: 0;
    }
    .header-nav {
      @item-gap: 20px;
      > li {
        padding: 0;
        width:80px;
      }
      a {
        height: 100%;
        line-height: @layout-header-height;
        font-size: @font-size-base + 2;
      }
    }
  }

  /*首页*/
  .index-content-wrap {
    .index-device{
      background-size:70% auto;
    }
    .index-download{
      top:200px;
      height: 110px;
      >div{
        span{
          font-size: @font-size-base + 8;
          line-height: 26px;
          height:26px;
        }
      }
      .index-download-android{
        background-size:100px auto;
        span {
          bottom: -30px;
        }
      }
      .index-download-ios{
        background-size:100px auto;
        span {
          bottom: -30px;
        }
      }
    }
  }


  /*关于我们*/
  .about-content-wrap {
    .about-list {
      li {
        width:50%;
        height:auto;
        min-height:300px;
        padding: 20px 20px 0 20px;
      }
    }
  }

  /*产品介绍*/
  .layout-introduction-wrap{
    min-height: @body-min-height !important;
  }
  .introduction-content-wrap {
    .introduction-links{
      position: static !important;
      width:100%;
      margin: 30px auto 0 auto;
    }
    /*圆圈*/
    .introduction-circle,
    .introduction-circle-mini {
      width:0;
      height:0;
      display:none;
    }
    /*电脑*/
    .introduction-computer {
      display: none;
    }
    /*特点选项*/
    .introduction-list {
      z-index: 10;
      > li {
        padding:0 50px;
        width:100%;
        position: static !important;
        float:left;
        height: 35px;
        margin:10px 0;
      }
    }
  }


  /*产品描述*/
  .description-content-wrap {
    @gallery-height: 320px;
    @gallery-gap: 20px;
    @side-item-width: 342px;
    @main-item-width: 480px; //642px
    @side-item1-height: 128px;
    @side-item2-height: 186px;

    /*照片墙*/
    .description-gallery {
      height: (@gallery-height * 2) + @gallery-gap;
      text-align: center;
    }
    .description-side,
    .description-main {
      float: none;
      display: inline-block;
    }
    .description-side {
      height: @gallery-height;
      width: @side-item-width;
      .description-item1 {
        width: @side-item-width;
        height:@side-item1-height;
        float: left;
      }
      .description-item2 {
        height:@side-item2-height;
        width: @side-item-width;
        margin-top: @gallery-gap;
        float: right;
      }
    }
    .description-main {
      margin-top: @gallery-gap;
      height: @gallery-height;
      width: @main-item-width;
    }
  }

  /*联系我们*/
  .contact-content-wrap {
    .contact-show {
      /*地图*/
      .contact-map {
        height: 400px;
      }
      /*联系列表*/
      .contact-list {
        li {
          &:first-child {
            margin-top: 20px;
          }
          font-size: @font-size-base + 4;
        }
        /*二维码*/
        .contact-download {
          @contact-width:100px;
          height: @contact-width;
          > div {
            width: @contact-width;
          }
        }
      }
    }
  }

}