/*文件上传*/
/*常用上传按钮*/
.core-upload-file-func(@upload-size:30px){
  .layout-relative-base();
  .layout-base();
  background:@color-white;
  display: inline-block;
  cursor: pointer;
  .appearance-base(button);
  input[type="file"] {
    .layout-absolutel-base(0,0);
    .layout-base();
    height: 100%;
    .opacity-base(0);
  }
  &:before {
    .layout-absolutel-base(50%, 50%);
    line-height:@upload-size;
    margin-top: -@upload-size/2;
    margin-left: -@upload-size/2;
    width: 0;
    height: 0;
    white-space: nowrap;
    color: @color-gray9;
    text-align: center;
  }
}
