///max 1100px
@media (max-width: 1199px){
  //body适配
  body{
    max-width:1199px;
    min-width:801px;
    margin:50px 0 0 0;
  }
}


///max 800px
@media (max-width: 800px){
  //body适配
  body{
    max-width:800px;
    min-width:641px;
  }
}

///max 640px
@media (max-width: 640px){
  //body适配
  body{
    max-width:640px;
    min-width:481px;
  }
}

///max 480px
@media (max-width: 480px){
  //body适配
  body{
    max-width:480px;
    min-width:321px;
  }
}

///max 320px
@media (max-width: 320px){
  //body适配
  body{
    max-width:320px;
    min-width:281px;
  }
}