/*交换跟踪第一部分--图标部分*/
.wx-followpanel-wrap{
  display: inline-block;
  width:100%;
  padding:@grid-list-gap/2;
  /*交换跟踪图标*/
  .wx-followdata-wrap{
    @follow-icon-height:120px;

    height: @follow-icon-height;
    width:100%;
    background-color:@color-global-white;
    padding:@select-list-gap;

    /*引入动画*/
    .animate-followicon();

    >li{
      float:left;
      display:block;
      width:33.3333%;
      height:100%;
      text-align: center;
      &:nth-child(2) div{
        border-right:1px solid @color-gray13;
      }
    }
    .data-icon{
      .layout-relative-base();
      overflow: hidden;
      &:before,
      &:after{
        position: absolute;
        width:100%;
        height:100%;
        display: inline-block;
        font-family: zw_iconfont;
      }
      &:before{
        top:15px;
        left:0;
        content:'\e626';
        color:lighten(@color-blue1,10%);
        font-size: @font-size-base * 2;
        .transform-base(rotate(-20deg));
        /*动画调用*/
        .animation-base(follow-showicon-small 2.5s ease-in infinite alternate);
      }
      &:after{
        top:0;
        left:20px;
        content:'\e624';
        color:@color-blue1;
        .transform-base(rotate(15deg));
        font-size: @font-size-base * 3;
        /*动画调用*/
        .animation-base(follow-showicon-big 2.2s ease-out infinite alternate);
      }
    }
    .data-text{
      padding:@follow-icon-height * .2 0 0 0;
      div,
      p{
        width:100%;
        .text-ofe();
      }
      div{
        height:40%;
        font-size:@font-size-base + 6;
      }
      p{
        height:50%;
        font-size:@font-size-base;
        color:@color-gray9;
      }
    }

    /*动画定义*/
    .animate-followicon() {
      /*动画状态*/
      .anim-followicon-small() {
        0% {
          top:14px;
          left:-1px;
        }
        100% {
          top:16px;
          left:1px;
        }
      }
      /*动画名称*/
      @-webkit-keyframes follow-showicon-small {
        .anim-followicon-small();
      }
      @-moz-keyframes follow-showicon-small {
        .anim-followicon-small();
      }
      @-ms-keyframes follow-showicon-small {
        .anim-followicon-small();
      }
      @keyframes follow-showicon-small {
        .anim-followicon-small();
      }
      /*动画状态*/
      .anim-followicon-big() {
        0% {
          top:1px;
          left:21px;
        }
        100% {
          top:-1px;
          left:19px;
        }
      }
      /*动画名称*/
      @-webkit-keyframes follow-showicon-big {
        .anim-followicon-big();
      }
      @-moz-keyframes follow-showicon-big {
        .anim-followicon-big();
      }
      @-ms-keyframes follow-showicon-big {
        .anim-followicon-big();
      }
      @keyframes follow-showicon-big {
        .anim-followicon-big();
      }
    }
  }
}


/*交换跟踪办文流程*/
.wx-followtext-wrap{
  .layout-fixedl-base();
  padding:@grid-list-gap * 2 @grid-list-gap * 2 @grid-list-gap * 6 @grid-list-gap * 2;
  background-color:rgba(0,0,0,.4);
  width:100vw;
  height:100vh;
  .wx-followtext-show{
    width:100%;
    height:100%;
    background-color:@color-global-white;
    padding:@labeltheme-height 0;
    .box-shadow-base(1px 1px 5px 0 @color-gray6);
    >ul{
      height:100%;
      overflow-y:auto;
      padding-top:@grid-list-gap * 2;
      padding-bottom:@grid-list-gap * 2;
    }
    >h1{
      width:100%;
      height:@labeltheme-height;
      line-height: @labeltheme-height;
      .user-select-base();
      font-size:@font-size-base + 4;
      text-align: center;
      .text-ofe();
      color:@color-gray3;
      margin:-@labeltheme-height 0 0 0;
      padding:0 @grid-list-gap;
      border-bottom:1px solid @color-gray13;
      font-weight: normal;
    }
    >div{
      width:100%;
      height: @labeltheme-height;
      margin:0 0 -@labeltheme-height 0;
      line-height: @labeltheme-height;
      text-align: center;
      color:@color-blue1;
      font-size:@font-size-base + 2;
      border-top:1px solid @color-gray14;
      cursor: pointer;
      &,
      &:hover,
      &:active,
      &:focus {
        .user-tap-base();
      }
      .user-select-base();
      &:hover{
        background-color:lighten(@color-gray14,5%);
        color:darken(@color-blue1,10%);
      }
      &:active{
        color:darken(@color-blue1,15%);
        background-color:lighten(@color-gray14,2%);
      }
    }
  }
}



/*交换跟踪提醒*/
/*短信群发*/
.alert-send-message{
  width: 100%;
  height: auto;
  display: block;
  background-color: @color-global-white;
  .transition-base(all .3s ease-in .01s);
  padding: @tool-list-gap;
  &,
  &:hover,
  &:active,
  &:focus {
    .user-tap-base();
  }
  .user-select-base();
  > label {
    @label-height:40px;

    width:100%;
    height: @label-height;
    display: inline-block;
    padding:@tool-list-gap;
    line-height: @label-height - @tool-list-gap * 2;
    font-size: @font-size-base + 2;
    color: @color-gray6;
    vertical-align: middle;
    > input[type="checkbox"],
    > input[type="radio"] {
      width: @span-icon-width;
      height: @span-icon-width;
      display: inline-block;
      margin: 0 @tool-list-gap * .5;
    }
  }
}












