/*头部*/
.layout-header-wrap {
  .layout-fixedl-base();
  .box-sizing-base();
  .box-shadow-base(0 0 20px 0 @color-gray3);
  height: @layout-header-height;
  background-color: @color-white;
  /*logo*/
  .header-logo {
    height: 100%;
    .layout-float-base(@layout-logo-width + @layout-logo-gapl);
    background: url('@{core-base-url}/logo.png') no-repeat right center;
  }
  /*menu*/
  .header-menu-wrap {
    padding-right: @layout-logo-gapl;
    .layout-float-base(auto, border-box, right);
    display: inline-block;
    height: 100%;
  }
  .header-menu {
    .layout-relative-base();
    display: inline-block;
    height: 100%;
  }
  .header-toggle {
    width: 0;
    height: 0;
    display: none;
  }
  .header-nav,
  .header-nav > li {
    .box-sizing-base();
    display: inline-block;
    height: 100%;
  }
  .header-nav {
    @item-gap: 20px;
    font-size: 0;
    > li {
      width: 180px;
      .transition-base(all .2s ease-in .01s);
      padding: @item-gap 0;
      border-bottom: 5px solid @color-white;
      text-align: center;
      cursor: pointer;
      &:hover {
        border-bottom: 5px solid darken(@layout-color-blue1, 5%);
        a,
        span {
          color: darken(@layout-color-blue1, 5%);
        }
      }
    }
    a,
    span {
      width: 100%;
      text-align: center;
      height: 50%;
      display: inline-block;
      line-height: (@layout-header-height - (@item-gap * 2)) / 2;
      color: @color-gray6;
    }
    a {
      font-size: @font-size-base + 6;
      font-weight: bold;
    }
    span {
      font-size: @font-size-base;
    }
    .menu-active {
      border-bottom: 5px solid @layout-color-blue1;
      a,
      span {
        color: @layout-color-blue1;
      }
    }
  }
}