<div ng-controller="FinanceController as finance_ctrl">
    <div class="struct-layout-container struct-layout-default">
        <div class="struct-layout-main">

            <!--查询区域-->
            <div ng-show="finance_ctrl.record.theme==='profit' || finance_ctrl.record.theme==='clear'" class="admin-action-item">
                <!--过滤-->
                <div class="action-item-input g-w-percent10">
                    <label class="action-indent-b2">过滤:<input class="form-control input-sm" placeholder="" ng-model="finance_ctrl.record.filter" ng-keyup="finance_ctrl.filterDataTable()"  type="search"></label>
                </div>

                <!--条件查询-->
                <div class="action-item-input g-w-percent12 g-gap-mr2">
                    <label class="action-indent-b4">分润类型:
                        <select class="form-control g-clear-pt g-clear-pb" ng-init="finance_ctrl.record.type=1" ng-model="finance_ctrl.record.type" ng-options="item.value as item.key for item in finance_ctrl.typeitem"></select>
                    </label>
                </div>

                <!--过滤-->
                <div class="action-item-input g-w-percent15">
                    <label class="action-indent-b5">查询关键字:<input class="form-control input-sm" placeholder="" ng-model="finance_ctrl.record.searchWord" type="text">
                    </label>
                </div>

                <!--查询-->
                <div class="action-item-btn action-item-export g-w-percent5">
                    <span ng-click="finance_ctrl.queryFinance()" class="btn btn-export g-br3 g-w-percent50 g-c-blue3">查询</span>
                </div>
            </div>


            <!--分润模块-->
            <div ng-show="finance_ctrl.record.theme==='profit'">

                <!--分润模块--统计-->
                <div ng-show="finance_ctrl.record.tab==='stats'">
                    <div class="admin-action-item">
                        <!--批量清算-->
                        <div class="action-item-btn g-f-l g-w-percent20">
                            <span ng-show="::finance_ctrl.powerlist.profit_clear && (finance_ctrl.record.organizationId!=='' || finance_ctrl.record.currentId!=='')"  ng-click="finance_ctrl.actionClear()" ><i class="btn-action admin-btn-action8"></i>批量清算</span>
                        </div>
                        <!--列控制-->
                        <div class="action-item-ul g-w-percent6 g-f-r g-pos-r" ng-show="::finance_ctrl.table.tablecolumn1.columnshow">
                            <div class="action-theme action-theme-btn g-br3 g-t-c">显示列</div>
                            <div class="action-ul g-d-hidei" id="admin_table_checkcolumn1">
                                <ul class="action-list-wrap" ></ul>
                            </div>
                        </div>
                    </div>

                    <div class="admin-layout-theme4 g-t-c g-b-gray17">分润统计</div>
                    <!--表格-->
                    <table id="admin_list_wrap1" class="table table-bordered table-striped table-hover admin-layout-table">
                        <!--分组样式-->
                        <colgroup id="admin_list_colgroup1">
                            <col class="g-w-percent3">
                            <col class="g-w-percent5">
                            <col class="g-w-percent9">
                            <col class="g-w-percent9">
                            <col class="g-w-percent9">
                            <col class="g-w-percent5">
                            <col class="g-w-percent10">
                        </colgroup>

                        <!--表头-->
                        <thead>
                        <tr>
                            <th class="g-clear-pl g-clear-pr g-t-c">
                                <div class="admin-batchitem-wrap" ng-show="::finance_ctrl.powerlist.profit_clear" >
                                    <label data-check="0" class="admin-batchitem-check" id="admin_finance_checkall1"></label>
                                </div>
                            </th>
                            <th>销售金额</th>
                            <th>一级分润金额</th>
                            <th>二级分润金额</th>
                            <th>三级分润金额</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>

                        <!--表主体-->
                        <tbody id="admin_batchlist_wrap1" class="middle-align"></tbody>
                    </table>

                    <!--分页-->
                    <div class="admin-page-wrap">
                        <div class="easyui-pagination g-w-percent50" id="admin_page_wrap1" data-options="links:5,layout:['manual','first','prev','links','next','last'],displayMsg:'显示{from}&nbsp;到&nbsp;{to}&nbsp;共&nbsp;{total}条记录'"></div>
                    </div>
                </div>


                <!--分润模块--历史-->
                <div ng-show="finance_ctrl.record.tab==='history'">
                    <div class="admin-action-item">
                        <!--批量清算-->
                        <div class="action-item-btn g-f-l g-w-percent20">
                            <span ng-show="::finance_ctrl.powerlist.profit_clear && (finance_ctrl.record.organizationId!=='' || finance_ctrl.record.currentId!=='')"  ng-click="finance_ctrl.actionClear()" ><i class="btn-action admin-btn-action8"></i>批量清算</span>
                        </div>
                        <!--列控制-->
                        <div class="action-item-ul g-w-percent6 g-f-r g-pos-r" ng-show="::finance_ctrl.table.tablecolumn2.columnshow">
                            <div class="action-theme action-theme-btn g-br3 g-t-c">显示列</div>
                            <div class="action-ul g-d-hidei" id="admin_table_checkcolumn2">
                                <ul class="action-list-wrap" ></ul>
                            </div>
                        </div>
                    </div>

                    <div class="admin-layout-theme4 g-t-c g-b-gray17">分润历史</div>
                    <!--表格-->
                    <table id="admin_list_wrap2" class="table table-bordered table-striped table-hover admin-layout-table">
                        <!--分组样式-->
                        <colgroup id="admin_list_colgroup2">
                            <col class="g-w-percent3">
                            <col class="g-w-percent5">
                            <col class="g-w-percent5">
                            <col class="g-w-percent9">
                            <col class="g-w-percent5">
                            <col class="g-w-percent5">
                            <col class="g-w-percent5">
                            <col class="g-w-percent5">
                            <col class="g-w-percent8">
                        </colgroup>

                        <!--表头-->
                        <thead>
                        <tr>
                            <th class="g-clear-pl g-clear-pr g-t-c">
                                <div class="admin-batchitem-wrap" ng-show="::finance_ctrl.powerlist.profit_clear" >
                                    <label data-check="0" class="admin-batchitem-check" id="admin_finance_checkall2"></label>
                                </div>
                            </th>
                            <th>年份</th>
                            <th>月份</th>
                            <th>销售金额</th>
                            <th>一级分润金额</th>
                            <th>二级分润金额</th>
                            <th>三级分润金</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>

                        <!--表主体-->
                        <tbody id="admin_batchlist_wrap2" class="middle-align"></tbody>
                    </table>

                    <!--分页-->
                    <div class="admin-page-wrap">
                        <div class="easyui-pagination g-w-percent50" id="admin_page_wrap2" data-options="links:5,layout:['manual','first','prev','links','next','last'],displayMsg:'显示{from}&nbsp;到&nbsp;{to}&nbsp;共&nbsp;{total}条记录'"></div>
                    </div>
                </div>
            </div>

            <!--清算模块-->
            <div ng-show="finance_ctrl.record.theme==='clear'">
                <!--清算模块--统计-->
                <div  ng-show="finance_ctrl.record.tab==='stats'">
                    <div class="admin-action-item">
                        <!--批量清算-->
                        <div class="action-item-btn g-f-l g-w-percent20">
                            <span ng-show="::finance_ctrl.powerlist.profit_clear && (finance_ctrl.record.organizationId!=='' || finance_ctrl.record.currentId!=='')"  ng-click="finance_ctrl.actionClear()" ><i class="btn-action admin-btn-action8"></i>批量清算</span>
                        </div>
                        <!--列控制-->
                        <div class="action-item-ul g-w-percent6 g-f-r g-pos-r" ng-show="::finance_ctrl.table.tablecolumn3.columnshow">
                            <div class="action-theme action-theme-btn g-br3 g-t-c">显示列</div>
                            <div class="action-ul g-d-hidei" id="admin_table_checkcolumn3">
                                <ul class="action-list-wrap" ></ul>
                            </div>
                        </div>
                    </div>

                    <div class="admin-layout-theme4 g-t-c g-b-gray17">清算统计</div>
                    <!--表格-->
                    <table id="admin_list_wrap3" class="table table-bordered table-striped table-hover admin-layout-table">
                        <!--分组样式-->
                        <colgroup id="admin_list_colgroup3">
                            <col class="g-w-percent3">
                            <col class="g-w-percent8">
                            <col class="g-w-percent6">
                            <col class="g-w-percent10">
                            <col class="g-w-percent10">
                            <col class="g-w-percent5">
                            <col class="g-w-percent8">
                        </colgroup>

                        <!--表头-->
                        <thead>
                        <tr>
                            <th class="g-clear-pl g-clear-pr g-t-c">
                                <div class="admin-batchitem-wrap" ng-show="::finance_ctrl.powerlist.profit_clear" >
                                    <label data-check="0" class="admin-batchitem-check" id="admin_finance_checkall3"></label>
                                </div>
                            </th>
                            <th>销售金额</th>
                            <th>分润金额</th>
                            <th>已清算金额</th>
                            <th>未清算金额</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>

                        <!--表主体-->
                        <tbody id="admin_batchlist_wrap3" class="middle-align"></tbody>
                    </table>

                    <!--分页-->
                    <div class="admin-page-wrap">
                        <div class="easyui-pagination g-w-percent50" id="admin_page_wrap3" data-options="links:5,layout:['manual','first','prev','links','next','last'],displayMsg:'显示{from}&nbsp;到&nbsp;{to}&nbsp;共&nbsp;{total}条记录'"></div>
                    </div>
                </div>


                <!--清算模块--历史-->
                <div  ng-show="finance_ctrl.record.tab==='history'">
                    <div class="admin-action-item">
                        <!--批量清算-->
                        <div class="action-item-btn g-f-l g-w-percent20">
                            <span ng-show="::finance_ctrl.powerlist.profit_clear && (finance_ctrl.record.organizationId!=='' || finance_ctrl.record.currentId!=='')"  ng-click="finance_ctrl.actionClear()" ><i class="btn-action admin-btn-action8"></i>批量清算</span>
                        </div>
                        <!--列控制-->
                        <div class="action-item-ul g-w-percent6 g-f-r g-pos-r" ng-show="::finance_ctrl.table.tablecolumn4.columnshow">
                            <div class="action-theme action-theme-btn g-br3 g-t-c">显示列</div>
                            <div class="action-ul g-d-hidei" id="admin_table_checkcolumn4">
                                <ul class="action-list-wrap" ></ul>
                            </div>
                        </div>
                    </div>

                    <div class="admin-layout-theme4 g-t-c g-b-gray17">清算历史</div>
                    <!--表格-->
                    <table id="admin_list_wrap4" class="table table-bordered table-striped table-hover admin-layout-table">
                        <!--分组样式-->
                        <colgroup id="admin_list_colgroup4">
                            <col class="g-w-percent3">
                            <col class="g-w-percent5">
                            <col class="g-w-percent5">
                            <col class="g-w-percent9">
                            <col class="g-w-percent5">
                            <col class="g-w-percent5">
                            <col class="g-w-percent5">
                            <col class="g-w-percent5">
                            <col class="g-w-percent8">
                        </colgroup>

                        <!--表头-->
                        <thead>
                        <tr>
                            <th class="g-clear-pl g-clear-pr g-t-c">
                                <div class="admin-batchitem-wrap" ng-show="::finance_ctrl.powerlist.profit_clear" >
                                    <label data-check="0" class="admin-batchitem-check" id="admin_finance_checkall4"></label>
                                </div>
                            </th>
                            <th>年份</th>
                            <th>月份</th>
                            <th>销售金额</th>
                            <th>一级分润金额</th>
                            <th>二级分润金额</th>
                            <th>三级分润金</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>

                        <!--表主体-->
                        <tbody id="admin_batchlist_wrap4" class="middle-align"></tbody>
                    </table>

                    <!--分页-->
                    <div class="admin-page-wrap">
                        <div class="easyui-pagination g-w-percent50" id="admin_page_wrap4" data-options="links:5,layout:['manual','first','prev','links','next','last'],displayMsg:'显示{from}&nbsp;到&nbsp;{to}&nbsp;共&nbsp;{total}条记录'"></div>
                    </div>
                </div>

            </div>


            <!--除权除息分红-->
            <div ng-show="finance_ctrl.record.theme==='bonus'">

                <!--主题信息-->
                <h1 class="admin-layout-theme3 g-clear-pt">
                    <span>组织机构：&nbsp;{{finance_ctrl.record.organizationName===''?finance_ctrl.record.currentName:finance_ctrl.record.organizationName}}</span>
                    <span class="g-fs4">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;除权除息分红&nbsp;&nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-default g-c-blue3" ng-disabled="finance_ctrl.record.organizationId==='' && finance_ctrl.record.currentId===''" ng-click="finance_ctrl.actionBonus({display:'show',area:'bonus',type:'add'})"><i class="btn-action admin-btn-action1"></i>&nbsp;添加除权除息分红</button>
                    </span>
                </h1>

                <!--操作选项-->
                <div class="admin-action-item">
                    <!--过滤-->
                    <div class="action-item-input g-w-percent10">
                        <label class="action-indent-b2">过滤:<input class="form-control input-sm" placeholder="" ng-model="finance_ctrl.record.filter" ng-keyup="finance_ctrl.filterDataTable()"  type="search"></label>
                    </div>

                    <!--列控制-->
                    <div class="action-item-ul g-w-percent6 g-pos-r" ng-show="::finance_ctrl.table.tablecolumn5.columnshow">
                        <div class="action-theme action-theme-btn g-br3 g-t-c">显示列</div>
                        <div class="action-ul g-d-hidei" id="admin_table_checkcolumn5">
                            <ul class="action-list-wrap" ></ul>
                        </div>
                    </div>
                </div>

                <!--表格-->
                <table id="admin_list_wrap5" class="table table-bordered table-striped table-hover admin-layout-table">
                    <!--分组样式-->
                    <colgroup id="admin_list_colgroup5">
                        <col class="g-w-percent8">
                        <col class="g-w-percent6">
                        <col class="g-w-percent8">
                        <col class="g-w-percent6">
                        <col class="g-w-percent8">
                        <col class="g-w-percent6">
                        <col class="g-w-percent8">
                    </colgroup>

                    <!--表头-->
                    <thead>
                    <tr>
                        <th>除权日</th>
                        <th>除权</th>
                        <th>除息日</th>
                        <th>除息</th>
                        <th>分红日</th>
                        <th>分红</th>
                        <th>操作</th>
                    </tr>
                    </thead>

                    <!--表主体-->
                    <tbody id="admin_batchlist_wrap5" class="middle-align"></tbody>
                </table>


                <!--分页-->
                <div class="admin-page-wrap">
                    <div class="easyui-pagination g-w-percent50" id="admin_page_wrap5" data-options="links:5,layout:['manual','first','prev','links','next','last'],displayMsg:'显示{from}&nbsp;到&nbsp;{to}&nbsp;共&nbsp;{total}条记录'"></div>
                </div>
            </div>


        </div>



        <div class="struct-layout-side" >

            <!--选项卡组件-->
            <ul class="sub-tab-wrap sub-item-group3 sub-itembr-group3 ui-sub-tab" data-action="toggleTheme" data-ctrlname="finance_ctrl"  data-tabitem="finance_ctrl.themeitem"></ul>


            <!--选项卡组件-->
            <ul class="sub-tab-wrap sub-item-group2 sub-itembr-group2 ui-sub-tab" data-action="toggleTab" data-ctrlname="finance_ctrl"  data-tabitem="finance_ctrl.tabitem"></ul>

            <!--子菜单组件-->
            <ul class="sub-menu-wrap">
                <li>
                    <a class="sub-menu-title sub-menu-titleactive" data-parentid="" data-id="finance_ctrl.record.currentId" data-layer="0" ng-click="finance_ctrl.initSubMenu()">{{finance_ctrl.record.currentName}}</a>
                    <ul class="g-d-showi ui-sub-menu" ng-click="finance_ctrl.toggleSubMenu($event)" id="admin_finance_submenu" ng-init="finance_ctrl.initSubMenu()"></ul>
                </li>
            </ul>
        </div>
    </div>

    <!--查看订单详情-->
    <div class="modal fade custom-width" id="admin_orderdetail_dialog">
        <div class="modal-dialog g-w-percent40">
            <div class="modal-content">
                <div class="modal-body">
                    <table class="table table-bordered table-striped table-hover admin-layout-table">

                        <!--分组样式-->
                        <colgroup>
                            <col class="g-w-percent2">
                            <col class="g-w-percent14">
                            <col class="g-w-percent17">
                            <col class="g-w-percent17">
                        </colgroup>
                        <!--头部-->
                        <thead>
                        <tr>
                            <th class="g-t-c" colspan="4">订单详情</th>
                        </tr>
                        </thead>

                        <!--表主体-->
                        <tbody id="admin_orderdetail_show" class="middle-align"></tbody>
                    </table>
                    <div class="clearfix"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>


    <!--弹出层--提示操作界面-->
    <!--添加，编辑除权除息分红-->
    <div class="modal fade custom-width" id="admin_bonus_dialog">
        <div class="modal-dialog g-w-percent30">
            <div class="modal-content">
                <div class="modal-body">
                    <!--表单-->
                    <div class="g-w-percent50">
                        <div class="admin-layout-theme4 admin-theme-close g-t-c g-b-gray17 g-pos-r">{{finance_ctrl.bonus.id===''?'新增除权除息分红':'编辑除权除息分红'}}
                            <span class="mini-icon admin-mini-icon1" ng-click="finance_ctrl.toggleModal({display:'hide',area:'bonus'})"></span>
                        </div>

                        <form ng-submit="finance_ctrl.formSubmit('bonus')" name="bonusFrom" role="form" novalidate method="post" class="admin-layout-form">

                            <div class="form-group-self1">
                                <label class="self-label g-w-percent10 g-t-r"><span class="self-require g-c-red1">*</span>除权日</label>

                                <div class="self-input g-pos-r g-w-percent40">
                                    <input type="text" name="exrightDate" placeholder="请选择除权日" required ng-model="finance_ctrl.bonus.exrightDate" id="bonus_exrightdate" readonly />
                                </div>
                            </div>

                            <div class="form-group-self1">
                                <label class="self-label g-w-percent10 g-t-r"><span class="self-require g-c-red1">*</span>除权</label>

                                <div class="self-input g-pos-r g-w-percent40">
                                    <input type="text" name="exright" data-limit="15" maxlength="15" class="ui-double-point" placeholder="请输入除权" required ng-model="finance_ctrl.bonus.exright" />
                                    <span ng-show="bonusFrom.exright.$dirty && bonusFrom.exright.$error.required" class="self-tips self-tips-no g-c-red1 g-fs4 g-w-percent50 ">除权不能为空</span>
                                    <span ng-show="bonusFrom.exright.$dirty && bonusFrom.exright.$valid" class="self-tips self-tips-yes"></span>
                                </div>
                            </div>

                            <div class="form-group-self1">
                                <label class="self-label g-w-percent10 g-t-r"><span class="self-require g-c-red1">*</span>除息日</label>

                                <div class="self-input g-pos-r g-w-percent40">
                                    <input type="text" id="bonus_exdividenddate" name="exdividendDate" placeholder="请选择除息日" required ng-model="finance_ctrl.bonus.exdividendDate" readonly />
                                </div>
                            </div>

                            <div class="form-group-self1">
                                <label class="self-label g-w-percent10 g-t-r"><span class="self-require g-c-red1">*</span>除权</label>

                                <div class="self-input g-pos-r g-w-percent40">
                                    <input type="text" name="exdividend" data-limit="15" maxlength="15" class="ui-double-point" placeholder="请输入除息" required ng-model="finance_ctrl.bonus.exdividend" />
                                    <span ng-show="bonusFrom.exdividend.$dirty && bonusFrom.exdividend.$error.required" class="self-tips self-tips-no g-c-red1 g-fs4 g-w-percent50 ">除息不能为空</span>
                                    <span ng-show="bonusFrom.exdividend.$dirty && bonusFrom.exdividend.$valid" class="self-tips self-tips-yes"></span>
                                </div>
                            </div>


                            <div class="form-group-self1">
                                <label class="self-label g-w-percent10 g-t-r"><span class="self-require g-c-red1">*</span>分红日</label>

                                <div class="self-input g-pos-r g-w-percent40">
                                    <input type="text" id="bonus_bonusdate" name="bonusDate" placeholder="请选择分红日" required ng-model="finance_ctrl.bonus.bonusDate" readonly />
                                </div>
                            </div>

                            <div class="form-group-self1">
                                <label class="self-label g-w-percent10 g-t-r"><span class="self-require g-c-red1">*</span>分红</label>

                                <div class="self-input g-pos-r g-w-percent40">
                                    <input type="text" name="bonus" data-limit="15" maxlength="15" class="ui-double-point" placeholder="请输入分红" required ng-model="finance_ctrl.bonus.bonus" />
                                    <span ng-show="bonusFrom.bonus.$dirty && bonusFrom.bonus.$error.required" class="self-tips self-tips-no g-c-red1 g-fs4 g-w-percent50 ">分红不能为空</span>
                                    <span ng-show="bonusFrom.bonus.$dirty && bonusFrom.bonus.$valid" class="self-tips self-tips-yes"></span>
                                </div>
                            </div>

                            <div class="form-group-self1">
                                <button type="submit" ng-show="finance_ctrl.bonus.id===''" ng-disabled="!(finance_ctrl.bonus.id==='' && bonusFrom.exrightDate.$valid && bonusFrom.exright.$dirty && bonusFrom.exright.$valid && bonusFrom.exdividendDate.$valid && bonusFrom.exdividend.$dirty && bonusFrom.exdividend.$valid && bonusFrom.bonusDate.$valid && bonusFrom.bonus.$dirty && bonusFrom.bonus.$valid)"  class="btn btn-red g-br3 g-w-percent50">新增</button>
                                <button type="submit" ng-show="finance_ctrl.bonus.id!==''" ng-disabled="!(finance_ctrl.bonus.id!=='' && bonusFrom.exrightDate.$valid && bonusFrom.exright.$valid && bonusFrom.exdividendDate.$valid && bonusFrom.exdividend.$valid && bonusFrom.bonusDate.$valid && bonusFrom.bonus.$valid)"  class="btn btn-red g-br3 g-w-percent50">编辑</button>
                                <button type="button" class="btn btn-red g-br3 g-w-percent50 g-gap-mt2" id="admin_bonus_reset" ng-click="finance_ctrl.formReset(bonusFrom,'bonus')">取消</button>
                            </div>
                        </form>

                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>


    <!--查看除权除息分红-->
    <div class="modal fade custom-width" id="admin_bonusdetail_dialog">
        <div class="modal-dialog g-w-percent40">
            <div class="modal-content">
                <div class="modal-body">
                    <!--表单-->
                    <table class="table table-bordered table-striped table-hover admin-layout-table">

                        <!--分组样式-->
                        <colgroup>
                            <col class="g-w-percent10">
                            <col class="g-w-percent40">
                        </colgroup>
                        <!--头部-->
                        <thead>
                        <tr>
                            <th class="g-t-c" colspan="2">除权除息分红详情</th>
                        </tr>
                        </thead>

                        <!--表主体-->
                        <tbody id="admin_bonusdetail_show" class="middle-align"></tbody>
                    </table>
                    <div class="clearfix"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>

</div>











