<div ng-controller="PurchaseController as purchase_ctrl">
    <div class="struct-layout-container struct-layout-default">
        <div class="struct-layout-main">
            <!--订单管理-->
            <div class="admin-action-item">

                <!--过滤-->
                <div class="action-item-input g-w-percent13">
                    <label class="action-indent-b2">过滤:<input class="form-control input-sm" placeholder="" ng-model="purchase_ctrl.record.filter" ng-keyup="purchase_ctrl.filterDataTable()"  type="search"></label>
                </div>

                <!--开始时间-->
                <div class="action-item-input g-w-percent15">
                    <label class="action-indent-b2 dt-icon-after">开始时间:<input ng-model="purchase_ctrl.record.startTime"  class="form-control" id="search_startTime" placeholder="请选择开始时间" readonly type="text"></label>
                </div>

                <!--结束时间-->
                <div class="action-item-input g-w-percent15">
                    <label class="action-indent-b2 dt-icon-after">结束时间:<input class="form-control" placeholder="请选择结束时间" id="search_endTime" ng-model="purchase_ctrl.record.endTime" readonly type="text"></label>
                </div>

                <!--打印，导出-->
                <div ng-show="false" class="action-item-btn action-item-export g-w-percent8">
                    <span ng-show="purchase_ctrl.powerlist.purchase_print" class="btn btn-export g-br3 g-c-blue3">打印</span>
                    <span ng-show="purchase_ctrl.powerlist.purchase_export" class="btn btn-export g-br3 g-c-blue3">导出</span>
                </div>

                <div class="clearfix"></div>
                <div class="action-item-input g-w-percent15">
                    <label class="action-indent-b4">搜索条件:<input class="form-control input-sm g-w-percent48" placeholder="请输入查询条件" ng-model="purchase_ctrl.record.searchWord"  type="text"></label>
                </div>

                <div ng-show="purchase_ctrl.record.organizationId!==''" class="action-item-btn action-item-export g-gap-mt4 g-w-percent6">
                    <span ng-click="purchase_ctrl.queryPurchase()" class="btn btn-export g-br3 g-w-percent50 g-c-blue3">查询</span>
                </div>

                <!--列控制-->
                <div ng-class="{'g-d-hidei':purchase_ctrl.record.action!==1}" class="action-item-ul g-w-percent6 g-pos-r g-gap-ml2" ng-show="::purchase_ctrl.table.tablecolumn1.columnshow">
                    <div class="action-theme action-theme-btn g-br3 g-t-c">显示列</div>
                    <div class="action-ul g-d-hidei" id="admin_table_checkcolumn1">
                        <ul class="action-list-wrap" ></ul>
                    </div>
                </div>


                <!--列控制-->
                <div ng-class="{'g-d-hidei':purchase_ctrl.record.action!==2}" class="action-item-ul g-w-percent6 g-pos-r g-gap-ml2" ng-show="::purchase_ctrl.table.tablecolumn2.columnshow">
                    <div class="action-theme action-theme-btn g-br3 g-t-c">显示列</div>
                    <div class="action-ul g-d-hidei" id="admin_table_checkcolumn2">
                        <ul class="action-list-wrap" ></ul>
                    </div>
                </div>

                <!--批量审核-->
                <div ng-class="{'g-d-hidei':(purchase_ctrl.record.action!==2 && purchase_ctrl.audit.type!=='batch')}" class="action-item-btn action-item-export g-w-percent6 g-gap-ml2">
                    <span ng-click="purchase_ctrl.queryAudit()" class="btn btn-export g-br3 g-w-percent50 g-c-blue3">批量审核</span>
                </div>
            </div>

            <div ng-class="{'g-d-hidei':purchase_ctrl.record.action!==1}">
                <!--表格-->
                <table id="admin_list_wrap1" class="table table-bordered table-striped table-hover admin-layout-table">
                    <!--分组样式-->
                    <colgroup id="admin_list_colgroup1">
                        <col class="g-w-percent10">
                        <col class="g-w-percent8">
                        <col class="g-w-percent2">
                        <col class="g-w-percent5">
                        <col class="g-w-percent8">
                        <col class="g-w-percent8">
                        <col class="g-w-percent4">
                        <col class="g-w-percent5">
                    </colgroup>

                    <!--表头-->
                    <thead>
                    <tr>
                        <th>采购单号</th>
                        <th>采购时间</th>
                        <th>采购数量</th>
                        <th>采购总价</th>
                        <th>供应商</th>
                        <th>供应商手机</th>
                        <th>审核状态</th>
                        <th>操作</th>
                    </tr>
                    </thead>

                    <!--表主体-->
                    <tbody id="admin_batchlist_wrap1" class="middle-align"></tbody>
                </table>

                <!--分页-->
                <div class="admin-page-wrap">
                    <div class="easyui-pagination g-w-percent50" id="admin_page_wrap1" data-options="links:5,layout:['manual','first','prev','links','next','last'],displayMsg:'显示{from}&nbsp;到&nbsp;{to}&nbsp;共&nbsp;{total}条记录'"></div>
                </div>
            </div>


            <div ng-class="{'g-d-hidei':purchase_ctrl.record.action!==2}">
                <!--表格-->
                <table id="admin_list_wrap2" class="table table-bordered table-striped table-hover admin-layout-table">
                    <!--分组样式-->
                    <colgroup id="admin_list_colgroup2">
                        <col class="g-w-percent2">
                        <col class="g-w-percent10">
                        <col class="g-w-percent8">
                        <col class="g-w-percent3">
                        <col class="g-w-percent3">
                        <col class="g-w-percent8">
                        <col class="g-w-percent6">
                        <col class="g-w-percent5">
                        <col class="g-w-percent5">
                    </colgroup>

                    <!--表头-->
                    <thead>
                    <tr>
                        <th class="g-clear-pl g-clear-pr g-t-c">
                            <div class="admin-batchitem-wrap" ng-show="purchase_ctrl.powerlist.purchase_audit" >
                                <label data-check="0" class="admin-batchitem-check" id="admin_purchase_checkall2"></label>
                            </div>
                        </th>
                        <th>采购单号</th>
                        <th>采购时间</th>
                        <th>采购数量</th>
                        <th>采购总价</th>
                        <th>供应商</th>
                        <th>供应商手机</th>
                        <th>审核状态</th>
                        <th>操作</th>
                    </tr>
                    </thead>

                    <!--表主体-->
                    <tbody id="admin_batchlist_wrap2" class="middle-align"></tbody>
                </table>

                <!--分页-->
                <div class="admin-page-wrap">
                    <div class="easyui-pagination g-w-percent50" id="admin_page_wrap2" data-options="links:5,layout:['manual','first','prev','links','next','last'],displayMsg:'显示{from}&nbsp;到&nbsp;{to}&nbsp;共&nbsp;{total}条记录'"></div>
                </div>
            </div>

        </div>

        <div class="struct-layout-side">

            <!--选项卡组件-->
            <ul class="sub-tab-wrap sub-item-group2 sub-itembr-group2 ui-sub-tab" data-action="toggleTheme" data-ctrlname="purchase_ctrl"  data-tabitem="purchase_ctrl.themeitem"></ul>

            <!--子菜单组件-->
            <div id="submenu_scroll_wrap">
                <ul class="sub-menu-wrap">
                    <li>
                        <a class="sub-menu-title sub-menu-titleactive" data-parentid="" data-id="purchase_ctrl.record.currentId" data-layer="0" ng-click="purchase_ctrl.initSubMenu()">{{purchase_ctrl.record.currentName}}</a>
                        <ul class="g-d-showi ui-sub-menu" ng-click="purchase_ctrl.toggleSubMenu($event)" id="admin_purchase_submenu" ng-init="purchase_ctrl.initSubMenu()"></ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!--查看采购详情-->
    <div class="modal fade custom-width" id="admin_purchasedetail_dialog">
        <div class="modal-dialog g-w-percent48">
            <div class="modal-content">
                <div class="modal-body">
                    <table class="table table-bordered table-striped table-hover admin-layout-table">

                        <!--分组样式-->
                        <colgroup>
                            <col class="g-w-percent2">
                            <col class="g-w-percent4">
                            <col class="g-w-percent16">
                            <col class="g-w-percent13">
                            <col class="g-w-percent8">
                            <col class="g-w-percent7">
                        </colgroup>
                        <!--头部-->
                        <thead>
                        <tr>
                            <th class="g-t-c" colspan="6">采购详情</th>
                        </tr>
                        </thead>

                        <!--表主体-->
                        <tbody id="admin_purchasedetail_show" class="middle-align"></tbody>
                    </table>
                    <div class="clearfix"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-red" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>


    <!--查看订单收货-->
    <div class="modal fade custom-width" id="admin_receive_dialog">
        <div class="modal-dialog g-w-percent48">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="admin-layout-theme4 admin-theme-close g-t-c g-b-gray17 g-pos-r">订单收货<span class="mini-icon admin-mini-icon1" ng-click="purchase_ctrl.toggleModal({display:'hide',area:'receive'})"></span>
                    </div>

                    <!--收货详情-->
                    <table class="table table-bordered table-striped table-hover admin-layout-table">
                        <!--分组样式-->
                        <colgroup>
                            <col class="g-w-percent20">
                            <col class="g-w-percent1">
                            <col class="g-w-percent20">
                            <col class="g-w-percent6">
                            <col class="g-w-percent3">
                        </colgroup>

                        <!--头部-->
                        <thead>
                        <tr>
                            <th>商品详情</th>
                            <th>序号</th>
                            <th>商户名称</th>
                            <th>规格属性(商品型号)</th>
                            <th>数量</th>
                        </tr>
                        </thead>

                        <!--表主体-->
                        <tbody id="admin_receive_show" class="middle-align"></tbody>
                    </table>
                    <div class="clearfix"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-red g-w-number4" ng-click="purchase_ctrl.sureReceive()">收货</button>
                    <button type="button" class="btn btn-red" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>


    <!--查看订单审核-->
    <div class="modal fade custom-width" id="admin_audit_dialog">
        <div class="modal-dialog g-w-percent48">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="admin-layout-theme4 admin-theme-close g-t-c g-b-gray17 g-pos-r">审核<span class="mini-icon admin-mini-icon1" ng-click="purchase_ctrl.toggleModal({display:'hide',area:'audit'})"></span>
                    </div>
                    <!--发货货详情-->
                    <table class="table table-bordered table-striped table-hover admin-layout-table">
                        <!--分组样式-->
                        <colgroup>
                            <col class="g-w-percent2">
                            <col class="g-w-percent8">
                            <col class="g-w-percent8">
                            <col class="g-w-percent4">
                            <col class="g-w-percent5">
                            <col class="g-w-percent8">
                            <col class="g-w-percent6">
                            <col class="g-w-percent4">
                            <col class="g-w-percent5">
                        </colgroup>

                        <!--头部-->
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>采购单号</th>
                            <th>采购时间</th>
                            <th>采购数量</th>
                            <th>采购总价</th>
                            <th>供应商</th>
                            <th>供应商手机</th>
                            <th>审核状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>

                        <!--表主体-->
                        <tbody id="admin_audit_show" class="middle-align"  ng-click="purchase_ctrl.actionAudit($event)"></tbody>

                        <tfoot ng-class="{'g-d-hidei':!purchase_ctrl.audit.editshow}">
                            <tr>
                                <td>
                                    数量：<input type="text" ng-model="purchase_ctrl.audit.editvalue" placeholder="平输入数量" />
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                    <div class="clearfix"></div>
                    <div ng-class="{'g-d-hidei':!purchase_ctrl.audit.editshow}"  class="g-w-percent50 g-box-b g-gap-pl4 g-gap-pt4 g-gap-pb4 g-gap-pr4 g-b-white g-pos-fl" style="min-height: 100%;">
                        <div class="admin-layout-theme4 admin-theme-close g-t-c g-b-gray17 g-pos-r">修改数量<span class="mini-icon admin-mini-icon1" ng-click="purchase_ctrl.closeEditAudit()"></span></div>
                        <div class="admin-layout-form g-w-percent50">
                            <div class="form-group-self1">
                                <label class="self-label g-w-percent15 g-t-r">数量：</label>
                                <div class="self-input g-pos-r g-w-percent25">
                                    <input type="text" class="ui-int-number" ng-model="purchase_ctrl.audit.editvalue" maxlength="5" placeholder="请输入数量" />
                                </div>
                            </div>
                            <div class="form-group-self1">
                                <label class="self-label g-w-percent15 g-t-r">&nbsp;</label>
                                <div class="self-input g-pos-r g-w-percent35">
                                    <button type="button" ng-disabled="purchase_ctrl.audit.editvalue===''" ng-click="purchase_ctrl.sureEditAudit()" class="btn btn-red g-w-number2">确定</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="g-w-percent38 g-f-l" ng-class="{'g-d-hidei':purchase_ctrl.audit.isdata===''}">
                        <div class="admin-layout-form g-f-r g-w-percent30">
                            <div class="form-group-self1">
                                <label class="self-label g-w-percent15 g-t-r">审核状态：</label>
                                <div class="self-input g-t-l g-w-percent30">
                                    <label class="self-label">
                                        <input type="radio" ng-model="purchase_ctrl.audit.auditflag" ng-value="true" name="auditflag">
                                        &nbsp;通过
                                    </label>
                                    <label class="self-label">
                                        <input type="radio" ng-model="purchase_ctrl.audit.auditflag" ng-value="false" name="auditflag">
                                        &nbsp;不通过
                                    </label>
                                </div>
                            </div>
                            <div class="form-group-self1" ng-class="{'g-d-hidei':purchase_ctrl.audit.auditflag===true}">
                                <label class="self-label g-w-percent15 g-t-r">不通过原因:</label>
                                <div class="self-input g-w-percent30">
                                    <input type="text" ng-model="purchase_ctrl.audit.auditinfo" placeholder="请输入审核不通过原因" />
                                </div>
                            </div>
                            <div class="form-group-self1">
                                <label class="self-label g-w-percent15">&nbsp;</label>
                                <div class="self-input g-w-percent30 g-t-l">
                                    <button type="button" ng-click="purchase_ctrl.submitAudit()" class="btn btn-red g-w-number4">审核</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-red" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>

</div>