<div ng-controller="SettingController as setting_ctrl">
    <div class="struct-layout-container struct-layout-default">
        <div class="struct-layout-main"  ng-cloak ui-view="">
            <div class="admin-layout-theme4 g-gap-pl8 g-t-l g-b-gray17">设置完善信息</div>
        </div>
        <div class="struct-layout-side">
            <!--菜单列表-->
            <ul class="sub-list-wrap g-clear-pt ui-sub-list" data-listitem="setting_ctrl.listitem"></ul>
        </div>
    </div>



    <!--弹出层--提示操作界面-->
    <!--子管理订单-->
    <div class="modal fade custom-width" id="setting_manage_dialog">
        <div class="modal-dialog"  ng-class="{
            'g-w-percent24':(setting_ctrl.manage.isDesignatedOrg===0 && setting_ctrl.manage.isDesignatedPermit===0),
            'g-w-percent28':(setting_ctrl.manage.isDesignatedOrg===1 && setting_ctrl.manage.isDesignatedPermit===0),
            'g-w-percent40':(setting_ctrl.manage.isDesignatedOrg===0 && setting_ctrl.manage.isDesignatedPermit===1),
            'g-w-percent46':(setting_ctrl.manage.isDesignatedOrg===1 && setting_ctrl.manage.isDesignatedPermit===1)
        }">
            <div class="modal-content">
                <div class="modal-body">
                    <!--机构-->
                    <div class="struct-side-widget g-f-l g-gap-mr2"  ng-class="{
            'g-d-hidei':(setting_ctrl.manage.isDesignatedOrg===0),
            'g-w-percent20':(setting_ctrl.manage.isDesignatedOrg===1 && setting_ctrl.manage.isDesignatedPermit===0),
            'g-w-percent8':(setting_ctrl.manage.isDesignatedOrg===1 && setting_ctrl.manage.isDesignatedPermit===1)
        }" ng-show="setting_ctrl.manage.isDesignatedOrg===1">
                        <div class="admin-layout-theme4 admin-theme-close g-t-c g-b-gray17 g-pos-r">选择机构</div>
                        <div class="row">
                            <!--搜索组件-->
                            <div class="sub-search-wrap g-w-percent49 ui-sub-search" data-active="setting_ctrl.record.searchactive" data-value="setting_ctrl.record.searchname"  data-action="setting_ctrl.searchAction()" data-clear="setting_ctrl.searchClear()" ></div>
                            <div class="col-sm-12 g-gap-mb4">
                                <!--左侧操作区域-->
                                <div class="admin-layout-theme4"><span class="mini-icon admin-mini-icon2"></span>&nbsp;机构信息</div>
                                <!--子菜单组件-->
                                <div id="submenu_scroll_wrap" style="border:1px solid #ccc" class="g-box-b g-gap-pb4">
                                    <ul class="sub-menu-wrap g-b-none">
                                        <li>
                                            <a data-parentid="" data-id="{{setting_ctrl.record.organizationId}}" data-layer="0" class="sub-menu-title sub-menu-titleactive" ng-click="setting_ctrl.initStructList($event)"><label class="sub-menu-checkbox" data-id="{{setting_ctrl.record.organizationId}}">全选:</label>{{setting_ctrl.record.organizationName}}</a>
                                            <ul class="g-d-showi" ng-click="setting_ctrl.toggleStructList($event)" id="admin_struct_menu" ng-init="setting_ctrl.getStructList()"></ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-5 g-t-r">
                                <span ng-click="setting_ctrl.getSelectStruct()" class="btn btn-red g-br3 g-w-percent40">确定</span>
                            </div>
                            <div class="col-sm-2"></div>
                            <div class="col-sm-5 g-t-l">
                                <span ng-click="setting_ctrl.clearSelectStruct()" class="btn btn-red g-br3 g-w-percent40">取消</span>
                            </div>
                        </div>
                    </div>

                    <!--权限-->
                    <div class="g-f-l" ng-class="{
            'g-d-hidei':(setting_ctrl.manage.isDesignatedPermit===0),
            'g-w-percent30':(setting_ctrl.manage.isDesignatedOrg===0 && setting_ctrl.manage.isDesignatedPermit===1),
            'g-w-percent26':(setting_ctrl.manage.isDesignatedOrg===1 && setting_ctrl.manage.isDesignatedPermit===1)
        }" ng-show="setting_ctrl.manage.isDesignatedPermit===1">
                        <div class="admin-layout-theme4 admin-theme-close g-t-c g-b-gray17 g-pos-r">选择权限</div>
                        <table class="table table-bordered table-striped table-hover admin-layout-table">
                            <colgroup id="setting_power_colgroup"></colgroup>
                            <thead id="setting_power_thead"></thead>
                            <tbody id="setting_power_tbody"></tbody>
                        </table>
                        <div class="row">
                            <div class="col-sm-5 g-t-r">
                                <span ng-click="setting_ctrl.getSelectPower()" class="btn btn-red g-br3 g-w-percent15">确定</span>
                            </div>
                            <div class="col-sm-2"></div>
                            <div class="col-sm-5 g-t-l">
                                <span ng-click="setting_ctrl.clearSelectPower()" class="btn btn-red g-br3 g-w-percent15">取消</span>
                            </div>
                        </div>
                    </div>

                    <!--表单-->
                    <div class="g-f-r"  ng-class="{
            'g-w-percent50':(setting_ctrl.manage.isDesignatedOrg===0 && setting_ctrl.manage.isDesignatedPermit===0),
            'g-w-percent28':(setting_ctrl.manage.isDesignatedOrg===1 && setting_ctrl.manage.isDesignatedPermit===0),
            'g-w-percent19':(setting_ctrl.manage.isDesignatedOrg===0 && setting_ctrl.manage.isDesignatedPermit===1),
            'g-w-percent14':(setting_ctrl.manage.isDesignatedOrg===1 && setting_ctrl.manage.isDesignatedPermit===1)
        }">
                        <div class="admin-layout-theme4 admin-theme-close g-t-c g-b-gray17 g-pos-r">子管理{{setting_ctrl.manage.id===''?'(新增)':'(编辑)'}}
                            <span class="mini-icon admin-mini-icon1" ng-click="setting_ctrl.toggleModal({display:'hide',area:'manage'})"></span>
                        </div>

                        <form ng-submit="setting_ctrl.formSubmit('manage')" name="manageFrom" role="form" novalidate method="post" class="admin-layout-form">
                            <div class="admin-layout-theme4"><span class="mini-icon admin-mini-icon2"></span>&nbsp;基本信息</div>

                            <div class="form-group-self1">
                                <label class="self-label g-w-percent15 g-t-r"><span class="self-require g-c-red1">*</span>子管理全称</label>

                                <div class="self-input g-pos-r g-w-percent35">
                                    <input type="text" name="fullname" placeholder="请输入子管理全称" required ng-model="setting_ctrl.manage.fullname"  />
                                    <span  ng-show="manageFrom.fullname.$dirty && manageFrom.fullname.$error.required" class="self-tips self-tips-no g-c-red1 g-fs4 g-w-percent50">子管理全称不能为空</span>
                                    <span ng-show="manageFrom.fullname.$dirty && manageFrom.fullname.$valid" class="self-tips self-tips-yes"></span>
                                </div>
                            </div>

                            <div class="form-group-self1">
                                <label class="self-label g-w-percent15 g-t-r"><span class="self-require g-c-red1">*</span>手机号码</label>

                                <div class="self-input g-pos-r g-w-percent35">
                                    <input type="text" name="cellphone" required  placeholder="请输入手机号码" maxlength="13"  ng-model="setting_ctrl.manage.cellphone" class="ui-mobile-phone"  />
                                    <span ng-show="manageFrom.cellphone.$dirty && manageFrom.cellphone.$error.required" class="self-tips self-tips-no g-c-red1 g-fs4 g-w-percent50">手机号码不能为空</span>
                                    <span ng-show="manageFrom.cellphone.$dirty && manageFrom.cellphone.$invalid && !manageFrom.cellphone.$error.required" class="self-tips self-tips-no g-c-red1 g-fs4 g-w-percent50">手机号码格式不合法</span>
                                    <span ng-show="manageFrom.cellphone.$dirty && manageFrom.cellphone.$valid" class="self-tips self-tips-yes"></span>
                                </div>
                            </div>

                            <div ng-if="setting_ctrl.manage.id===''" class="form-group-self1">
                                <label class="self-label g-w-percent15 g-t-r"><span class="self-require g-c-red1">*</span>登陆用户名</label>

                                <div class="self-input g-pos-r g-w-percent35">
                                    <input type="text" required ng-model="setting_ctrl.manage.username"  name="username"  placeholder="请输入登陆用户名" />
                                    <span ng-show="manageFrom.username.$dirty && manageFrom.username.$error.required" class="self-tips self-tips-no g-c-red1 g-fs4 g-w-percent50">登陆用户名不能为空</span>
                                    <span ng-show="manageFrom.username.$dirty && manageFrom.username.$valid" class="self-tips self-tips-yes"></span>
                                </div>
                            </div>


                            <div ng-if="setting_ctrl.manage.id!==''" class="form-group-self1">
                                <label class="self-label g-w-percent15 g-t-r"><span class="self-require g-c-red1">*</span>登陆用户名(不可修改)</label>

                                <div class="self-input g-pos-r g-w-percent35">
                                    <input type="text" readonly ng-model="setting_ctrl.manage.username"  name="username"  placeholder="请输入登陆用户名" />
                                </div>
                            </div>

                            <div class="form-group-self1">
                                <label class="self-label g-w-percent15 g-t-r"><span ng-if="setting_ctrl.manage.id===''" class="self-require g-c-red1">*</span><span ng-if="setting_ctrl.manage.id!==''" class="self-require g-c-red1">*</span>登陆密码</label>


                                <div class="self-input g-pos-r g-w-percent35">
                                    <input type="password" required ng-minlength="6" minlength="6" ng-model="setting_ctrl.manage.password"  name="password" placeholder="请输入登陆密码"   />
                                    <span ng-show="manageFrom.password.$dirty && manageFrom.password.$invalid && !manageFrom.password.$error.required" class="self-tips self-tips-no g-c-red1 g-fs4 g-w-percent50">登陆密码不能少于6位</span>
                                    <span ng-show="manageFrom.password.$dirty && manageFrom.password.$valid" class="self-tips self-tips-yes"></span>
                                </div>

                            </div>

                            <div class="form-group-self1">
                                <label class="self-label g-w-percent15 g-v-t g-t-r">备注</label>

                                <div class="self-input g-w-percent35">
                                    <textarea ng-model="setting_ctrl.manage.remark" name="remark"></textarea>
                                </div>
                            </div>


                            <div class="admin-layout-theme4"><span class="mini-icon admin-mini-icon3"></span>&nbsp;管理范围</div>

                            <div class="form-group-self1">
                                <label class="self-label">
                                    <input type="radio" ng-model="setting_ctrl.manage.isDesignatedOrg" ng-value="0" ng-change="setting_ctrl.clearSelectStruct()" name="isDesignatedOrg">
                                    &nbsp;本机构及下属机构
                                </label>
                                <label class="self-label">
                                    <input type="radio" ng-model="setting_ctrl.manage.isDesignatedOrg" ng-value="1" ng-change="setting_ctrl.clearSelectStruct()"  name="isDesignatedOrg">
                                    &nbsp;指定机构
                                </label>
                            </div>

                            <div class="form-group-self1" ng-if="setting_ctrl.manage.isDesignatedOrg===1">
                                <label class="self-label g-w-percent15 g-t-r"><span class="self-require g-c-red1">*</span>指定机构</label>

                                <div class="self-input g-pos-r g-w-percent35">
                                    <input type="text" ng-model="setting_ctrl.manage.designatedOrgIds" required  name="designatedOrgIds" readonly />
                                    <span ng-show="manageFrom.designatedOrgIds.$dirty && manageFrom.designatedOrgIds.$error.required" class="self-tips self-tips-no g-c-red1 g-fs4 g-w-percent50">指定机构不能为空</span>
                                    <span ng-show="manageFrom.designatedOrgIds.$dirty && manageFrom.designatedOrgIds.$valid" class="self-tips self-tips-yes"></span>
                                </div>
                            </div>

                            <div class="admin-layout-theme4"><span class="mini-icon admin-mini-icon4"></span>&nbsp;权限设定</div>

                            <div class="form-group-self1">
                                <label class="self-label">
                                    <input type="radio" ng-model="setting_ctrl.manage.isDesignatedPermit" ng-value="0" ng-change="setting_ctrl.toggleSelectPower()" name="isDesignatedPermit">
                                    &nbsp;全部权限
                                </label>
                                <label class="self-label">
                                    <input type="radio" ng-model="setting_ctrl.manage.isDesignatedPermit" ng-value="1" ng-change="setting_ctrl.toggleSelectPower()"  name="isDesignatedPermit">
                                    &nbsp;指定权限
                                </label>
                            </div>

                            <div class="form-group-self1" ng-if="setting_ctrl.manage.isDesignatedPermit===1">
                                <label class="self-label g-w-percent15 g-t-r"><span class="self-require g-c-red1">*</span>选择权限</label>

                                <div class="self-input g-pos-r g-w-percent35">
                                    <input type="text" ng-model="setting_ctrl.manage.checkedFunctionIds" required  name="checkedFunctionIds" readonly />
                                    <span ng-show="manageFrom.checkedFunctionIds.$dirty && manageFrom.checkedFunctionIds.$error.required" class="self-tips self-tips-no g-c-red1 g-fs4 g-w-percent50">指定权限不能为空</span>
                                    <span ng-show="manageFrom.checkedFunctionIds.$dirty && manageFrom.checkedFunctionIds.$valid" class="self-tips self-tips-yes"></span>
                                </div>
                            </div>

                            <div class="form-group-self1">
                                <button type="submit" ng-show="setting_ctrl.manage.id===''" ng-disabled="!(setting_ctrl.manage.id==='' && manageFrom.fullname.$dirty && manageFrom.fullname.$valid && manageFrom.cellphone.$dirty && manageFrom.cellphone.$valid && manageFrom.username.$dirty && manageFrom.username.$valid && manageFrom.password.$dirty && manageFrom.password.$valid && (setting_ctrl.manage.isDesignatedOrg===0 || (setting_ctrl.manage.isDesignatedOrg===1 && manageFrom.designatedOrgIds.$valid )) && (setting_ctrl.manage.isDesignatedPermit===0 || (setting_ctrl.manage.isDesignatedPermit===1 && manageFrom.checkedFunctionIds.$valid)))"  class="btn btn-red g-br3 g-w-percent50">添加</button>

                                <button type="submit" ng-show="setting_ctrl.manage.id!==''" ng-disabled="!(setting_ctrl.manage.id!=='' && manageFrom.fullname.$valid && manageFrom.cellphone.$valid && manageFrom.username.$valid && (setting_ctrl.manage.password==='' || (setting_ctrl.manage.password!=='' && manageFrom.password.$valid)) && (setting_ctrl.manage.isDesignatedOrg===0 || (setting_ctrl.manage.isDesignatedOrg===1 && manageFrom.designatedOrgIds.$valid)) && (setting_ctrl.manage.isDesignatedPermit===0 || (setting_ctrl.manage.isDesignatedPermit===1 && manageFrom.checkedFunctionIds.$valid)))"  class="btn btn-red g-br3 g-w-percent50">编辑</button>
                                <button type="button" class="btn btn-red g-br3 g-w-percent50 g-gap-mt2 g-d-hidei" id="admin_manage_reset" ng-click="setting_ctrl.formReset(manageFrom,'manage')">重置</button>
                            </div>
                        </form>

                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
</div>

