.cs-layout-header{
  height: 60px;
  background: #fff;
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
}
.cs-layout-breadcrumb{
  padding: 10px 15px 0;
}
.cs-layout-content{
  min-height: @core-layout-content-minheight;
  margin: 15px;
  overflow: hidden;
  background-color: #fff;
  border-radius: 4px;
  background-repeat: repeat;
  background-position: 0 0;
}
/*背景主题*/
.cs-layout-content-default{
  background-image: url('@{source-base-url}../images/bg/bg_default.png');
}
.cs-layout-content-dot{
  background-image: url('@{source-base-url}../images/bg/bg_dot.jpg');
}
.cs-layout-content-filter{
  background-image: url('@{source-base-url}../images/bg/bg_filter.png');
}
.cs-layout-content-whitecross{
  background-image: url('@{source-base-url}../images/bg/bg_whitecross.jpg');
}
.cs-layout-content-bigblock{
  background-image: url('@{source-base-url}../images/bg/bg_bigblock.png');
}
.cs-layout-content-main{
  padding: 10px;
  background-color: #fff;
}
.cs-layout-copy{
  text-align: center;
  padding: 10px 0 20px;
  color: #9ea7b4;
}
