<!DOCTYPE html>
<html lang="en">
<head>
	<!--强制竖屏-->
	<meta name="x5-orientation" content="portrait">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content="telephone=no" name="format-detection" />
    <title>搜索</title>
    <link rel="stylesheet" href="/zwwx/resource/css/weui.css">
    <link rel="stylesheet" href="/zwwx/resource/js/lib/weui/css/jquery-weui.css" />

    <script src="/zwwx/resource/js/lib/jquery/jquery.min.js"></script>
    <script src="/zwwx/resource/js/lib/weui/js/jquery-weui.min.js"></script>
    <script src="/zwwx/resource/js/lib/require/require.js"></script>
    <script src="/zwwx/resource/js/config/config.js"></script>
</head>
<body class="wx-btn-body">
<div  style="display:none">
    <h2 class="wx-theme-wrap">单位</h2>
    <ul class="wx-btnlist-wrap wx-btnlist-item2" id="signfirst"></ul>
    <h2 class="wx-theme-wrap">人员</h2>
    <ul class="wx-btnlist-wrap wx-btnlist-item3"  id="signsecond"></ul>
    <!--按钮组-->
    <ul id="#bar_item" class="wx-btnaction-wrap wx-btnaction-item2">
        <li id="doPerson_cancel" class="wx-btnaction-cancel">取消</li>
        <li id="doPerson_sure" class="wx-btnaction-sure">确定</li>
    </ul>
</div>
<script type="text/javascript">
    $.showLoading("努力加载中...");
</script>
<script type="text/javascript" src="/zwwx/app/feishidian/search/searchHome/doPersonCtrl.js"></script>
</body>
</html>