/*工具类*/
.wx-tool-function() {
  @li-width: @tool-list-width - @tool-list-gap * 2;
  @span-icon-width: 14px;

  /*列表通用样式*/
  .wx-tool-btn-function() {
    .border-radius-base(50%);
    cursor: pointer;
    width: @li-width;
    height: @li-width;
    font-size: 0;
    &:before {
      width: 100%;
      height: 100%;
      display: inline-block;
      line-height: @tool-list-width - @tool-list-gap * 2.5;
      text-align: center;
    }
    &,
    &:hover,
    &:active,
    &:focus {
      .user-tap-base();
    }
    .user-select-base();
  }
  /*-----第二层菜单按钮----*/
  .tool-menu-item-loop(@index)when (@index>0){
    .tool-menu-item@{index} {
      &:after {
        width: unit(@index,em) + .2em !important;
      }
    }
    .tool-menu-item-loop(@index - 1);
  }

  .wx-tool-lb-wrap {
    .layout-fixedlb-base();
  }

  .wx-tool-wrap {
    width: 0;
    height: 0;
    /*半透明黑色遮罩*/
    .wx-tool-mask {
      .layout-fixedl-base(0, 0, 200);
      .transition-base(all .3s ease-in .01s);
      width: 100vw;
      height: 100vh;
      background-color: rgba(0, 0, 0, .6);
    }
    .wx-tool-mask + .g-d-hidei {
      left: -101% !important;
    }
    /*大比例黑色遮罩*/
    .wx-tool-mask-transparent {
      background-color: rgba(0, 0, 0, .05) !important;
    }
    /*半透明白色遮罩*/
    .wx-tool-mask-filter {
      background-color: rgba(255, 255, 255, .6) !important;
    }
    /*无透明白色遮罩*/
    .wx-tool-mask-back {
      background-color: rgba(255, 255, 255, 0) !important;
    }
    /*按钮列表*/
    .wx-tool-list {
      margin: 0;
      width: @tool-list-width;
      padding: @tool-list-gap;
      &,
      &:hover,
      &:active,
      &:focus {
        .user-tap-base();
      }
      .user-select-base();
      > li {
        .wx-tool-btn-function();
        margin: 0 0 @tool-list-gap 0;
      }
    }
    /*----第一层切换按钮----*/
    /*普通切换*/
    .wx-tool-toggle {
      .layout-fixedlb-base(0, @tool-list-gap, 250);
      height: @tool-list-width;
      > li:after {
        color: @color-gray6;
      }
      /*切换操作*/
      .tool-list-toggle {
        background-color: rgba(51, 151, 255, .8);
        .box-shadow-base(1px 1px 3px 0 @color-gray1);
        &:hover {
          background-color: darken(rgba(51, 151, 255, .8), 5%);
        }
        &:active {
          background-color: darken(rgba(51, 151, 255, .8), 10%);
        }
        &:before {
          content: '\e6b8';
          font-family: 'zw_iconfont';
          font-size: @font-size-base + 14;
          color: @color-global-white;
        }
      }
      .tool-list-active {
        background-color: rgba(255, 255, 255, .8);
        .box-shadow-base(1px 1px 3px 0 @color-gray2);
        &:hover,
        &:active {
          background-color: rgba(255, 255, 255, .8);
        }
        &:before {
          color: @main-theme-color;
        }
      }
      /*会议操作*/
      .tool-menu-meeting {
        .layout-relative-base();
        .box-shadow-base(1px 1px 3px 0 @color-gray4);
        background-color: rgba(51, 151, 255,  .8);
        &:hover {
          background-color: darken(rgba(51, 151, 255, .8), 5%);
        }
        &:active {
          background-color: darken(rgba(51, 151, 255, .8), 10%);
        }
        &:before {
          line-height: @tool-list-width - @tool-list-gap * 2;
          content: '报名';
          font-size: @font-size-base + 2;
          color: @color-global-white;
        }
      }
    }
    /*便签切换*/
    .wx-tool-note {
      .layout-fixedrb-base(0, @tool-list-gap, 250);
      height: @tool-list-width;
      > li:after {
        color: @color-gray6;
      }
    }
    /*意见切换*/
    .wx-tool-idea {
      .layout-fixedrb-base(0, @tool-list-gap, 250);
      height: @tool-list-width;
      > li:after {
        color: @color-gray6;
      }
      /*切换操作*/
      .tool-list-toggle {
        background-color: rgba(51, 151, 255, .8);
        .box-shadow-base(1px 1px 3px 0 @color-gray1);
        &:hover {
          background-color: darken(rgba(51, 151, 255, .8), 5%);
        }
        &:active {
          background-color: darken(rgba(51, 151, 255, .8), 10%);
        }
        &:before {
          content: '\e66f';
          font-family: 'zw_iconfont';
          font-size: @font-size-base * 2.4;
          color: @color-global-white;
        }
      }
      .tool-list-active {
        background-color: rgba(255, 255, 255, .8);
        .box-shadow-base(1px 1px 3px 0 @color-gray2);
        &:hover,
        &:active {
          background-color: rgba(255, 255, 255, .8);
        }
        &:before {
          color: @main-theme-color;
        }
      }
    }
    /*菜单按钮*/
    .wx-tool-menu {
      .layout-fixedlb-base(0, @tool-list-width - @tool-list-gap, 240);
      min-height: @tool-list-width;
      max-height: 90vh;
      > li {
        float: left;
        .layout-relative-base();
        .box-shadow-base(1px 1px 3px 0 @color-gray4);
        span {
          .layout-relative-base(0, 0, 5);
          width: 100%;
          height: 100%;
          display: none;
          line-height: 0;
          &:before,
          &:after {
            position: absolute;
            z-index: 10;
            cursor: pointer;
            display: inline-block;
            width: @span-icon-width;
            height: @span-icon-width;
            text-align: center;
            line-height: @span-icon-width;
          }
        }
        &:before,
        span:before,
        span:after {
          font-family: 'zw_iconfont';
        }
        &:before {
          .layout-absolutel-base();
          line-height: @tool-list-width - @tool-list-gap * 2;
          color: @color-global-white;
        }
        &:after {
          .layout-absolutel-base(110%);
          .text-ww();
          display: inline-block;
          width: 2.2em;
          height: 100%;
          color: @color-global-white;
          font-size: @font-size-base + 4;
          line-height: @tool-list-width - @tool-list-gap * 2;
          content: attr(data-title);
        }
      }
      /*菜单宽度*/
      .tool-menu-item-loop(10);
      /*会议报名*/
      .tool-menu-meeting {
        background-color: @color-blue1;
        span:before {
          background-color: @color-blue1;
          .border-radius-base(50%);
          overflow: hidden;
          font-weight: bold;
          left: 55%;
          top: 45%;
          font-size: @font-size-base * 1.2;
          content: '\e66f';
          color: @color-global-white;
        }
        &:hover {
          background-color: darken(@color-blue1, 5%);
          span:before {
            background-color: darken(@color-blue1, 5%);
          }
        }
        &:active {
          background-color: darken(@color-blue1, 10%);
          span:before {
            background-color: darken(@color-blue1, 10%);
          }
        }
        &:before {
          font-size: @font-size-base * 1.8;
          content: '\e7e4';
        }
      }
      /*待办--送出*/
      .tool-menu-send {
        background-color: @color-green2;
        span {
          display: block;
          &:before {
            background-color: @color-green2;
            .border-radius-base(50%);
            font-weight: bold;
            left: 55%;
            top: 50%;
            font-size: @font-size-base * 1.2;
            content: '\e655';
            color: @color-global-white;
          }
        }
        &:hover {
          background-color: darken(@color-green2, 5%);
          span:before {
            background-color: darken(@color-green2, 5%);
          }
        }
        &:active {
          background-color: darken(@color-green2, 10%);
          span:before {
            background-color: darken(@color-green2, 10%);
          }
        }
        &:before {
          font-size: @font-size-base * 1.8;
          content: '\e607';
        }
      }
      /*待办--保存*/
      .tool-menu-save {
        background-color: lighten(@color-blue1, 10%);
        &:hover {
          background-color: lighten(@color-blue1, 5%);
        }
        &:active {
          background-color: @color-blue1
        }
        &:before {
          font-weight: bold;
          font-size: @font-size-base * 1.7;
          content: '\e69e';
        }
      }
      /*待办--退件*/
      .tool-menu-return {
        background-color: @color-global-pink;
        span {
          display: block;
          &:before {
            background-color: @color-global-pink;
            overflow: hidden;
            height: @span-icon-width/2;
            line-height: @span-icon-width/2;
            left: 45%;
            top: 60%;
            font-size: @font-size-base * 1.3;
            content: '\e61a';
            color: @color-global-white;
          }
        }
        &:hover {
          background-color: darken(@color-global-pink, 5%);
          span:before {
            background-color: darken(@color-global-pink, 5%);
          }
        }
        &:active {
          background-color: darken(@color-global-pink, 10%);
          span:before {
            background-color: darken(@color-global-pink, 10%);
          }
        }
        &:before {
          font-size: @font-size-base * 1.8;
          content: '\e63e';
        }
      }
      /*待办--套红*/
      .tool-menu-red {
        background-color: lighten(@color-orange1, 5%);
        &:hover {
          background-color: @color-orange1;
        }
        &:active {
          background-color: darken(@color-orange1, 5%);
        }
        &:before {
          font-size: @font-size-base * 1.7;
          content: '\e607';
        }
      }
      /*待办--编辑通知*/
      .tool-menu-editnotice {
        background-color: @color-blue1;
        span {
          display: block;
          &:before {
            background-color: @color-blue1;
            .border-radius-base(50%);
            font-weight: bold;
            left: 55%;
            top: 50%;
            font-size: @font-size-base;
            content: '\e6db';
            color: @color-global-white;
          }
        }
        &:hover {
          background-color: darken(@color-blue1, 5%);
          span:before {
            background-color: darken(@color-blue1, 5%);
          }
        }
        &:active {
          background-color: darken(@color-blue1, 10%);
          span:before {
            background-color: darken(@color-blue1, 10%);
          }
        }
        &:before {
          font-size: @font-size-base * 1.8;
          content: '\e607';
        }
      }
      /*待办--退文*/
      .tool-menu-back {
        background-color: @color-global-purple;
        span {
          display: block;
          &:before {
            background-color: @color-global-purple;
            .border-radius-base(50%);
            font-weight: bold;
            overflow: hidden;
            left: 50%;
            top: 50%;
            font-size: @font-size-base * 1.4;
            content: '\e650';
            color: @color-global-white;
          }
        }
        &:hover {
          background-color: darken(@color-global-purple, 5%);
          span:before {
            background-color: darken(@color-global-purple, 5%);
          }
        }
        &:active {
          background-color: darken(@color-global-purple, 10%);
          span:before {
            background-color: darken(@color-global-purple, 10%);
          }
        }
        &:before {
          font-size: @font-size-base * 1.8;
          content: '\e607';
        }
      }
      /*待办--转办*/
      .tool-menu-turn {
        background-color: @color-global-indigo;
        span {
          display: block;
          &:before {
            background-color: @color-global-white;
            .border-radius-base(50%);
            font-font: @fontfamliy-base;
            overflow: hidden;
            left: 50%;
            top: 50%;
            font-size: @font-size-base - 4;
            content: '转';
            color: @color-global-indigo;
          }
        }
        &:hover {
          background-color: darken(@color-global-indigo, 5%);
        }
        &:active {
          background-color: darken(@color-global-indigo, 10%);
        }
        &:before {
          font-weight: bold;
          font-size: @font-size-base * 1.8;
          content: '\e7d9';
        }
      }
      /*待办--办结*/
      .tool-menu-finish {
        background-color: @color-red1;
        span {
          display: block;
          &:before {
            background-color: @color-red1;
            .border-radius-base(50%);
            font-weight: bold;
            overflow: hidden;
            left: 55%;
            top: 50%;
            font-size: @font-size-base * 1.2;
            content: '\e601';
            color: @color-global-white;
          }
        }
        &:hover {
          background-color: darken(@color-red1, 5%);
          span:before {
            background-color: darken(@color-red1, 5%);
          }
        }
        &:active {
          background-color: darken(@color-red1, 10%);
          span:before {
            background-color: darken(@color-red1, 10%);
          }
        }
        &:before {
          font-size: @font-size-base * 1.8;
          content: '\e607';
        }
      }
      /*待办--发送通知*/
      .tool-menu-notice {
        background-color: darken(@color-yellow1, 10%);
        &:hover {
          background-color: darken(@color-yellow1, 15%);
        }
        &:active {
          background-color: darken(@color-yellow1, 20%);
        }
        &:before {
          font-size: @font-size-base * 1.8;
          content: '\e7c7';
        }
      }
      /*待办--发送公文*/
      .tool-menu-document {
        background-color: @color-blue1;
        span {
          display: block;
          &:before {
            background-color: @color-blue1;
            .border-radius-base(50%);
            font-weight: bold;
            left: 55%;
            top: 45%;
            font-size: @font-size-base;
            content: '\e786';
            color: @color-global-white;
          }
        }
        &:hover {
          background-color: darken(@color-blue1, 5%);
          span:before {
            background-color: darken(@color-blue1, 5%);
          }
        }
        &:active {
          background-color: darken(@color-blue1, 10%);
          span:before {
            background-color: darken(@color-blue1, 10%);
          }
        }
        &:before {
          font-size: @font-size-base * 1.8;
          content: '\e607';
        }
      }
      /*待办--查看公文*/
      .tool-menu-look {
        background-color: darken(@color-yellow1, 10%);
        span {
          display: block;
          &:before {
            background-color: darken(@color-yellow1, 10%);
            .border-radius-base(50%);
            font-weight: bold;
            left: 50%;
            top: 45%;
            font-size: @font-size-base;
            content: '\e6bb';
            color: @color-global-white;
          }
        }
        &:hover {
          background-color: darken(@color-yellow1, 15%);
          span:before {
            background-color: darken(@color-yellow1, 15%);
          }
        }
        &:active {
          background-color: darken(@color-yellow1, 20%);
          span:before {
            background-color: darken(@color-yellow1, 20%);
          }
        }
        &:before {
          font-size: @font-size-base * 1.8;
          content: '\e607';
        }
      }
      /*待办--送经办人*/
      .tool-menu-handle {
        background-color: @color-global-teal;
        span {
          display: block;
          &:before {
            background-color: @color-global-teal;
            .border-radius-base(50%);
            left: 55%;
            top: 55%;
            font-size: @font-size-base;
            content: '\e679';
            color: @color-global-white;
          }
        }
        &:hover {
          background-color: darken(@color-global-teal, 5%);
          span:before {
            background-color: darken(@color-global-teal, 5%);
          }
        }
        &:active {
          background-color: darken(@color-global-teal, 10%);
          span:before {
            background-color: darken(@color-global-teal, 10%);
          }
        }
        &:before {
          font-size: @font-size-base * 1.8;
          content: '\e7e4';
        }
      }
      /*待办--送排版*/
      .tool-menu-layout {
        background-color: @color-red1;
        span {
          display: block;
          &:before {
            background-color: @color-red1;
            .border-radius-base(50%);
            font-weight: bold;
            overflow: hidden;
            left: 55%;
            top: 55%;
            font-size: @font-size-base * 1.4;
            content: '\e650';
            color: @color-global-white;
          }
        }
        &:hover {
          background-color: darken(@color-red1, 5%);
          span:before {
            background-color: darken(@color-red1, 5%);
          }
        }
        &:active {
          background-color: darken(@color-red1, 10%);
          span:before {
            background-color: darken(@color-red1, 10%);
          }
        }
        &:before {
          font-size: @font-size-base * 1.8;
          content: '\e63f';
        }
      }
      /*待办--送用印*/
      .tool-menu-seal {
        background-color: @color-global-indigo;
        span {
          display: block;
          &:before {
            background-color: @color-global-indigo;
            .border-radius-base(50%);
            font-weight: bold;
            overflow: hidden;
            left: 55%;
            top: 50%;
            font-size: @font-size-base * 1.4;
            content: '\e650';
            color: @color-global-white;
          }
        }
        &:hover {
          background-color: darken(@color-global-indigo, 5%);
          span:before {
            background-color: darken(@color-global-indigo, 5%);
          }
        }
        &:active {
          background-color: darken(@color-global-indigo, 10%);
          span:before {
            background-color: darken(@color-global-indigo, 10%);
          }
        }
        &:before {
          font-size: @font-size-base * 1.8;
          content: '\e623';
        }
      }
      /*待办--送流转*/
      .tool-menu-transfer {
        background-color: lighten(@color-orange1, 5%);
        span {
          display: block;
          &:before {
            background-color: lighten(@color-orange1, 5%);
            .border-radius-base(50%);
            font-weight: bold;
            overflow: hidden;
            left: 55%;
            top: 50%;
            font-size: @font-size-base * 1.4;
            content: '\e650';
            color: @color-global-white;
          }
        }
        &:hover {
          background-color: @color-orange1;
          span:before {
            background-color: @color-orange1;
          }
        }
        &:active {
          background-color: darken(@color-orange1,5%);
          span:before {
            background-color: darken(@color-orange1,5%);
          }
        }
        &:before {
          font-size: @font-size-base * 2;
          content: '\e660';
        }
      }
      /*交换跟踪--作废*/
      .tool-menu-cancel {
        background-color: @color-red1;
        span {
          display: block;
          &:before {
            background-color: @color-red1;
            .border-radius-base(50%);
            left: 55%;
            top: 55%;
            font-size: @font-size-base - 2;
            content: '\e602';
            color: @color-global-white;
          }
        }
        &:hover {
          background-color: darken(@color-red1, 5%);
          span:before {
            background-color: darken(@color-red1, 5%);
          }
        }
        &:active {
          background-color: darken(@color-red1, 10%);
          span:before {
            background-color: darken(@color-red1, 10%);
          }
        }
        &:before {
          font-size: @font-size-base * 1.8;
          content: '\e607';
        }
      }
      /*交换跟踪--补发*/
      .tool-menu-reissue {
        background-color: @color-green1;
        span {
          display: block;
          &:before {
            background-color: @color-green1;
            .border-radius-base(50%);
            left: 50%;
            top: 50%;
            font-size: @font-size-base - 2;
            content: '\e6c2';
            color: @color-global-white;
          }
        }
        &:hover {
          background-color: darken(@color-green1, 5%);
          span:before {
            background-color: darken(@color-green1, 5%);
          }
        }
        &:active {
          background-color: darken(@color-green1, 10%);
          span:before {
            background-color: darken(@color-green1, 10%);
          }
        }
        &:before {
          font-size: @font-size-base * 1.8;
          content: '\e607';
        }
      }
      /*交换跟踪--提醒*/
      .tool-menu-tip {
        background-color: @color-blue1;
        span {
          display: block;
          &:before {
            background-color: @color-blue1;
            .border-radius-base(50%);
            left: 55%;
            top: 50%;
            font-size: @font-size-base + 2;
            content: '\e672';
            color: @color-global-white;
          }
        }
        &:hover {
          background-color: darken(@color-blue1, 5%);
          span:before {
            background-color: darken(@color-blue1, 5%);
          }
        }
        &:active {
          background-color: darken(@color-blue1, 10%);
          span:before {
            background-color: darken(@color-blue1, 10%);
          }
        }
        &:before {
          font-size: @font-size-base * 1.8;
          content: '\e625';
        }
      }
      /*交换跟踪--撤回*/
      .tool-menu-withdraw {
        background-color: @color-orange1;
        span {
          display: block;
          &:before {
            background-color: @color-orange1;
            .border-radius-base(50%);
            left: 55%;
            top: 50%;
            font-size: @font-size-base - 2;
            content: '\e727';
            color: @color-global-white;
          }
        }
        &:hover {
          background-color: darken(@color-orange1, 5%);
          span:before {
            background-color: darken(@color-orange1, 5%);
          }
        }
        &:active {
          background-color: darken(@color-orange1, 10%);
          span:before {
            background-color: darken(@color-orange1, 10%);
          }
        }
        &:before {
          font-size: @font-size-base * 1.8;
          content: '\e607';
        }
      }

      /*写便签*/
      .tool-list-note {
        .layout-relative-base();
        .box-shadow-base(1px 1px 3px 0 @color-gray6);
        background-color: @main-theme-color;
        &:hover {
          background-color: darken(@main-theme-color, 5%);
        }
        &:active {
          background-color: darken(@main-theme-color, 10%);
        }
        &:before {
          content: '\e66f';
          font-family: 'zw_iconfont';
          font-size: @font-size-base * 2.2;
          color: @color-global-white;
        }
      }
    }
    /*意见列表*/
    .wx-tool-ideaouter {
      .layout-fixedrb-base(@tool-list-gap, @tool-list-width + @tool-list-gap * 1.5, 240);
      width: 250px;
    }
    .wx-tool-ideainner {
      @li-size: @font-size-base + 2;
      @li-lineheight: @font-size-base + 6;

      .layout-relative-base(0, 0, 10);
      width: 100%;
      background-color: @color-global-white;
      .border-radius-base(5px);
      .box-shadow-base(0 0 7px @color-gray9);
      > ul,
      > div,
      > p {
        width: 100%;
        font-size: @font-size-base + 2;
      }
      > ul li,
      > div,
      > p {
        .layout-relative-base();
        &:before {
          .layout-absolutel-base(@tool-list-gap * .5, 15%);
          font-family: zw_iconfont;
          font-size: @li-size * 1.2;
          color: @main-theme-color;
        }
      }
      > ul {
        min-height: @tool-list-width;
        max-height: 50vh;
        overflow-y: auto;
        padding: @tool-list-gap @tool-list-gap;
        &,
        &:hover,
        &:active,
        &:focus {
          .user-tap-base();
        }
        li {
          display: block;
          min-height:@tool-list-width * .7;
          padding: @tool-list-gap 0 @tool-list-gap @tool-list-gap * 3;
          border-bottom: 1px solid @color-gray14;
          cursor: pointer;
          &:hover {
            border-bottom: 1px solid @color-gray13;
          }
          &:active {
            background-color: lighten(@color-gray14, 2%);
            border-bottom: 1px solid @color-gray13;
          }
          &:before {
            content: '\e73a';
          }
          &:last-child {
            border-bottom: none;
          }
        }
        div {
          font-size: @li-size;
          .text-ww();
          line-height: @li-lineheight;
          min-height: @li-lineheight;
          max-height: @li-lineheight * 3;
          overflow: hidden;
          color: @color-gray4;
          width: 100%;
        }
      }
      > div,
      > p {
        padding: @tool-list-gap @tool-list-gap @tool-list-gap @tool-list-gap * 4;
        border-top: 1px solid @color-gray12;
        height: @tool-list-width * .8;
        line-height: @tool-list-width * .8 - @tool-list-gap * 2;
        color: @color-gray3;
        font-size: @li-size + 2;
        cursor: pointer;
        &,
        &:hover,
        &:active,
        &:focus {
          .user-tap-base();
        }
        .user-select-base();
        &:before {
          left: @tool-list-gap * 1.5;
          content: '\e60f';
        }
      }
      &:before,
      &:after {
        position: absolute;
        display: block;
        content: '';
      }
      &:before {
        z-index: 5;
        right: @tool-list-gap;
        bottom: 0;
        width: @tool-list-gap * 3;
        height: @tool-list-gap * 1.4;
        background-color: @color-global-white;
      }
      &:after {
        .transform-origin-base(50% 50%);
        .transform-base(rotate(45deg));
        z-index: -5;
        right: @tool-list-gap * 1.8;
        bottom: -(@tool-list-gap * .7);
        width: @tool-list-gap * 1.4;
        height: @tool-list-gap * 1.4;
        background-color: @color-global-white;
        .box-shadow-base(0 0 7px 0 @color-gray9);
      }
    }

    /*写信息*/
    .wx-tool-textarea {
      @h-height: @grid-list-gap * 4;
      @ta-gap: @grid-list-gap * 2;

      .layout-fixedl-base(0, 0, 300);
      width: 100vw;
      height: 100vh;
      padding: 0 0 @action-btn-height 0;
      background-color: rgba(255, 255, 255, 1);
      .text-info {
        .layout-relative-base();
        padding: @h-height @ta-gap @ta-gap @ta-gap;
        width: 100%;
        height: 100%;
        h1, h2, h3, h4, h5, h6 {
          .layout-absolutel-base();
          padding: 0 @h-height;
          height: @h-height;
          line-height: @h-height;
          overflow: hidden;
          .text-ww();
          font-size: @font-size-base + 4;
          text-align: center;
          font-weight: normal;
          width: 100%;
          color: @color-gray6;
          display: block;
          &:after {
            .layout-absoluter-base();
            content: '\e602';
            display: block;
            width: @h-height;
            height: @h-height;
            color: @color-gray9;
            font-family: zw_iconfont;
            font-size: @font-size-base * 2;
          }
        }
        textarea {
          .border-radius-base(5px);
          width: 100%;
          height: 100%;
          line-height: @font-size-base + 14;
          padding: @grid-list-gap;
          font-size: @font-size-base + 2;
          color: @color-gray3;
          background-color: @color-global-white;
          border: 1px solid @color-gray12;
        }
      }
    }
  }
}

.wx-tool-function();
.wx-tool-small{
  .tool-menu-return{
    >span{
      &:before{
        top: 53% !important;
      }
    }
  }
}
.wx-tool-small{
  > li{
    width:@tool-list-gap * 4.5 !important;
    height:@tool-list-gap * 4.5 !important;
    margin: 0 0 @tool-list-gap*0.5 0!important;
    &:before{
      font-size: @font-size-base*1.5!important;
      top: -2px!important;
    }
    >span{
      &:before{
        top: 43% !important;
      }
    }
  }
}
