/*主题*/
.wx-theme-function() {
  /*theme列表容器*/
  .wx-themelist-panel {
    width: 100%;
    padding: 0 @detail-list-gap/2;
  }
  /*theme*/
  .wx-theme-wrap,
  .wx-labeltheme-wrap {
    .layout-relative-base(0, 0, auto);
    width: 100%;
    color: @color-gray3;
    font-weight: normal;
    font-size: @font-size-base + 2;
  }

  /*默认主题*/
  @theme-gapt: 15px;
  @theme-gapb: 7px;
  .wx-theme-wrap {
    height: @theme-height;
    background-color: darken(@color-gray14, 0.5%);
    padding: @theme-gapt @body-gap-left @theme-gapb @body-gap-left;
    line-height: @theme-height - @theme-gapt - @theme-gapb;
  }

  /*小模块主题*/
  @label-inner-height: 24px;
  @label-inner-gap: (@labeltheme-height - @label-inner-height)/2;
  .wx-labeltheme-wrap {
    height: @labeltheme-height;
    background-color: @color-global-white;
    padding: @label-inner-gap @labeltheme-gap-left;
    line-height: @label-inner-height;
    &:before {
      bottom: 0;
      position: absolute;
      content: '';
      z-index: 2;
      left: 0;
      width: 100%;
      height: 0;
      display: block;
      .transform-origin-base(0 0);
      .transform-base(scaleY(.5));
      border-bottom: 1px solid @color-gray12;
    }
  }
  .wx-labeltheme-border {
    border: 1px solid @color-gray13;
  }
  .wx-labeltheme-wrap.wx-labeltheme-border,
  .wx-labeltheme-border.wx-labeltheme-wrap,
  .wx-labeltheme-border {
    &:before {
      display: none !important;
    }
  }

  /*按钮*/
  @chk-width: 20px;
  @chk-icon-width: 16px;
  .wx-theme-wrap,
  .wx-labeltheme-wrap {
    &,
    &:hover,
    &:active,
    &:focus {
      .user-tap-base();
    }
    .theme-icon {
      cursor: pointer;
      display: inline-block;
      .user-select-base();
    }
    /*编辑按钮*/
    .theme-icon-edit {
      height: @label-inner-height;
      &:before {
        content: attr(data-name);
      }
      &:after {
        margin-left: 10px;
        margin-right: 10px;
        content: '\e6db';
        font-family: zw_iconfont;
        color: @color-blue1;
        font-size: @font-size-base + 6;
      }
      &:hover,
      &:active,
      &:focus {
        &:after {
          color: darken(@color-blue1, 10%);
        }
      }
    }
    .theme-icon-edit-off {
      /*去掉编辑按钮*/
      &:after {
        width: 0;
        height: 0;
        display: none;
        content: '';
      }
    }
    /*可展开按钮*/
    .theme-icon-toggle {
      .layout-absoluter-base();
      .transition-base(all .3s ease-in .01s);
      width: @labeltheme-height;
      height: 100%;
      &:after {
        .transition-base(all .3s ease-in .01s);
        display: inline-block;
        width: 100%;
        height: 100%;
        text-align: center;
        line-height: @labeltheme-height;
        content: '\e703';
        font-size: @font-size-base * 1.6;
        color: @color-gray6;
        font-family: 'zw_iconfont';
      }
    }
    .toggle-active {
      &:after {
        .transform-origin-base();
        .transform-base(rotate(180deg));
      }
    }
    /*全选操作*/
    .theme-icon-chk {
      .layout-absoluter-base();
      height: 100%;
      min-width: @theme-height;
      line-height: @theme-height + @theme-gapb;
      padding: 0 5px 0 @chk-width * 1.1;
      color: @color-gray6;
      > input[type='checkbox'],
      > input[type='radio'] {
        margin: 0;
        padding: 0;
        .layout-absolutel-base(0, 0, 20);
        cursor: pointer;
        width: 100%;
        height: 100%;
        display: inline-block;
        .opacity-base(0);
        & ~ .chk-decorate {
          .layout-absolutel-base(0, 50%, 1);
          border: 1px solid @main-theme-color;
          display: inline-block;
          width: @chk-icon-width;
          height: @chk-icon-width;
          font-size: @font-size-base;
          vertical-align: middle;
          .border-radius-base(3px);
          line-height: @chk-icon-width - 2;
          background-color: @color-global-white;
          font-weight: bold;
          overflow: hidden;
        }
        &:checked ~ .chk-decorate {
          background-color: @main-theme-color;
          &:after {
            color: @color-global-white;
            float: left;
            width: 100%;
            height: 100%;
            content: '\e601';
            font-family: zw_iconfont;
          }
        }
      }
    }
    .theme-icon-chk:not(:last-child) {
      right: @labeltheme-height;
    }
    /*常用按钮*/
    .theme-action-btn {
      display: inline-block;
      .zw-btn {
        padding: 0 5px;
        height: 100%;
      }
      &:not(:last-child) {
        margin-right: @labeltheme-height;
      }
    }
  }

  .wx-theme-wrap {
    .theme-icon-chk {
      > input[type='checkbox'],
      > input[type='radio'] {
        & ~ .chk-decorate {
          margin-top: (-(@chk-icon-width * .5) + @theme-gapb * .5);
        }
      }
    }
    .theme-action-btn {
      height: @theme-height - 10;
      margin-top: -10px;
      .zw-btn {
        line-height: @theme-height - 14;
      }
    }
  }

  .wx-labeltheme-wrap {
    .theme-icon-chk {
      > input[type='checkbox'],
      > input[type='radio'] {
        & ~ .chk-decorate {
          margin-top: (-(@chk-icon-width * .5));
        }
      }
    }
    .theme-action-btn {
      height: @labeltheme-height - 14;
      margin-top: -3px;
      .zw-btn {
        line-height: @labeltheme-height - 18;
      }
    }
  }


  /*装饰*/
  @theme-decorate-width: 6px;
  .wx-theme-wrap,
  .wx-labeltheme-wrap {
    .theme-left-decorate {
      float: left;
      min-height: 100%;
      width: @theme-decorate-width;
      background-color: @main-theme-color;
      display: inline-block;
    }
  }
  .wx-theme-wrap {
    .theme-left-decorate {
      height: @theme-height - 15px;
      margin: -5px @theme-decorate-width auto -@theme-decorate-width * 2;
    }
  }
  .wx-labeltheme-wrap {
    .theme-left-decorate {
      height: @labeltheme-height - 20px;
      margin: 0 @theme-decorate-width 0 -@theme-decorate-width * 1.5;
    }
  }


  /*提醒*/
  @theme-tip-width: 30px;
  .wx-theme-wrap,
  .wx-labeltheme-wrap {
    .theme-tip-wrap {
      .layout-relative-base(0, 0, 5);
      margin: 0 10px auto 5px;
      height: 100%;
      display: inline-block;
    }
    /*删除提醒*/
    .theme-tip-delete {
      white-space: nowrap;
      &:before {
        font-family: zw_iconfont;
        content: '\e617';
        font-size: @font-size-base + 2;
        color: @color-red1;
        text-align: center;
      }
      &:hover:before {
        color: darken(@color-red1, 10%);
      }
      &:active:before,
      &:focus:before {
        color: darken(@color-red1, 15%);
      }
    }
    .theme-tip-delete:before,
    .theme-tip-idea:before,
    .theme-tip-btn {
      .layout-absolutel-base();
      cursor: pointer;
      display: inline-block;
      .user-tap-base();
      .user-select-base();
    }
    .theme-tip-btncheck {
      .opacity-base(0);
    }
    .theme-tip-active,
    .theme-tip-btncheck:checked + .theme-tip-list {
      display: inline-block !important;
    }
    .theme-tip-show {
      display: none;
      min-width: @theme-tip-width;
      max-width: 50vw;
      color: @color-gray3;
      font-size: @font-size-base;
      .user-select-base();
      .border-radius-base(3px);
      background-color: @color-global-white;
      padding: 0 10px;
      .box-shadow-base(-1px 2px 10px 0 @color-gray8);
      &:before {
        position: absolute;
        left: -6px;
        z-index: 5;
        content: '';
        display: inline-block;
        width: 0;
        height: 0;
        border-top: 6px solid transparent;
        border-right: 6px solid @color-global-white;
        border-bottom: 6px solid transparent;
        border-left: none;
      }
      /*&:after {
        .transform-origin-base();
        .transform-base(rotate(180deg));
        position: absolute;
        left: -5px;
        z-index:10;
        content: '';
        display: inline-block;
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-right: none;
        border-bottom: 5px solid transparent;
        border-left: 5px solid @color-global-white;
      }*/
    }
    /*列表*/
    .theme-tip-idea:before {
      content: attr(data-title);
      font-size: @font-size-base + 2;
      color: @main-theme-color;
      text-align: center;
      .border-radius-base(50%);
      background-color: lighten(@main-theme-color, 35%);
    }
    .theme-tip-list {
      display: none;
      width: 300px;
      margin-left: -@theme-tip-width * 2;
      color: @color-gray3;
      font-size: @font-size-base;
      line-height: @font-size-base + 10;
      .user-select-base();
      .text-ww();
      .border-radius-base(3px);
      * {
        .text-ww();
        line-height: @font-size-base + 10;
        color: @color-gray3;
      }
      background-color: @color-global-white;
      padding: 10px;
      .box-shadow-base(0 -1px 12px 0 @color-gray10);
      .zw-btn {
        text-align: center;
        .border-radius-base(3px);
        color: @color-global-white;
        width: 100%;
        margin-top: 10px;
      }
      &:before {
        position: absolute;
        top: -6px;
        z-index: 5;
        content: '';
        display: inline-block;
        width: 0;
        height: 0;
        border-top: none;
        border-right: 6px solid transparent;
        border-bottom: 6px solid @color-global-white;
        border-left: 6px solid transparent;
      }
    }
  }
  /*小主题*/
  .wx-theme-wrap {
    .theme-tip-wrap {
      width: @theme-height;
    }
    .theme-tip-delete:before,
    .theme-tip-btn {
      margin-top: -15px;
      width: @theme-height;
      height: @theme-height;
    }
    .theme-tip-idea:before {
      margin-top: -10px;
      width: @theme-height * .8;
      height: @theme-height * .8;
      line-height: @theme-height * .8;
    }
    .theme-tip-delete:before {
      line-height: @theme-height + @theme-gapt * .5;
    }
    .theme-tip-show {
      .layout-absolutel-base(@theme-height - 2, -8px);
      min-height: @theme-height * .7;
      line-height: @theme-height * .7 - 2;
      &:before {
        top: 5px;
      }
      /*&:after{
        top:6px;
      }*/
    }
    .theme-tip-list {
      .layout-absolutel-base(@theme-tip-width - 2, @theme-height - 10);
      &:before {
        left: @theme-tip-width + 10;
      }
    }
  }
  /*大主题*/
  .wx-labeltheme-wrap {
    .theme-tip-wrap {
      width: @labeltheme-height;
    }
    .theme-tip-delete:before,
    .theme-tip-btn {
      margin-top: -10px;
      width: @labeltheme-height;
      height: @labeltheme-height;
    }
    .theme-tip-idea:before {
      margin-top: -5px;
      width: @labeltheme-height * .8;
      height: @labeltheme-height * .8;
      line-height: @labeltheme-height * .8;
    }
    .theme-tip-delete:before {
      line-height: @labeltheme-height + @label-inner-height * .5;
    }
    .theme-tip-show {
      .layout-absolutel-base(@labeltheme-height - 2, 3px);
      min-height: @labeltheme-height * .6;
      line-height: @labeltheme-height * .6 - 2;
      &:before {
        top: 6px;
      }
      /*&:after{
        top:7px;
      }*/
    }
    .theme-tip-list {
      .layout-absolutel-base(@theme-tip-width - 2, @labeltheme-height - 10);
      &:before {
        left: @theme-tip-width + 14;
      }
    }
  }
}

/*主题调用*/
.wx-theme-function();
