<!--首页弹窗测试目标-->
<table class="table table-bordered table-striped table-hover admin-layout-table">

    <!--分组样式-->
    <colgroup>
        <col class="g-w-percent10">
        <col class="g-w-percent40">
    </colgroup>
    <!--头部-->
    <thead>
    <tr>
        <th>名称</th>
        <th>描述</th>
    </tr>
    </thead>

    <!--表主体-->
    <tbody class="middle-align">
    <tr>
        <td>angular</td>
        <td>前端mvc框架</td>
    </tr>
    <tr>
        <td>vue</td>
        <td>前端mvc框架</td>
    </tr>
    <tr>
        <td>bootstrap</td>
        <td>前端css框架</td>
    </tr>
    <tr>
        <td>jquery</td>
        <td>前端库</td>
    </tr>
    <tr>
        <td>less</td>
        <td>前端css预处理</td>
    </tr>
    </tbody>
</table>
<div class="clearfix"></div>
