///*不换行*/
.g-ws-nowrap {
  white-space: nowrap !important;
}

/*垂直方向对齐--居顶*/
.g-va-t {
  vertical-align: top !important;
}

/*垂直方向对齐--居中*/
.g-va-m {
  vertical-align: middle !important;
}

/*垂直方向对齐--居底*/
.g-va-b {
  vertical-align: bottom !important;
}

///*----文本溢出省略----*/
.g-to-e {
  .text-of();
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

/*文本溢出隐藏*/
.g-to-h {
  .text-of();
}

/*文本换行*/
.g-to-b {
  .text-ww();
}

/*文本不选中*/
.g-us-none {
  .user-select-base();
}

/*文本水平方向--居左*/
.g-ta-l {
  text-align: left !important;
}

/*文本水平方向--居中*/
.g-ta-c {
  text-align: center !important;
}

/*文本水平方向--居右*/
.g-ta-r {
  text-align: right !important;
}



