/*表单*/
/*默认类--默认label*/
.cc-form-label {
  .core-form-label-func();
}

/*默认类--默认输入域*/
.cc-form-input {
  .box-sizing-base();
  border: 1px solid @color-gray12;
  background: @color-white;
  .transition-base(border-color .2s ease-in-out .02s);
  color: @color-gray8;
  height: 30px;
  padding: 5px 10px;
  line-height: 20px;
  vertical-align: middle;
  &:focus {
    border-color: @color-info;
  }
}

/*默认类--默认radio,checkbox*/
.cc-form-check {
  width: 14px;
  height: 14px;
  border: 1px solid @color-gray12;
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

/*默认类--必填项span*/
.cc-form-require {
  &:before,
  &::before{
    content:'*';
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: @font-size-base + 6;
    width: 16px;
    height: 16px;
    font-size: @font-size-base;
    color:@color-red1;
  }
}
.cc-form-require-pos {
  .layout-relative-base();
  width:0;
  margin: 0;
  padding: 0;
  height:100%;
  &:before,
  &::before{
    @require-width:10px;
    content:'*';
    .layout-absolutel-base(-@require-width);
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-size: @font-size-base;
    width: 0;
    margin: 0;
    padding: 0;
    height: @require-width;
    color:@color-red1;
  }
}

/*默认类--textarea*/
.cc-form-textarea {
  min-height: 120px;
}

/*特殊状态*/
/*只读*/
.cc-form-readonly {
  cursor: default !important;
  background: @color-white !important;
}

/*静态展示*/
.cc-form-show {
  .box-sizing-base();
  color: @color-gray8;
  height: 30px;
  padding: 5px 10px;
  line-height: 20px;
  border-bottom: 1px solid @color-gray12;
  background: @color-white;
  .appearance-base(field);
}

/*编辑器*/
.cc-form-editor {
  border: none !important;
  height: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  display: inline-block !important;
  min-height: 0 !important;
}

/*自定义表单--紧凑型*/
.cc-form-groupself-min {
  .core-form-gsdef-func();
}
/*自定义表单--一般型*/
.cc-form-groupself-def {
  .core-form-gsdef-func(68px, 15px);
}
/*自定义表单--图标型*/
.cc-form-groupself-icon {
  .core-form-gsicon-func();
}

/*表单*/
.cc-form {
  textarea {
    min-height: 120px;
  }
  .control-label {
    .cc-form-label();
  }
;
  /*编辑器*/
  .ke-container {
    border: 1px solid @color-gray14;
    width: 100% !important;
    min-height: 300px;
  }
  .ke-toolbar {
    .box-sizing-base();
    padding-right: 50px;
  }
}












































