/*缩略图*/
/*定位缩略图*/
.cc-thumbnail-pos {
  @imgwrap-width: 60px;
  .layout-relative-base();
  background: @color-white;
  .box-sizing-base();
  width: @imgwrap-width;
  height: @imgwrap-width;
  text-align: center;
  border: 1px solid @color-gray14;
  padding: 3px;
  &:empty {
    &:before,
    &::before {
      overflow: hidden;
      content: '暂无图片';
      display: block;
      width: 100%;
      height: 100%;
      line-height: @imgwrap-width;
      color: @color-gray10;
      font-size: @font-size-base - 2;
    }
  }
  > img {
    display: inline-block;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  .thumbnail-show {
    .layout-absolutel-base(@imgwrap-width - 10, -500px  + @imgwrap-width + 80px);
    display: none;
    .box-sizing-base();
    padding: 16px;
    width: 800px;
    height: 500px;
    .thumbnail-showwrap,
    .thumbnail-outer,
    .thumbnail-inner {
      width: 100%;
      height: 100%;
      .box-sizing-base();
    }
    .thumbnail-showwrap {
      padding: 4px;
      display: inline-block;
      border: 1px solid @color-gray11;
      .border-radius-base(3px);
    }
    .thumbnail-outer {
      display: table;
    }
    .thumbnail-inner {
      background: @color-white;
      text-align: center;
      overflow: hidden;
      vertical-align: middle;
      display: table-cell;
      img {
        max-height: 450px;
        max-width: 750px;
        min-height: 100px;
        min-width: 100px;
        display: inline-block;
      }
    }
  }
  &:hover {
    .thumbnail-show {
      display: block;
    }
  }
}

/*默认缩略图*/
.cc-thumbnail-def{
  .layout-base();
  width: 252px;
  height: 122px;
  padding: 5px;
  border: 1px solid @color-gray14;
  .border-radius-base(3px);
  background: @color-white;
  margin: 0 auto;
  .goods-img,
  .goods-remark,
  .goods-theme {
    .box-sizing-base();
    display: block;
    float: left;
    .no-outline-base();
  }
  .goods-img {
    width: 80px;
    height: 80px;
    overflow: hidden;
    img {
      display: block;
      .layout-base();
      padding: 2px;
      background: @color-white;
      height: 100%;
      border: 1px solid @color-gray14;
    }
  }
  .goods-remark {
    width: 160px;
    height: 80px;
    text-align: left;
    font-size: @font-size-small;
    font-style: normal;
    line-height: 20px;
    padding: 0 0 0 10px;
    overflow: hidden;
    color: @color-gray10;
  }
  .goods-theme {
    width: 100%;
    text-align: left;
    height: 25px;
    border-top: 1px dashed @color-gray12;
    line-height: 25px;
    margin: 5px 0 0 0;
    font-size: @font-size-base - 2;
    color: @color-gray6;
    overflow: hidden;
  }
}
