.hs-body-wrap {
  width: 100%;
  min-width: @hs-container-width;
  //min-height: @hs-container-width/2;
}
.hs-body-pos {
  .layout-relative-base();
}
.hs-body-bg{
  background:url('../images/index_bg.jpg') 0 0 repeat;
}