/*头部*/
.hs-header-wrap {
  .layout-absolutel-base(0, 0, 100);
  width: 100%;
  height: @hs-header-height + @hs-header-logo-height + @hs-header-shadow;
  overflow: hidden;
  .header-bg {
    .layout-relative-base();
    width: 100%;
    height: @hs-header-height + @hs-header-logo-height;
  }
  .header-main {
    .layout-absolutel-base(0, 0, 110);
    .box-shadow-base(0 0 9px 5px @color-gray3);
    width: 100%;
    height: @hs-header-height;
    background: @color-white;
  }
  .header-logo {
    .layout-relative-base(0, @hs-header-height, 120);
    width: @hs-header-logo-width;
    height: @hs-header-logo-height;
    display: block;
    margin: 0 auto;
    background: @color-white;
    .box-shadow-base(0 0 9px 5px @color-gray3);
    .border-radius-base(0 0 @hs-header-logo-height @hs-header-logo-height);
    &:before {
      .layout-absolutel-base(-@hs-header-shadow, -@hs-header-shadow, 125);
      content: '';
      display:block;
      background:@color-white;
      width: @hs-header-logo-width + @hs-header-shadow * 2;
      height: @hs-header-shadow;
    }
    &:after{
      .layout-absolutel-base(0,-@hs-header-logo-height,130);
      width:100%;
      content:'';
      display: block;
      height:@hs-header-height;
      background:transparent url('../images/logo.png') center center no-repeat;
    }
  }
}
