/*圆形导航*/
.hs-circle-wrap {
  position: absolute;
  z-index: 10;
  top: @hs-header-height + @hs-header-logo-height + @hs-btn-width/2;
  left: 50%;
  width: @hs-circle-width;
  height: @hs-circle-height;
  margin-left: -@hs-circle-width/2;

  /*操作容器*/
  .circle-bg-wrap {
    .layout-relative-base(0, @hs-header-height);
    .layout-base();
    height: 100%;
  }
  /*圈背景*/
  .circle-bg {
    .layout-absolutel-base();
    width: 100%;
    height: 100%;
  }
  /*圈路径*/
  .circle-path {
    background: url("../images/circle_path.png") 0 0 no-repeat;
  }
  /*圈流星*/
  .circle-shooting {
    background: url("../images/shooting_star.png") 0 0 no-repeat;
    overflow: hidden;
    .border-radius-base(49%);
  }
  /*圈流星动画*/
  .circle-shooting-animate {
    .animation-base(animate-circle-shooting 10s linear 0s infinite);
  }
  /*圈按钮容器*/
  .circle-action {
    .layout-absolutel-base(50%, 50%, 20);
    width: 0;
    height: 0;
  }
  /*圈按钮*/
  .circle-btn {
    .layout-relative-base(0, 0, 30);
    width: 0;
    height: 0;
    > li {
      position: absolute;
      z-index: 40;
      width: @hs-btn-width;
      height: @hs-btn-width;
      .user-select-base();
    }
    /*按钮定位*/
    .btn-item{

    }
    /*医馆*/
    .btn-item1 {
      left: floor(@hs-circle-width/2 * cos(270deg) - @hs-btn-width/2);
      top: floor(@hs-circle-width/2 * sin(270deg) - @hs-btn-width/2);
      .btn-icon {
        background-image: url('../images/icon_yiguan.png');
      }
      .btn-show {
        &:after {
          bottom: -50px;
          left: 0;
          content: '医馆';
        }
      }
    }
    /*养老*/
    .btn-item2 {
      left: floor(@hs-circle-width/2 * cos(306deg) - @hs-btn-width/2);
      top: floor(@hs-circle-width/2 * sin(306deg) - @hs-btn-width/2);
      .btn-icon {
        background-image: url('../images/icon_yanglao.png');
      }
      .btn-show {
        &:after {
          top: 35px;
          left: 110%;
          content: '养老';
        }
      }
    }
    /*旅游*/
    .btn-item3 {
      left: floor(@hs-circle-width/2 * cos(342deg) - @hs-btn-width/2);
      top: floor(@hs-circle-width/2 * sin(342deg) - @hs-btn-width/2);
      .btn-icon {
        background-image: url('../images/icon_lvyou.png');
      }
      .btn-show {
        &:after {
          top: 35px;
          left: 110%;
          content: '旅游';
        }
      }
    }
    /*药业*/
    .btn-item4 {
      left: floor(@hs-circle-width/2 * cos(18deg) - @hs-btn-width/2);
      top: floor(@hs-circle-width/2 * sin(18deg) - @hs-btn-width/2);
      .btn-icon {
        background-image: url('../images/icon_yaoye.png');
      }
      .btn-show {
        &:after {
          top: 35px;
          left: 110%;
          content: '药业';
        }
      }
    }
    /*中医院*/
    .btn-item5 {
      left: floor(@hs-circle-width/2 * cos(54deg) - @hs-btn-width/2);
      top: floor(@hs-circle-width/2 * sin(54deg) - @hs-btn-width/2);
      .btn-icon {
        background-image: url('../images/icon_zhongyiyuan.png');
      }
      .btn-show {
        &:after {
          top: 35px;
          left: 110%;
          width: 120%;
          content: '中医院';
        }
      }
    }
    /*终端*/
    .btn-item6 {
      left: floor(@hs-circle-width/2 * cos(90deg) - @hs-btn-width/2);
      top: floor(@hs-circle-width/2 * sin(90deg) - @hs-btn-width/2);
      .btn-icon {
        background-image: url('../images/icon_zhongduan.png');
      }
      .btn-show {
        &:after {
          bottom: -50px;
          left: 0;
          content: '终端';
        }
      }
    }
    /*按钮效果*/
    .btn-show {
      .layout-relative-base(0, 0, 50);
      width: 100%;
      height: 100%;
      &:hover {
        .btn-background {
          .transform-origin-base(center center);
          .transform-base(scale(1.25));
          background-color: @hs-btn-active-bgcolor;
          .transition-base(transform .2s ease-in .01s e(',') background-color .2s ease-out .2s);
        }
        .btn-decorate {
          .opacity-base(100);
          .transform-base(scale(1));
          .transition-base(transform 0s ease-in 0s e(',') opacity .2s ease-in .4s);
        }
        &:after {
          color: @color-white;
          .transition-base(color .3s linear 0s);
        }
      }
      &:active {
        .btn-background {
          background-color: darken(@hs-btn-active-bgcolor, 5%);
          .transition-base(background-color .1s linear 0s);
        }
        .btn-icon {
          .opacity-base(100);
        }
      }
      &:after {
        position: absolute;
        z-index: 60;
        display: block;
        width: 100%;
        height: 40px;
        line-height: 40px;
        text-align: center;
        color: darken(@color-white, 15%);
        font-size: @font-size-base + 20;
        overflow: hidden;
      }
    }
    .btn-action {
      position: absolute;
      left: 0;
      top: 0;
      cursor: pointer;
      .border-radius-base(50%);
      width: 100%;
      height: 100%;
    }
    .btn-icon {
      z-index: 70;
      .opacity-base(90);
      background-color: transparent;
      background-position: center center;
      background-repeat: no-repeat;
    }
    .btn-decorate {
      z-index: 65;
      .opacity-base(0);
      .transform-origin-base(center center);
      .transform-base(scale(0.8));
      background: url('../images/btn_active.png') center center no-repeat;
      .transition-base(transform .3s ease-in .4s e(',') opacity .3s ease-out .6s);
    }
    .btn-background {
      z-index: 60;
      background-color: @hs-btn-bgcolor;
      .transition-base(transform .2s ease-out .01s e(',') background-color .3s ease-in .2s);
    }
  }
  /*操作展现*/
  .action-panel {
    .layout-absolutel-base(0, 0, 10);
    .border-radius-base(0 50% 50% 0);
    width: @hs-circle-width + @hs-circle-extend;
    height: @hs-circle-height;
    margin-left: -@hs-circle-extend;
  }
  .action-show {
    .layout-relative-base();
    .layout-base();
    height: 100%;
  }
  /*首页*/
  .index-show {
    > li {
      position: absolute;
    }
    /*首页展现背景*/
    .index-item-bg {
      @itembg-width: 530px;
      @itembg-height: 390px;

      left: 150px;
      top: 50%;
      margin-top: -@itembg-height/2;
      overflow: hidden;
      z-index: 10;
      background: transparent url('../images/action_index/action_index_bg.png') center center no-repeat;
      width: @itembg-width;
      height: @itembg-height;
    }
    /*首页展现云*/
    .index-item-cloud {
      left: 100px;
      top: 380px;
      overflow: hidden;
      z-index: 12;
      background: transparent url('../images/action_index/action_index_cloud.png') center center no-repeat;
      width: 123px;
      height: 74px;
      .animation-base(animate-index-cloud 2s linear 0s infinite);
    }
    /*首页心电图*/
    .index-item-heart {
      left: 280px;
      top: 450px;
      overflow: hidden;
      z-index: 12;
      background: transparent url('../images/action_index/action_index_heart.png') center center no-repeat;
      width: 69px;
      height: 57px;
    }
    /*首页报表*/
    .index-item-chart {
      left: 520px;
      top: 180px;
      overflow: hidden;
      z-index: 12;
      background: transparent url('../images/action_index/action_index_chart.png') center center no-repeat;
      width: 89px;
      height: 78px;
    }
    /*首页按钮*/
    .index-item-btn {
      right: 150px;
      top: 210px;
      overflow: hidden;
      z-index: 18;
      background: transparent url('../images/action_index/action_index_btn.png') center center no-repeat;
      width: 160px;
      height: 228px;
      .animation-base(animate-index-btn 3s linear 0s infinite);
    }
  }
  /*医馆*/
  .hospital-show {

    padding: 120px 120px 120px 200px;
    > li {
      .layout-relative-base(0, 0, 20);
      .layout-float-base(33.33333%);
      background-repeat: no-repeat;
      background-position: center top;
      height: 50%;
      padding: 80px 30px 10px 30px;
      &:hover {
        .hospital-btn {
          background: @color-white;
          color: @color-base;
        }
        &:after {
          .opacity-base(100);
          .transition-base(opacity .2s ease-in 0s);
        }
      }
      &:after {
        .layout-absolutel-base(0, 0, 1);
        content: '';
        .opacity-base(0);
        width: 100%;
        height: 100%;
        background: transparent url('../images/action_hospital/action_hospital_hover.png') center 30px no-repeat;
      }
      > div,
      > p,
      > a {
        .user-select-base();
        .text-ww();
        .box-sizing-base();
        text-align: center;
      }
      .hospital-btn {
        margin: 0 auto 10px auto;
        width: 90px;
        height: 30px;
        line-height: 30px;
        color: @color-white;
        background: @hs-btn-bgcolor;
        font-size: @font-size-base + 2;
      }
      > p {
        color: darken(@color-white, 10%);
        padding: 2px 0;
        width: 100%;
        font-size: @font-size-base;
        line-height: @font-size-base + 6;
      }
      .hospital-link {
        position: absolute;
        bottom: 20px;
        z-index: 20;
        left: 50%;
        margin-left: -40px;
        width: 80px;
        line-height: 26px;
        height: 26px;
        color: darken(@color-white, 10%);
        border: 1px solid @color-white;
        font-size: @font-size-base;
        &:after {
          content: '>';
        }
        &:hover {
          color: @color-white;
          &:after {
            .animation-base(animate-hospital-link 1.5s linear 0s infinite);
          }
        }
      }
    }
    /*医馆前台*/
    .hospital-item-front {
      background-image: url('../images/action_hospital/action_hospital_front.png');
    }
    .hospital-item-guide {
      background-image: url('../images/action_hospital/action_hospital_guide.png');
    }
    .hospital-item-department {
      background-image: url('../images/action_hospital/action_hospital_department.png');
    }
    .hospital-item-check {
      background-image: url('../images/action_hospital/action_hospital_check.png');
    }
    .hospital-item-pay {
      background-image: url('../images/action_hospital/action_hospital_pay.png');
    }
    .hospital-item-drug {
      background-image: url('../images/action_hospital/action_hospital_drug.png');
    }
  }
  /*养老*/
  .live-show {
    @live-left-base: (@hs-circle-width - @hs-live-width)/2;
    @live-top-base: (@hs-circle-width - @hs-live-height)/3;

    > li {
      padding: @hs-live-icon-width/2 0 0 0;
      .box-sizing-base();
      position: absolute;
      width: @hs-live-width;
      height: @hs-live-height;
      .border-radius-base(5px);
      border: 2px solid @color-gray12;
      background-color: @hs-live-bg;
      div,
      p {
        .box-sizing-base();
        .user-select-base();
      }
      p {
        .text-ww();
        text-align: center;
        color: @color-gray3;
        padding: 2px 0;
        width: 100%;
        font-size: @font-size-base;
        line-height: @font-size-base + 6;
      }
      &:hover {
        background-color: @hs-live-active-bg;
        .transition-base(background-color .1s ease-in .04s);
        .live-theme {
          background-color: @hs-btn-active-bgcolor;
          .transition-base(background-color .2s ease-in .01s);
        }
        .live-icon {
          background-color: rgba(192, 208, 227, 1);
        }
      }
    }
    /*前台*/
    .live-item-front {
      left: @live-left-base + @hs-live-gap-width/4;
      top: @live-top-base;
      .live-icon {
        background-image: url('../images/action_live/action_live_front.png');
      }
      &:hover {
        .live-icon {
          background-image: url('../images/action_live/action_live_front_hover.png');
        }
      }
    }
    /*服务*/
    .live-item-service {
      left: @live-left-base + @hs-live-width + @hs-live-gap-width * 1.5;
      top: @live-top-base;
      .live-icon {
        background-image: url('../images/action_live/action_live_service.png');
      }
      &:hover {
        .live-icon {
          background-image: url('../images/action_live/action_live_service_hover.png');
        }
      }
    }
    /*财务*/
    .live-item-pay {
      left: @live-left-base - @hs-live-width + @hs-live-gap-width;
      top: @live-top-base + @hs-live-height + @hs-live-gap-width;
      .live-icon {
        background-image: url('../images/action_live/action_live_pay.png');
      }
      &:hover {
        .live-icon {
          background-image: url('../images/action_live/action_live_pay_hover.png');
        }
      }
    }
    /*护理*/
    .live-item-nurse {
      left: @live-left-base + @hs-live-width/2 + @hs-live-gap-width;
      top: @live-top-base + @hs-live-height + @hs-live-gap-width;
      .live-icon {
        background-image: url('../images/action_live/action_live_nurse.png');
      }
      &:hover {
        .live-icon {
          background-image: url('../images/action_live/action_live_nurse_hover.png');
        }
      }
    }
    /*餐饮*/
    .live-item-food {
      left: @live-left-base + @hs-live-width * 2 + @hs-live-gap-width;
      top: @live-top-base + @hs-live-height + @hs-live-gap-width;
      .live-icon {
        background-image: url('../images/action_live/action_live_food.png');
      }
      &:hover {
        .live-icon {
          background-image: url('../images/action_live/action_live_food_hover.png');
        }
      }
    }
    /*选项主题*/
    .live-theme {
      .layout-absolutelb-base();
      width: 100%;
      height: @hs-live-icon-width - 4;
      background-color: @hs-live-bgcolor;
      line-height: @hs-live-icon-width - 4;
      font-size: @font-size-base + 4;
      text-align: center;
      color: @color-white;
      border-top: 2px solid @color-gray12;
      .border-radius-base(0 0 5px 5px);
    }
    .live-icon {
      .layout-absoluterb-base(-@hs-live-icon-width/3, -@hs-live-icon-width/2, 20);
      width: @hs-live-icon-width;
      height: @hs-live-icon-width;
      .border-radius-base(50%);
      border: 2px solid @color-gray12;
      background-color: rgba(204, 214, 201, 1);
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
  /*旅游*/
  .tour-show {
    text-align: center;
    .box-sizing-base();
    padding-top: @hs-circle-width/3;
    > li {
      .layout-relative-base();
      background-position: center center;
      background-repeat: no-repeat;
      padding: @hs-tour-width/2 10px 10px 10px;
      margin: 0 15px 0 0;
      display: inline-block;
      .layout-base(@hs-tour-width);
      height: @hs-tour-width * 2;
      overflow: hidden;
      .border-radius-base(16px);
      &:first-child {
        margin-left: @hs-tour-width/2;
      }
      > div,
      > p {
        position: relative;
        z-index: 20;
        .user-select-base();
      }
      > div {
        width: @hs-tour-width/2;
        height: @hs-tour-width/2;
        margin: 0 auto;
        background-position: center center;
        background-repeat: no-repeat;
        .border-radius-base(50%);
        background-color: @color-white;
        overflow: hidden;
      }
      > p {
        font-size: @font-size-base + 4;
        color: @color-base;
        margin: 20px 0 0 0;
        .text-ww();
      }
      &:after {
        .layout-absolutel-base();
        .opacity-base(60);
        content: '';
        background-color: @color-white;
        width: 100%;
        height: 100%;
      }
      &:hover {
        > p {
          color: @color-white;
        }
        &:after {
          .opacity-base(30);
          background-color: @hs-btn-active-bgcolor;
          .transition-base(opacity .3s ease-out .3s e(',') background-color .2s ease-in 0s);
        }
      }
    }
    .tour-item-line,
    .tour-item-pay {
      background-image: url('../images/action_tour/action_tour_bg1.png');
    }
    .tour-item-subscribe,
    .tour-item-car {
      background-image: url('../images/action_tour/action_tour_bg2.png');
    }
    .tour-item-line {
      > div {
        background-image: url('../images/action_tour/action_tour_line.png');
      }
      &:hover {
        & > div {
          background-color: @hs-btn-active-bgcolor;
          background-image: url('../images/action_tour/action_tour_line_hover.png');
        }
      }
    }
    .tour-item-subscribe {
      > div {
        background-image: url('../images/action_tour/action_tour_subscribe.png');
      }
      &:hover {
        & > div {
          background-color: @hs-btn-active-bgcolor;
          background-image: url('../images/action_tour/action_tour_subscribe_hover.png');
        }
      }
    }
    .tour-item-pay {
      > div {
        background-image: url('../images/action_tour/action_tour_pay.png');
      }
      &:hover {
        & > div {
          background-color: @hs-btn-active-bgcolor;
          background-image: url('../images/action_tour/action_tour_pay_hover.png');
        }
      }
    }
    .tour-item-car {
      > div {
        background-image: url('../images/action_tour/action_tour_car.png');
      }
      &:hover {
        & > div {
          background-color: @hs-btn-active-bgcolor;
          background-image: url('../images/action_tour/action_tour_car_hover.png');
        }
      }
    }
  }
  /*药业*/
  .drug-show {
    text-align: center;
    .box-sizing-base();
    padding-top: @hs-circle-width/3;
    > li {
      .user-select-base();
      background-position: center top;
      background-repeat: no-repeat;
      padding: @hs-drug-width * 1.1 0 0 0;
      margin: 0 20px 0 0;
      display: inline-block;
      .layout-base(@hs-drug-width);
      height: @hs-drug-width * 1.3;
      color: @color-white;
      font-size: @font-size-base + 4;
      &:first-child {
        margin-left: @hs-tour-width;
      }
    }
    .drug-item-admin {
      background-image: url('../images/action_drug/action_drug_admin.png');
    }
    .drug-item-control {
      background-image: url('../images/action_drug/action_drug_control.png');
    }
    .drug-item-data {
      background-image: url('../images/action_drug/action_drug_data.png');
    }
  }
  /*中医院*/
  .tcm-show {
    text-align: center;
    .box-sizing-base();
    padding-top: @hs-circle-width/3;
    font-size: 0;
    > li {
      .layout-relative-base();
      .user-select-base();
      background-position: center top;
      background-repeat: no-repeat;
      padding: @hs-tcm-height/3 0 0 0;
      margin-right: 20px;
      display: inline-block;
      .layout-base(@hs-tcm-width);
      height: @hs-tcm-height;
      text-align: center;
      vertical-align: top;
      &:first-child {
        margin-left: @hs-tcm-width;
      }
      &:before {
        @tcm-gap: 14px;
        .layout-absolutel-base(50%, -@hs-tcm-width/3);
        .opacity-base(0);
        content: '';
        width: @tcm-gap;
        height: @tcm-gap;
        margin-left: -@tcm-gap/2;
        background-color: @hs-btn-active-bgcolor;
        .border-radius-base(50%);
        overflow: hidden;
        display: block;
      }
      &:hover {
        > div {
          color: @hs-btn-active-bgcolor;
          border-bottom: 1px solid @hs-btn-active-bgcolor;
        }
        > p {
          color: @hs-btn-active-bgcolor;
        }
        &:before {
          .opacity-base(100);
        }
      }
      > div,
      > p {
        display: inline-block;
      }
      > div {
        font-size: @font-size-base + 4;
        color: @color-gray3;
        line-height: @hs-tcm-width - 30;
        height: @hs-tcm-width - 30;
        width: @hs-tcm-width - 20;
        border-bottom: 1px solid @color-gray9;
      }
      > p {
        width: 100%;
        font-size: @font-size-base;
        margin: 5px 0 0 0;
        color: @color-gray6;
      }
    }
    .tcm-item-front {
      background-image: url('../images/action_tcm/action_tcm_front.png');
    }
    .tcm-item-guid {
      background-image: url('../images/action_tcm/action_tcm_guid.png');
    }
    .tcm-item-department {
      background-image: url('../images/action_tcm/action_tcm_department.png');
    }
    .tcm-item-check {
      background-image: url('../images/action_tcm/action_tcm_check.png');
    }
    .tcm-item-pay {
      background-image: url('../images/action_tcm/action_tcm_pay.png');
    }
    .tcm-item-drug {
      background-image: url('../images/action_tcm/action_tcm_drug.png');
    }
  }
  /*终端*/
  .terminal-show {
    text-align: center;
    .box-sizing-base();
    padding-top: @hs-circle-width/3 + 20;
    > li {
      .user-select-base();
      background-position: center center;
      background-repeat: no-repeat;
      background-image: url('../images/action_terminal/action_terminal_bg.png');
      margin: 0 10px 0 0;
      display: inline-block;
      .layout-base(@hs-terminal-width);
      height: @hs-terminal-height;
      &:first-child {
        margin-left: @hs-terminal-width/2;
      }
      > div {
        color: @color-white;
        font-size: @font-size-base + 4;
        .layout-base();
        text-indent: 20px;
        padding: @hs-terminal-height/3 0 0 0;
        height: 100%;
      }
    }
    /*采购*/
    .terminal-item-purchase {
      > div {
        background: transparent url('../images/action_terminal/action_terminal_purchase.png') 55% 60% no-repeat;
      }
      &:hover {
        > div {
          color: @hs-live-bgcolor;
          background: transparent url('../images/action_terminal/action_terminal_purchase_hover.png') 55% 60% no-repeat;
        }
      }
    }
    /*设置*/
    .terminal-item-setting {
      > div {
        background: transparent url('../images/action_terminal/action_terminal_setting.png') 55% 60% no-repeat;
      }
      &:hover {
        > div {
          color: @hs-live-bgcolor;
          background: transparent url('../images/action_terminal/action_terminal_setting_hover.png') 55% 60% no-repeat;
        }
      }
    }
    /*管理*/
    .terminal-item-admin {
      > div {
        background: transparent url('../images/action_terminal/action_terminal_admin.png') 55% 60% no-repeat;
      }
      &:hover {
        > div {
          color: @hs-live-bgcolor;
          background: transparent url('../images/action_terminal/action_terminal_admin_hover.png') 55% 60% no-repeat;
        }
      }
    }
  }
}

/*圈--流星动画*/
@keyframes animate-circle-shooting {
  0% {
    .opacity-base(0);
    .transform-base(rotate(-20deg));
  }
  11% {
    .opacity-base(100);
    .transform-base(rotate(0deg));
  }
  89% {
    .opacity-base(100);
    .transform-base(rotate(140deg));
  }
  100% {
    .opacity-base(0);
    .transform-base(rotate(160deg));
  }
}

/*首页展现--云动画*/
@keyframes animate-index-cloud {
  50% {
    left: 120px;
  }
}

/*首页展现--按钮动画*/
@keyframes animate-index-btn {
  50% {
    top: 240px;
  }
}

/*医馆--进入动画*/
@keyframes animate-hospital-link {
  0% {
    content: '>';
  }
  50% {
    content: '>>';
  }
  100% {
    content: '>>>';
  }
}
