.hs-toggle-bg {
  .layout-absolutel-base();
  width: 100vw;
  height: 100vh;
  //background-color: @color-white;
  //background-repeat: no-repeat;
  //background-position: center center;
  //background-size: 100% auto;
  .calc-base(width, '100vw');
  .calc-base(height, '100vh');
  &, & .hs-toggle-canvas {
    min-width: @hs-container-width;
    //min-height: @hs-container-width/2;
  }
  .hs-toggle-canvas {
    //width: 100%;
    //height: 100%;
  }
}