/*无边框边框*/
.g-b-none {
  border: 0 !important;
}

/*无上边框*/
.g-bt-none {
  border-top: 0 !important;
}

/*无右边框*/
.g-br-none {
  border-right: 0 !important;
}

/*无下边框*/
.g-bb-none {
  border-bottom: 0 !important;
}

/*无左边框*/
.g-bl-none {
  border-left: 0 !important;
}