<!--主内容-->
<h1 class="admin-layout-theme3 g-clear-pt">管理员管理--{{vm.admin.id===''?'新增':'编辑'}}</h1>
<!--表格-->
<div class="row">
    <div class="col-md-12" ng-class="{'g-d-hidei':vm.admin.setting}">
        <div class="g-box-b g-w-percent50 g-gap-pt10 g-gap-pb10">
            <form ng-submit="vm.formSubmit({type:'admin',index:1,label:'管理员'})" name="adminFrom" role="form" novalidate method="post" class="admin-layout-form">
                <div class="form-group-self1">
                    <label class="self-label g-w-percent6 g-t-r"><span class="self-require g-c-red1">*</span>用户名</label>
                    <div class="self-input g-pos-r g-w-percent44">
                        <input type="text" name="userName" placeholder="请输入用户名" required ng-model="vm.admin.userName" class="ui-filter-html-illegal"/>
                        <span ng-show="adminFrom.userName.$dirty && adminFrom.userName.$error.required" class="self-tips self-tips-no g-c-red1 g-fs4 g-w-percent50">用户名不能为空</span>
                        <span ng-show="adminFrom.userName.$dirty && adminFrom.userName.$valid" class="self-tips self-tips-yes"></span>
                    </div>
                </div>

                <div class="form-group-self1 g-f-r g-w-number10">
                    <button type="submit" ng-show="vm.admin.id==='' && vm.powerlist.add" ng-disabled="!(vm.admin.id==='' && adminFrom.userName.$dirty && adminFrom.userName.$valid)"
                            class="btn btn-red g-br3 g-w-percent24 g-f-r">新增
                    </button>
                    <button type="button" class="btn btn-red g-br3 g-d-hidei g-w-percent24 g-f-r" id="admin_form_reset1" ng-click="vm.formReset({form:adminFrom,index:1,type:'admin'})">重置</button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-12"  ng-class="{'g-d-hidei':!vm.admin.setting}">
        <div class="admin-layout-theme4 admin-theme-close g-t-c g-b-gray17 g-pos-r">选择权限</div>
        <div class="g-box-b g-w-percent50" style="overflow-x: scroll">
            <table class="table table-bordered table-striped table-hover admin-layout-table">
                <colgroup data-view-power-colgroup data-colgroup="vm.power.colgroup"></colgroup>
                <thead data-view-power-thead-all data-thead="vm.power.thead" data-tbody="vm.power.tbody"></thead>
                <tbody data-view-power-tbody data-tbody="vm.power.tbody"></tbody>
            </table>
        </div>
        <button type="button" ng-show="vm.admin.userName!=='' && vm.powerlist.add" ng-click="vm.setPower()"
                class="btn btn-red g-br3 g-w-number4 g-gap-mt4 g-f-r">设置
        </button>
    </div>
</div>

