<h1 class="admin-layout-theme3 g-clear-pt">供应商管理--商品列</h1>

<!--信息列-->
<table class="table table-bordered table-striped table-hover admin-layout-table">
    <!--分组样式-->
    <colgroup>
        <col class="g-w-percent10">
        <col class="g-w-percent40">
    </colgroup>

    <thead>
    <tr>
        <th colspan="2" class="">供应商信息</th>
    </tr>
    </thead>

    <!--表主体-->
    <tbody class="middle-align">
    <tr>
        <th class="g-t-r">供应商名称:</th>
        <td>{{vm.record.providerName}}</td>
    </tr>
    <tr>
        <th class="g-t-r">店主姓名:</th>
        <td>{{vm.record.legalName}}</td>
    </tr>
    <tr>
        <th class="g-t-r">供应商审核状态:</th>
        <td ng-class="{'g-c-red1':vm.record.auditStatus==='','g-c-info':vm.record.auditStatus===0,'g-c-green2':vm.record.auditStatus===1,'g-c-warn':vm.record.auditStatus===2}">{{vm.record.auditMap[vm.record.auditStatus]}}</td>
    </tr>
    </tbody>
</table>

<!--查询区域-->
<div ng-show="vm.powerlist.query" class="admin-action-item">
    <!--过滤-->
    <div class="action-item-input g-w-number6 g-gap-mr3">
        <label class="action-indent-b2">过滤:<input class="form-control input-sm" placeholder="" ng-model="vm.record.filter" ng-keyup="vm.filterTableData()"  type="search"></label>
    </div>

    <!--批量处理按钮--必须是供应商已经审核了的状态才能操作-->
    <div ng-show="vm.record.auditStatus===1 || vm.powerlist.forbid" class="action-item-btn action-item-export g-w-number3 g-gap-mr2">
        <span ng-click="vm.doItemAction({index:1,attrkey:'forbid',attrvalue:'0',action:'forbid',type:'batch'})" class="btn btn-export g-br3 g-w-percent50 g-c-blue3">批量禁售</span>
    </div>
    <div ng-show="vm.record.auditStatus===1 || vm.powerlist.enabled" class="action-item-btn action-item-export g-w-number3 g-gap-mr2">
        <span ng-click="vm.doItemAction({index:1,attrkey:'forbid',attrvalue:'1',action:'enabled',type:'batch'})" class="btn btn-export g-br3 g-w-percent50 g-c-blue3">批量可售</span>
    </div>
    <div ng-show="vm.record.auditStatus===1 || vm.powerlist.up" class="action-item-btn action-item-export g-w-number3 g-gap-mr2">
        <span ng-click="vm.doItemAction({index:1,attrkey:'auditstatus,status',attrvalue:'1,0#2#3',action:'up',type:'batch'})" class="btn btn-export g-br3 g-w-percent50 g-c-blue3">批量上架</span>
    </div>
    <div ng-show="vm.record.auditStatus===1 || vm.powerlist.down" class="action-item-btn action-item-export g-w-number3 g-gap-mr2">
        <span ng-click="vm.doItemAction({index:1,attrkey:'auditstatus,status',attrvalue:'1,1',action:'down',type:'batch'})" class="btn btn-export g-br3 g-w-percent50 g-c-blue3">批量下架</span>
    </div>

    <!--列控制-->
    <div class="action-item-ul g-w-number3 g-pos-r" ng-show="vm.table.table_column1.columnshow && app_ctrl.viewmode.value==='default'">
        <div class="action-theme action-theme-btn g-br3 g-t-c">显示列</div>
        <div class="action-ul g-d-hidei" id="admin_list_column1">
            <ul class="action-list-wrap" ></ul>
        </div>
    </div>
</div>





<!--表格-->
<table id="admin_list_table1" class="table table-bordered table-striped table-hover admin-layout-table">

    <!--分组样式-->
    <colgroup id="admin_list_colgroup1">
        <col class="g-w-percent2">
        <col class="g-w-percent6">
        <col class="g-w-percent10">
        <col class="g-w-percent6">
        <col class="g-w-percent5">
        <col class="g-w-percent3">
        <col class="g-w-percent4">
        <col class="g-w-percent6">
        <col class="g-w-percent8">
    </colgroup>
    <!--头部-->
    <thead>
    <tr>
        <th class="g-clear-pl g-clear-pr g-t-c">
            <div class="admin-batchitem-wrap" ng-show="true || vm.powerlist.query" >
                <label data-check="0" class="admin-batchitem-check" id="admin_list_check1"></label>
            </div>
        </th>
        <th>商品编号</th>
        <th>商品名称</th>
        <th>商品审核状态</th>
        <th>分类</th>
        <th>排序</th>
        <th>状态</th>
        <th>禁售/取消禁售</th>
        <th>操作</th>
    </tr>
    </thead>

    <!--表主体-->
    <tbody id="admin_list_body1" class="middle-align"></tbody>
</table>

<!--分页-->
<div class="admin-page-wrap">
    <div class="easyui-pagination g-w-percent50" id="admin_list_page1" data-options="links:5,layout:['manual','first','prev','links','next','last'],displayMsg:'显示{from}&nbsp;到&nbsp;{to}&nbsp;共&nbsp;{total}条记录'"></div>
</div>
