<!DOCTYPE html>
<html lang="en">
<head>
	<title>请选择待办文件</title>
	<!--强制竖屏-->
	<meta name="x5-orientation" content="portrait">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
	<link rel="stylesheet" href="/zwwx/resource/css/font.css" />
    <link rel="stylesheet" href="/zwwx/resource/js/lib/weui/css/weui.css" />
    <link rel="stylesheet" href="/zwwx/resource/js/lib/weui/css/jquery-weui.css" />
    <style  type="text/css">
		body {
	    	margin: 0;
	    	line-height: unset !important;
		}
	</style>
    <script src="/zwwx/resource/js/lib/jquery/jquery.min.js"></script>
    <script src="/zwwx/resource/js/lib/weui/js/jquery-weui.min.js"></script>
    <script src="/zwwx/resource/js/lib/require/require.js"></script>
    <script src="/zwwx/resource/js/config/config.js"></script>
</head>
<body>
    <!--  筛选条件 -->
	<div id="searchTouch" class="wrapStatus" style="display:none">
		<div id="statusMainId" class="statusMain">
			状态&nbsp;&nbsp;&nbsp;&nbsp;
			<span id="nowStatus">全部</span>
			&nbsp;&nbsp;<span id="downBtn" class="downImg">▼</span><span id="upBtn" class="upImg">▲</span>
		</div>
	</div>
	<!-- 筛选弹出层 -->
	<div id= "dropDiv" class="dropSearchMain" style="display:none">
				<div class="dropWrap">
			<div class="dropChild" style="color:#f91e1e">全部</div>
			<div class="dropChild2 allStatus" style="color:#f91e1e"></div>
		</div>
		<div class="dropWrap">
			<div class="dropChild" style="color:#c92929">特提</div>
			<div class="dropChild2 ttStatus" style="color:#c92929"></div>
		</div>
		<div class="dropWrap">
			<div class="dropChild" style="color:#e8595d">特急</div>
			<div class="dropChild2 tjStatus" style="color:#e8595d"></div>
		</div>
		<!-- 新的 -->
		<div class="dropWrap">
			<div class="dropChild" style="color:#f37c42">加急</div>
			<div class="dropChild2 jiajiStatus" style="color:#f37c42"></div>
		</div>
		<div class="dropWrap">
			<div class="dropChild" style="color:#f59d50">急件</div>
			<div class="dropChild2 jjStatus" style="color:#f59d50"></div>
		</div>
		<!-- 新的 -->
		<div class="dropWrap">
			<div class="dropChild" style="color:#f8d148">平急</div>
			<div class="dropChild2 pingjiStatus" style="color:#f8d148"></div>
		</div>
		<div class="dropWrap">
			<div class="dropChild" style="color:#74cdf5">平件</div>
			<div class="dropChild2 pjStatus" style="color:#74cdf5"></div>
		</div>
		<div class="dropWrap2">
			<div id="cancelBtn" class="dropChild" style="border-right:1px solid #ddd;color:#989696;">取消</div>
			<div id="ensureBtn" class="dropChild" style="color:#5496da;">确定</div>
		</div>
	</div>
	<!-- 遮罩层 -->
	<div id="shadeDiv" class="shadeStyle"></div>
	<!-- 表格数据 -->
	<div id="grid" class="gridStyle"></div>
	<script type="text/javascript">
		$.showLoading("努力加载中...");
	</script>
	<script src="/zwwx/app/shidian/waitHandle/waitHandleList/waitHandleListCtrl.js"></script>
</body>
</html>