/*--兼容版本版本--*/
///*--基础类--*/
///*盒模型*/
.box-sizing-base(@boxsizing:border-box) {
  -ms-box-sizing: @boxsizing;
  -o-box-sizing: @boxsizing;
  -moz-box-sizing: @boxsizing;
  -webkit-box-sizing: @boxsizing;
  box-sizing: @boxsizing;
}

///*圆角*/
.border-radius-base(@radius:none) {
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  -webkit-border-radius: @radius;
  -khtml-border-radius: @radius;
  border-radius: @radius;
}

///*容器阴影*/
.box-shadow-base(@str) {
  -moz-box-shadow: @str;
  -ms-box-shadow: @str;
  -o-box-shadow: @str;
  -webkit-box-shadow: @str;
  box-shadow: @str;
}

///*文字阴影*/
.text-shadow-base(@str) {
  -moz-text-shadow: @str;
  -ms-text-shadow: @str;
  -o-text-shadow: @str;
  -webkit-text-shadow: @str;
  text-shadow: @str;
}

///*过渡*/
.transition-base(@str) {
  -moz-transition: @str;
  -ms-transition: @str;
  -o-transition: @str;
  -webkit-transition: @str;
  transition: @str;
}

///*变换中心*/
.transform-origin-base(@origin) {
  -moz-transform-origin: @origin;
  -ms-transform-origin: @origin;
  -o-transform-origin: @origin;
  -webkit-transform-origin: @origin;
  transform-origin: @origin;
}

///*变换*/
.transform-base(@str) {
  -moz-transform: @str;
  -ms-transform: @str;
  -o-transform: @str;
  -webkit-transform: @str;
  transform: @str;
}

///*动画类--调用*/
.animation-base(@str) {
  -moz-animation: @str;
  -ms-animation: @str;
  -webkit-animation: @str;
  -o-animation: @str;
  animation: @str;
}

///*动画类--名称定义*/
.animate-name-base(@name){

}


///*横向渐变*/
.linear-gradienth-base(@startColor: #555, @endColor: #333) {
  background-color: @endColor;
  background-image: -moz-linear-gradient(left, @startColor, @endColor);
  background-image: -webkit-gradient(linear, 0 0, 100% 0, from(@startColor), to(@endColor));
  background-image: -webkit-linear-gradient(left, @startColor, @endColor);
  background-image: -o-linear-gradient(left, @startColor, @endColor);
  background-image: linear-gradient(to right, @startColor, @endColor);
  background-repeat: repeat-x;
  filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=1)", argb(@startColor), argb(@endColor)));
}

///*纵项渐变*/
.linear-gradientv-base(@startColor: #555, @endColor: #333) {
  background-color: mix(@startColor, @endColor, 60%);
  background-image: -moz-linear-gradient(top, @startColor, @endColor);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@startColor), to(@endColor));
  background-image: -webkit-linear-gradient(top, @startColor, @endColor);
  background-image: -o-linear-gradient(top, @startColor, @endColor);
  background-image: linear-gradient(to bottom, @startColor, @endColor);
  background-repeat: repeat-x;
  filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)", argb(@startColor), argb(@endColor)));
}

///*文字颜色*/
.color-t-base(@color) {
    @{color-type}: @color;
}

///*背景颜色*/
.color-bg-base(@color) {
  background-@{color-type}: @color;
}

///*轮廓*/
.no-outline-base(@outline:none) {
  -moz-outline: @outline;
  -ms-outline: @outline;
  -o-outline: @outline;
  -webkit-outline: @outline;
  outline: @outline;
}

///*透明*/
.opacity-base(@str:100) {
  opacity: @str / 100;
  filter: ~"alpha(opacity=@{str})";
}

///*图像灰度*/
.filter-grayscale-base(@str:100) {
  -webkit-filter: grayscale(~'@{str}%');
  -moz-filter: grayscale(~'@{str}%');
  -o-filter: grayscale(~'@{str}%');
  -ms-filter: grayscale(~'@{str}%');
  filter: grayscale(~'@{str}%');
  filter: gray;
}

///*图像模糊*/
.filter-blur-base(@str:5) {
  -webkit-filter: blur(~'@{str}px');
  -moz-filter: blur(~'@{str}px');
  -o-filter: blur(~'@{str}px');
  -ms-filter: blur(~'@{str}px');
  filter: blur(~'@{str}px');
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=~'@{str}', MakeShadow=false);
}

///*透视*/
.perspective-base(@str:50px) {
  -webkit-perspective: @str;
  -ms-perspective: @str;
  -moz-perspective: @str;
  -o-perspective: @str;
  perspective: @str;
}

///*透视坐标*/
.perspective-origin-base(@strx:center,@stry:center) {
  -webkit-perspective-origin: @strx @stry;
  -moz-perspective-origin: @strx @stry;
  -ms-perspective-origin: @strx @stry;
  -o-perspective-origin: @strx @stry;
  perspective-origin: @strx @stry;
}

///*屏幕模式下的文字缩放(none或者100%为关闭)*/
.text-size-adjust-base(@str:100%) {
  -moz-text-size-adjust: @str;
  -o-text-size-adjust: @str;
  -webkit-text-size-adjust: @str;
  -ms-text-size-adjust: @str;
  text-size-adjust: @str;
}

///*动态及时尺寸*/
.calc-base(@obj,@str) {
    @{obj}: -webkit-calc(~'@{str}');
    @{obj}: -moz-calc(~'@{str}');
    @{obj}: calc(~'@{str}');
}

///*伪对象*/
.placeholder-base(@obj,@str) {
  @{obj}:-ms-input-placeholder, @{obj}::-webkit-input-placeholder, @{obj}:-moz-placeholder, @{obj}::-moz-placeholder {@str();
  }
}

///*外观*/
.appearance-base(@app:normal){
  -moz-appearance: @app;
  -webkit-appearance: @app;
  appearance:@app;
}
