/*扩展公共变量*/
@ad-ce-btn:ce-btn;


/*容器*/
@ad-body-min-height: 700px;
@ad-box-gapp: 10px;
@ad-box-gapm: 10px;

/*内容容器*/
@ad-content-min-height: 400px;

/*404错误页面*/
@ad-f0f-icon-width: 300px;
@ad-f0f-icon-height: 582px;

/*头部宽度*/
@ad-header-height: 64px;
@ad-header-gappr: 50px;

/*登录*/
@ad-login-width:600px;
@ad-login-height:400px;
@ad-login-icon-width:152px;
@ad-login-icon-height:38px;
