<!DOCTYPE html>
<html lang="en">
<head>
	<title>请选择已签收文件</title>
	<!--强制竖屏-->
	<meta name="x5-orientation" content="portrait">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"> 
    <link rel="stylesheet" href="/zwwxV2/resource/js/lib/weui/css/weui.css" />
    <link rel="stylesheet" href="/zwwxV2/resource/js/lib/weui/css/jquery-weui.css" />
    <style  type="text/css">
		body {
	    	margin: 0;
	    	line-height: unset !important;
		}
	</style>
    <script src="/zwwxV2/resource/js/lib/jquery/jquery.min.js"></script>
    <script src="/zwwxV2/resource/js/lib/weui/js/jquery-weui.min.js"></script>
    <script src="/zwwxV2/resource/js/lib/require/require.js"></script>
    <script src="/zwwxV2/resource/js/config/config.js"></script>
    
</head>
<body>
	<!-- 表格数据 -->
	<div id="grid" class="gridStyle"></div>
	<script type="text/javascript">
		$.showLoading("努力加载中...");
	</script>
	<script src="/zwwxV2/app/feishidian/signDone/signList/signDoneListCtrl.js"></script>
</body>
</html>
