body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12484_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:160px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12484 {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:160px;
}
#u12485 {
  position:absolute;
  left:2px;
  top:72px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12486_div {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:900px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12486 {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:900px;
}
#u12487 {
  position:absolute;
  left:2px;
  top:442px;
  width:295px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12488_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1301px;
  height:2px;
}
#u12488 {
  position:absolute;
  left:300px;
  top:52px;
  width:1300px;
  height:1px;
}
#u12489 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12490_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:161px;
}
#u12490 {
  position:absolute;
  left:299px;
  top:0px;
  width:1px;
  height:160px;
}
#u12491 {
  position:absolute;
  left:2px;
  top:72px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12492_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u12492 {
  position:absolute;
  left:81px;
  top:52px;
  width:141px;
  height:57px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u12493 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u12494_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12494 {
  position:absolute;
  left:1405px;
  top:21px;
  width:85px;
  height:16px;
}
#u12495 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u12496 {
  position:absolute;
  left:1513px;
  top:12px;
  width:71px;
  height:30px;
}
#u12496_input {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u12496_input:disabled {
  color:grayText;
}
#u12497_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1301px;
  height:71px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12497 {
  position:absolute;
  left:299px;
  top:829px;
  width:1301px;
  height:71px;
}
#u12498 {
  position:absolute;
  left:2px;
  top:28px;
  width:1297px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12499_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1301px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12499 {
  position:absolute;
  left:299px;
  top:166px;
  width:1301px;
  height:50px;
}
#u12500 {
  position:absolute;
  left:2px;
  top:17px;
  width:1297px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12501_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12501 {
  position:absolute;
  left:323px;
  top:183px;
  width:71px;
  height:16px;
}
#u12502 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u12503 {
  position:absolute;
  left:394px;
  top:176px;
  width:120px;
  height:30px;
}
#u12503_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12504_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12504 {
  position:absolute;
  left:524px;
  top:183px;
  width:57px;
  height:16px;
}
#u12505 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12506 {
  position:absolute;
  left:581px;
  top:175px;
  width:143px;
  height:30px;
}
#u12506_input {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12507 {
  position:absolute;
  left:299px;
  top:215px;
  width:1306px;
  height:395px;
}
#u12508_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:40px;
}
#u12508 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:40px;
}
#u12509 {
  position:absolute;
  left:2px;
  top:12px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12510_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:40px;
}
#u12510 {
  position:absolute;
  left:98px;
  top:0px;
  width:186px;
  height:40px;
}
#u12511 {
  position:absolute;
  left:2px;
  top:12px;
  width:182px;
  word-wrap:break-word;
}
#u12512_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:40px;
}
#u12512 {
  position:absolute;
  left:284px;
  top:0px;
  width:221px;
  height:40px;
}
#u12513 {
  position:absolute;
  left:2px;
  top:12px;
  width:217px;
  word-wrap:break-word;
}
#u12514_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:40px;
}
#u12514 {
  position:absolute;
  left:505px;
  top:0px;
  width:169px;
  height:40px;
}
#u12515 {
  position:absolute;
  left:2px;
  top:12px;
  width:165px;
  word-wrap:break-word;
}
#u12516_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:40px;
}
#u12516 {
  position:absolute;
  left:674px;
  top:0px;
  width:171px;
  height:40px;
}
#u12517 {
  position:absolute;
  left:2px;
  top:12px;
  width:167px;
  word-wrap:break-word;
}
#u12518_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:40px;
}
#u12518 {
  position:absolute;
  left:845px;
  top:0px;
  width:184px;
  height:40px;
}
#u12519 {
  position:absolute;
  left:2px;
  top:12px;
  width:180px;
  word-wrap:break-word;
}
#u12520_img {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:40px;
}
#u12520 {
  position:absolute;
  left:1029px;
  top:0px;
  width:272px;
  height:40px;
}
#u12521 {
  position:absolute;
  left:2px;
  top:12px;
  width:268px;
  word-wrap:break-word;
}
#u12522_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:50px;
}
#u12522 {
  position:absolute;
  left:0px;
  top:40px;
  width:98px;
  height:50px;
}
#u12523 {
  position:absolute;
  left:2px;
  top:17px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12524_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:50px;
}
#u12524 {
  position:absolute;
  left:98px;
  top:40px;
  width:186px;
  height:50px;
}
#u12525 {
  position:absolute;
  left:2px;
  top:17px;
  width:182px;
  word-wrap:break-word;
}
#u12526_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:50px;
}
#u12526 {
  position:absolute;
  left:284px;
  top:40px;
  width:221px;
  height:50px;
}
#u12527 {
  position:absolute;
  left:2px;
  top:17px;
  width:217px;
  word-wrap:break-word;
}
#u12528_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:50px;
}
#u12528 {
  position:absolute;
  left:505px;
  top:40px;
  width:169px;
  height:50px;
}
#u12529 {
  position:absolute;
  left:2px;
  top:17px;
  width:165px;
  word-wrap:break-word;
}
#u12530_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:50px;
}
#u12530 {
  position:absolute;
  left:674px;
  top:40px;
  width:171px;
  height:50px;
}
#u12531 {
  position:absolute;
  left:2px;
  top:17px;
  width:167px;
  word-wrap:break-word;
}
#u12532_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:50px;
}
#u12532 {
  position:absolute;
  left:845px;
  top:40px;
  width:184px;
  height:50px;
}
#u12533 {
  position:absolute;
  left:2px;
  top:17px;
  width:180px;
  word-wrap:break-word;
}
#u12534_img {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:50px;
}
#u12534 {
  position:absolute;
  left:1029px;
  top:40px;
  width:272px;
  height:50px;
}
#u12535 {
  position:absolute;
  left:2px;
  top:17px;
  width:268px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12536_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:50px;
}
#u12536 {
  position:absolute;
  left:0px;
  top:90px;
  width:98px;
  height:50px;
}
#u12537 {
  position:absolute;
  left:2px;
  top:17px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12538_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:50px;
}
#u12538 {
  position:absolute;
  left:98px;
  top:90px;
  width:186px;
  height:50px;
}
#u12539 {
  position:absolute;
  left:2px;
  top:17px;
  width:182px;
  word-wrap:break-word;
}
#u12540_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:50px;
}
#u12540 {
  position:absolute;
  left:284px;
  top:90px;
  width:221px;
  height:50px;
}
#u12541 {
  position:absolute;
  left:2px;
  top:17px;
  width:217px;
  word-wrap:break-word;
}
#u12542_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:50px;
}
#u12542 {
  position:absolute;
  left:505px;
  top:90px;
  width:169px;
  height:50px;
}
#u12543 {
  position:absolute;
  left:2px;
  top:17px;
  width:165px;
  word-wrap:break-word;
}
#u12544_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:50px;
}
#u12544 {
  position:absolute;
  left:674px;
  top:90px;
  width:171px;
  height:50px;
}
#u12545 {
  position:absolute;
  left:2px;
  top:17px;
  width:167px;
  word-wrap:break-word;
}
#u12546_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:50px;
}
#u12546 {
  position:absolute;
  left:845px;
  top:90px;
  width:184px;
  height:50px;
}
#u12547 {
  position:absolute;
  left:2px;
  top:17px;
  width:180px;
  word-wrap:break-word;
}
#u12548_img {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:50px;
}
#u12548 {
  position:absolute;
  left:1029px;
  top:90px;
  width:272px;
  height:50px;
}
#u12549 {
  position:absolute;
  left:2px;
  top:17px;
  width:268px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12550_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:50px;
}
#u12550 {
  position:absolute;
  left:0px;
  top:140px;
  width:98px;
  height:50px;
}
#u12551 {
  position:absolute;
  left:2px;
  top:17px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12552_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:50px;
}
#u12552 {
  position:absolute;
  left:98px;
  top:140px;
  width:186px;
  height:50px;
}
#u12553 {
  position:absolute;
  left:2px;
  top:17px;
  width:182px;
  word-wrap:break-word;
}
#u12554_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:50px;
}
#u12554 {
  position:absolute;
  left:284px;
  top:140px;
  width:221px;
  height:50px;
}
#u12555 {
  position:absolute;
  left:2px;
  top:17px;
  width:217px;
  word-wrap:break-word;
}
#u12556_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:50px;
}
#u12556 {
  position:absolute;
  left:505px;
  top:140px;
  width:169px;
  height:50px;
}
#u12557 {
  position:absolute;
  left:2px;
  top:17px;
  width:165px;
  word-wrap:break-word;
}
#u12558_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:50px;
}
#u12558 {
  position:absolute;
  left:674px;
  top:140px;
  width:171px;
  height:50px;
}
#u12559 {
  position:absolute;
  left:2px;
  top:17px;
  width:167px;
  word-wrap:break-word;
}
#u12560_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:50px;
}
#u12560 {
  position:absolute;
  left:845px;
  top:140px;
  width:184px;
  height:50px;
}
#u12561 {
  position:absolute;
  left:2px;
  top:17px;
  width:180px;
  word-wrap:break-word;
}
#u12562_img {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:50px;
}
#u12562 {
  position:absolute;
  left:1029px;
  top:140px;
  width:272px;
  height:50px;
}
#u12563 {
  position:absolute;
  left:2px;
  top:17px;
  width:268px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12564_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:50px;
}
#u12564 {
  position:absolute;
  left:0px;
  top:190px;
  width:98px;
  height:50px;
}
#u12565 {
  position:absolute;
  left:2px;
  top:17px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12566_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:50px;
}
#u12566 {
  position:absolute;
  left:98px;
  top:190px;
  width:186px;
  height:50px;
}
#u12567 {
  position:absolute;
  left:2px;
  top:17px;
  width:182px;
  word-wrap:break-word;
}
#u12568_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:50px;
}
#u12568 {
  position:absolute;
  left:284px;
  top:190px;
  width:221px;
  height:50px;
}
#u12569 {
  position:absolute;
  left:2px;
  top:17px;
  width:217px;
  word-wrap:break-word;
}
#u12570_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:50px;
}
#u12570 {
  position:absolute;
  left:505px;
  top:190px;
  width:169px;
  height:50px;
}
#u12571 {
  position:absolute;
  left:2px;
  top:17px;
  width:165px;
  word-wrap:break-word;
}
#u12572_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:50px;
}
#u12572 {
  position:absolute;
  left:674px;
  top:190px;
  width:171px;
  height:50px;
}
#u12573 {
  position:absolute;
  left:2px;
  top:17px;
  width:167px;
  word-wrap:break-word;
}
#u12574_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:50px;
}
#u12574 {
  position:absolute;
  left:845px;
  top:190px;
  width:184px;
  height:50px;
}
#u12575 {
  position:absolute;
  left:2px;
  top:17px;
  width:180px;
  word-wrap:break-word;
}
#u12576_img {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:50px;
}
#u12576 {
  position:absolute;
  left:1029px;
  top:190px;
  width:272px;
  height:50px;
}
#u12577 {
  position:absolute;
  left:2px;
  top:17px;
  width:268px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12578_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:50px;
}
#u12578 {
  position:absolute;
  left:0px;
  top:240px;
  width:98px;
  height:50px;
}
#u12579 {
  position:absolute;
  left:2px;
  top:17px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12580_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:50px;
}
#u12580 {
  position:absolute;
  left:98px;
  top:240px;
  width:186px;
  height:50px;
}
#u12581 {
  position:absolute;
  left:2px;
  top:17px;
  width:182px;
  word-wrap:break-word;
}
#u12582_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:50px;
}
#u12582 {
  position:absolute;
  left:284px;
  top:240px;
  width:221px;
  height:50px;
}
#u12583 {
  position:absolute;
  left:2px;
  top:17px;
  width:217px;
  word-wrap:break-word;
}
#u12584_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:50px;
}
#u12584 {
  position:absolute;
  left:505px;
  top:240px;
  width:169px;
  height:50px;
}
#u12585 {
  position:absolute;
  left:2px;
  top:17px;
  width:165px;
  word-wrap:break-word;
}
#u12586_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:50px;
}
#u12586 {
  position:absolute;
  left:674px;
  top:240px;
  width:171px;
  height:50px;
}
#u12587 {
  position:absolute;
  left:2px;
  top:17px;
  width:167px;
  word-wrap:break-word;
}
#u12588_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:50px;
}
#u12588 {
  position:absolute;
  left:845px;
  top:240px;
  width:184px;
  height:50px;
}
#u12589 {
  position:absolute;
  left:2px;
  top:17px;
  width:180px;
  word-wrap:break-word;
}
#u12590_img {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:50px;
}
#u12590 {
  position:absolute;
  left:1029px;
  top:240px;
  width:272px;
  height:50px;
}
#u12591 {
  position:absolute;
  left:2px;
  top:17px;
  width:268px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12592_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:50px;
}
#u12592 {
  position:absolute;
  left:0px;
  top:290px;
  width:98px;
  height:50px;
}
#u12593 {
  position:absolute;
  left:2px;
  top:17px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12594_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:50px;
}
#u12594 {
  position:absolute;
  left:98px;
  top:290px;
  width:186px;
  height:50px;
}
#u12595 {
  position:absolute;
  left:2px;
  top:17px;
  width:182px;
  word-wrap:break-word;
}
#u12596_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:50px;
}
#u12596 {
  position:absolute;
  left:284px;
  top:290px;
  width:221px;
  height:50px;
}
#u12597 {
  position:absolute;
  left:2px;
  top:17px;
  width:217px;
  word-wrap:break-word;
}
#u12598_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:50px;
}
#u12598 {
  position:absolute;
  left:505px;
  top:290px;
  width:169px;
  height:50px;
}
#u12599 {
  position:absolute;
  left:2px;
  top:17px;
  width:165px;
  word-wrap:break-word;
}
#u12600_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:50px;
}
#u12600 {
  position:absolute;
  left:674px;
  top:290px;
  width:171px;
  height:50px;
}
#u12601 {
  position:absolute;
  left:2px;
  top:17px;
  width:167px;
  word-wrap:break-word;
}
#u12602_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:50px;
}
#u12602 {
  position:absolute;
  left:845px;
  top:290px;
  width:184px;
  height:50px;
}
#u12603 {
  position:absolute;
  left:2px;
  top:17px;
  width:180px;
  word-wrap:break-word;
}
#u12604_img {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:50px;
}
#u12604 {
  position:absolute;
  left:1029px;
  top:290px;
  width:272px;
  height:50px;
}
#u12605 {
  position:absolute;
  left:2px;
  top:17px;
  width:268px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12606_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:50px;
}
#u12606 {
  position:absolute;
  left:0px;
  top:340px;
  width:98px;
  height:50px;
}
#u12607 {
  position:absolute;
  left:2px;
  top:17px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12608_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:50px;
}
#u12608 {
  position:absolute;
  left:98px;
  top:340px;
  width:186px;
  height:50px;
}
#u12609 {
  position:absolute;
  left:2px;
  top:17px;
  width:182px;
  word-wrap:break-word;
}
#u12610_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:50px;
}
#u12610 {
  position:absolute;
  left:284px;
  top:340px;
  width:221px;
  height:50px;
}
#u12611 {
  position:absolute;
  left:2px;
  top:17px;
  width:217px;
  word-wrap:break-word;
}
#u12612_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:50px;
}
#u12612 {
  position:absolute;
  left:505px;
  top:340px;
  width:169px;
  height:50px;
}
#u12613 {
  position:absolute;
  left:2px;
  top:17px;
  width:165px;
  word-wrap:break-word;
}
#u12614_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:50px;
}
#u12614 {
  position:absolute;
  left:674px;
  top:340px;
  width:171px;
  height:50px;
}
#u12615 {
  position:absolute;
  left:2px;
  top:17px;
  width:167px;
  word-wrap:break-word;
}
#u12616_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:50px;
}
#u12616 {
  position:absolute;
  left:845px;
  top:340px;
  width:184px;
  height:50px;
}
#u12617 {
  position:absolute;
  left:2px;
  top:17px;
  width:180px;
  word-wrap:break-word;
}
#u12618_img {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:50px;
}
#u12618 {
  position:absolute;
  left:1029px;
  top:340px;
  width:272px;
  height:50px;
}
#u12619 {
  position:absolute;
  left:2px;
  top:17px;
  width:268px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12620 {
  position:absolute;
  left:328px;
  top:322px;
  width:14px;
  height:16px;
}
#u12621 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12620_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12622 {
  position:absolute;
  left:328px;
  top:373px;
  width:14px;
  height:16px;
}
#u12623 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12622_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12624 {
  position:absolute;
  left:328px;
  top:421px;
  width:14px;
  height:16px;
}
#u12625 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12624_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12626 {
  position:absolute;
  left:328px;
  top:472px;
  width:14px;
  height:16px;
}
#u12627 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12626_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12628 {
  position:absolute;
  left:328px;
  top:522px;
  width:14px;
  height:16px;
}
#u12629 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12628_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12630 {
  position:absolute;
  left:328px;
  top:572px;
  width:14px;
  height:16px;
}
#u12631 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12630_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12632_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u12632 {
  position:absolute;
  left:734px;
  top:179px;
  width:60px;
  height:25px;
  color:#0099FF;
}
#u12633 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u12634_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u12634 {
  position:absolute;
  left:1503px;
  top:271px;
  width:29px;
  height:16px;
  color:#0099FF;
}
#u12635 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12636_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u12636 {
  position:absolute;
  left:1503px;
  top:322px;
  width:29px;
  height:16px;
  color:#0099FF;
}
#u12637 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12638_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u12638 {
  position:absolute;
  left:1503px;
  top:375px;
  width:29px;
  height:16px;
  color:#0099FF;
}
#u12639 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12640_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u12640 {
  position:absolute;
  left:1503px;
  top:426px;
  width:29px;
  height:16px;
  color:#0099FF;
}
#u12641 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12642_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u12642 {
  position:absolute;
  left:1503px;
  top:475px;
  width:29px;
  height:16px;
  color:#0099FF;
}
#u12643 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12644_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u12644 {
  position:absolute;
  left:1503px;
  top:524px;
  width:29px;
  height:16px;
  color:#0099FF;
}
#u12645 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12646_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u12646 {
  position:absolute;
  left:1503px;
  top:571px;
  width:29px;
  height:16px;
  color:#0099FF;
}
#u12647 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12648 {
  position:absolute;
  left:311px;
  top:228px;
  width:47px;
  height:16px;
}
#u12649 {
  position:absolute;
  left:16px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u12648_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12650 {
  position:absolute;
  left:328px;
  top:273px;
  width:14px;
  height:16px;
}
#u12651 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12650_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12652 {
  position:absolute;
  left:323px;
  top:857px;
  width:47px;
  height:16px;
}
#u12653 {
  position:absolute;
  left:16px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u12652_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12654 {
  position:absolute;
  left:0px;
  top:160px;
  width:300px;
  height:740px;
  overflow:hidden;
}
#u12654_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:740px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12654_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12655 {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:740px;
  overflow:hidden;
}
#u12655_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:740px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u12655_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12656 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12657_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:100px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u12657 {
  position:absolute;
  left:0px;
  top:1608px;
  width:300px;
  height:100px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u12658 {
  position:absolute;
  left:2px;
  top:40px;
  width:296px;
  word-wrap:break-word;
}
#u12659 {
  position:absolute;
  left:0px;
  top:1707px;
  width:305px;
  height:105px;
}
#u12660_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
}
#u12660 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
}
#u12660_img.mouseOver {
}
#u12660.mouseOver {
}
#u12660_img.mouseDown {
}
#u12660.mouseDown {
}
#u12660_img.selected {
}
#u12660.selected {
}
#u12661 {
  position:absolute;
  left:2px;
  top:17px;
  width:296px;
  word-wrap:break-word;
}
#u12662_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
}
#u12662 {
  position:absolute;
  left:0px;
  top:50px;
  width:300px;
  height:50px;
}
#u12662_img.mouseOver {
}
#u12662.mouseOver {
}
#u12662_img.mouseDown {
}
#u12662.mouseDown {
}
#u12662_img.selected {
}
#u12662.selected {
}
#u12663 {
  position:absolute;
  left:2px;
  top:17px;
  width:296px;
  word-wrap:break-word;
}
#u12664_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u12664 {
  position:absolute;
  left:265px;
  top:1647px;
  width:20px;
  height:20px;
}
#u12665 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12666 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12667_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:100px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u12667 {
  position:absolute;
  left:0px;
  top:834px;
  width:300px;
  height:100px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u12668 {
  position:absolute;
  left:2px;
  top:40px;
  width:296px;
  word-wrap:break-word;
}
#u12669_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u12669 {
  position:absolute;
  left:265px;
  top:875px;
  width:20px;
  height:20px;
}
#u12670 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12671 {
  position:absolute;
  left:0px;
  top:933px;
  width:305px;
  height:185px;
}
#u12672_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
}
#u12672 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
}
#u12672_img.mouseOver {
}
#u12672.mouseOver {
}
#u12672_img.mouseDown {
}
#u12672.mouseDown {
}
#u12672_img.selected {
}
#u12672.selected {
}
#u12673 {
  position:absolute;
  left:2px;
  top:22px;
  width:296px;
  word-wrap:break-word;
}
#u12674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
}
#u12674 {
  position:absolute;
  left:0px;
  top:60px;
  width:300px;
  height:60px;
}
#u12674_img.mouseOver {
}
#u12674.mouseOver {
}
#u12674_img.mouseDown {
}
#u12674.mouseDown {
}
#u12674_img.selected {
}
#u12674.selected {
}
#u12675 {
  position:absolute;
  left:2px;
  top:22px;
  width:296px;
  word-wrap:break-word;
}
#u12676_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
}
#u12676 {
  position:absolute;
  left:0px;
  top:120px;
  width:300px;
  height:60px;
}
#u12676_img.mouseOver {
}
#u12676.mouseOver {
}
#u12676_img.mouseDown {
}
#u12676.mouseDown {
}
#u12676_img.selected {
}
#u12676.selected {
}
#u12677 {
  position:absolute;
  left:2px;
  top:22px;
  width:296px;
  word-wrap:break-word;
}
#u12678 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12679_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:100px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u12679 {
  position:absolute;
  left:0px;
  top:556px;
  width:300px;
  height:100px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u12680 {
  position:absolute;
  left:2px;
  top:40px;
  width:296px;
  word-wrap:break-word;
}
#u12681_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u12681 {
  position:absolute;
  left:265px;
  top:598px;
  width:20px;
  height:20px;
}
#u12682 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12683 {
  position:absolute;
  left:0px;
  top:655px;
  width:305px;
  height:185px;
}
#u12684_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
}
#u12684 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
}
#u12684_img.mouseOver {
}
#u12684.mouseOver {
}
#u12684_img.mouseDown {
}
#u12684.mouseDown {
}
#u12684_img.selected {
}
#u12684.selected {
}
#u12685 {
  position:absolute;
  left:2px;
  top:22px;
  width:296px;
  word-wrap:break-word;
}
#u12686_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
}
#u12686 {
  position:absolute;
  left:0px;
  top:60px;
  width:300px;
  height:60px;
}
#u12686_img.mouseOver {
}
#u12686.mouseOver {
}
#u12686_img.mouseDown {
}
#u12686.mouseDown {
}
#u12686_img.selected {
}
#u12686.selected {
}
#u12687 {
  position:absolute;
  left:2px;
  top:22px;
  width:296px;
  word-wrap:break-word;
}
#u12688_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
}
#u12688 {
  position:absolute;
  left:0px;
  top:120px;
  width:300px;
  height:60px;
}
#u12688_img.mouseOver {
}
#u12688.mouseOver {
}
#u12688_img.mouseDown {
}
#u12688.mouseDown {
}
#u12688_img.selected {
}
#u12688.selected {
}
#u12689 {
  position:absolute;
  left:2px;
  top:22px;
  width:296px;
  word-wrap:break-word;
}
#u12690 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12691_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:100px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u12691 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:100px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u12692 {
  position:absolute;
  left:2px;
  top:40px;
  width:296px;
  word-wrap:break-word;
}
#u12693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u12693 {
  position:absolute;
  left:265px;
  top:43px;
  width:20px;
  height:20px;
}
#u12694 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12695 {
  position:absolute;
  left:0px;
  top:99px;
  width:305px;
  height:245px;
}
#u12696_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
}
#u12696 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
}
#u12696_img.mouseOver {
}
#u12696.mouseOver {
}
#u12696_img.mouseDown {
}
#u12696.mouseDown {
}
#u12696_img.selected {
}
#u12696.selected {
}
#u12697 {
  position:absolute;
  left:2px;
  top:22px;
  width:296px;
  word-wrap:break-word;
}
#u12698_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
}
#u12698 {
  position:absolute;
  left:0px;
  top:60px;
  width:300px;
  height:60px;
}
#u12698_img.mouseOver {
}
#u12698.mouseOver {
}
#u12698_img.mouseDown {
}
#u12698.mouseDown {
}
#u12698_img.selected {
}
#u12698.selected {
}
#u12699 {
  position:absolute;
  left:2px;
  top:22px;
  width:296px;
  word-wrap:break-word;
}
#u12700_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
}
#u12700 {
  position:absolute;
  left:0px;
  top:120px;
  width:300px;
  height:60px;
}
#u12700_img.mouseOver {
}
#u12700.mouseOver {
}
#u12700_img.mouseDown {
}
#u12700.mouseDown {
}
#u12700_img.selected {
}
#u12700.selected {
}
#u12701 {
  position:absolute;
  left:2px;
  top:22px;
  width:296px;
  word-wrap:break-word;
}
#u12702_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
}
#u12702 {
  position:absolute;
  left:0px;
  top:180px;
  width:300px;
  height:60px;
}
#u12702_img.mouseOver {
}
#u12702.mouseOver {
}
#u12702_img.mouseDown {
}
#u12702.mouseDown {
}
#u12702_img.selected {
}
#u12702.selected {
}
#u12703 {
  position:absolute;
  left:2px;
  top:22px;
  width:296px;
  word-wrap:break-word;
}
#u12704 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:100px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u12705 {
  position:absolute;
  left:0px;
  top:1112px;
  width:300px;
  height:100px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u12706 {
  position:absolute;
  left:2px;
  top:40px;
  width:296px;
  word-wrap:break-word;
}
#u12707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u12707 {
  position:absolute;
  left:265px;
  top:1156px;
  width:20px;
  height:20px;
}
#u12708 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12709 {
  position:absolute;
  left:0px;
  top:1211px;
  width:305px;
  height:185px;
}
#u12710_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
}
#u12710 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
}
#u12710_img.mouseOver {
}
#u12710.mouseOver {
}
#u12710_img.mouseDown {
}
#u12710.mouseDown {
}
#u12710_img.selected {
}
#u12710.selected {
}
#u12711 {
  position:absolute;
  left:2px;
  top:22px;
  width:296px;
  word-wrap:break-word;
}
#u12712_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
}
#u12712 {
  position:absolute;
  left:0px;
  top:60px;
  width:300px;
  height:60px;
}
#u12712_img.mouseOver {
}
#u12712.mouseOver {
}
#u12712_img.mouseDown {
}
#u12712.mouseDown {
}
#u12712_img.selected {
}
#u12712.selected {
}
#u12713 {
  position:absolute;
  left:2px;
  top:22px;
  width:296px;
  word-wrap:break-word;
}
#u12714_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
}
#u12714 {
  position:absolute;
  left:0px;
  top:120px;
  width:300px;
  height:60px;
}
#u12714_img.mouseOver {
}
#u12714.mouseOver {
}
#u12714_img.mouseDown {
}
#u12714.mouseDown {
}
#u12714_img.selected {
}
#u12714.selected {
}
#u12715 {
  position:absolute;
  left:2px;
  top:22px;
  width:296px;
  word-wrap:break-word;
}
#u12716 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12717_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:100px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u12717 {
  position:absolute;
  left:0px;
  top:1390px;
  width:300px;
  height:100px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u12718 {
  position:absolute;
  left:2px;
  top:40px;
  width:296px;
  word-wrap:break-word;
}
#u12719_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u12719 {
  position:absolute;
  left:265px;
  top:1435px;
  width:20px;
  height:20px;
}
#u12720 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12721 {
  position:absolute;
  left:0px;
  top:1489px;
  width:305px;
  height:125px;
}
#u12722_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
}
#u12722 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
}
#u12722_img.mouseOver {
}
#u12722.mouseOver {
}
#u12722_img.mouseDown {
}
#u12722.mouseDown {
}
#u12722_img.selected {
}
#u12722.selected {
}
#u12723 {
  position:absolute;
  left:2px;
  top:22px;
  width:296px;
  word-wrap:break-word;
}
#u12724_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
}
#u12724 {
  position:absolute;
  left:0px;
  top:60px;
  width:300px;
  height:60px;
}
#u12724_img.mouseOver {
}
#u12724.mouseOver {
}
#u12724_img.mouseDown {
}
#u12724.mouseDown {
}
#u12724_img.selected {
}
#u12724.selected {
}
#u12725 {
  position:absolute;
  left:2px;
  top:22px;
  width:296px;
  word-wrap:break-word;
}
#u12726 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12727_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:100px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u12727 {
  position:absolute;
  left:0px;
  top:338px;
  width:300px;
  height:100px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u12728 {
  position:absolute;
  left:2px;
  top:40px;
  width:296px;
  word-wrap:break-word;
}
#u12729_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u12729 {
  position:absolute;
  left:265px;
  top:383px;
  width:20px;
  height:20px;
}
#u12730 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12731 {
  position:absolute;
  left:0px;
  top:437px;
  width:305px;
  height:125px;
}
#u12732_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
}
#u12732 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
}
#u12732_img.mouseOver {
}
#u12732.mouseOver {
}
#u12732_img.mouseDown {
}
#u12732.mouseDown {
}
#u12732_img.selected {
}
#u12732.selected {
}
#u12733 {
  position:absolute;
  left:2px;
  top:22px;
  width:296px;
  word-wrap:break-word;
}
#u12734_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
}
#u12734 {
  position:absolute;
  left:0px;
  top:60px;
  width:300px;
  height:60px;
}
#u12734_img.mouseOver {
}
#u12734.mouseOver {
}
#u12734_img.mouseDown {
}
#u12734.mouseDown {
}
#u12734_img.selected {
}
#u12734.selected {
}
#u12735 {
  position:absolute;
  left:2px;
  top:22px;
  width:296px;
  word-wrap:break-word;
}
#u12736_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12736 {
  position:absolute;
  left:1423px;
  top:850px;
  width:102px;
  height:30px;
}
#u12737 {
  position:absolute;
  left:2px;
  top:7px;
  width:98px;
  word-wrap:break-word;
}
#u12738_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u12738 {
  position:absolute;
  left:1401px;
  top:271px;
  width:29px;
  height:16px;
  color:#0099FF;
}
#u12739 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12740_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u12740 {
  position:absolute;
  left:1401px;
  top:322px;
  width:29px;
  height:16px;
  color:#0099FF;
}
#u12741 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12742_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u12742 {
  position:absolute;
  left:1401px;
  top:375px;
  width:29px;
  height:16px;
  color:#0099FF;
}
#u12743 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12744_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u12744 {
  position:absolute;
  left:1401px;
  top:426px;
  width:29px;
  height:16px;
  color:#0099FF;
}
#u12745 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12746_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u12746 {
  position:absolute;
  left:1401px;
  top:475px;
  width:29px;
  height:16px;
  color:#0099FF;
}
#u12747 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12748_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u12748 {
  position:absolute;
  left:1401px;
  top:524px;
  width:29px;
  height:16px;
  color:#0099FF;
}
#u12749 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12750_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u12750 {
  position:absolute;
  left:1401px;
  top:571px;
  width:29px;
  height:16px;
  color:#0099FF;
}
#u12751 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12752 {
  position:absolute;
  left:299px;
  top:52px;
  width:749px;
  height:114px;
}
#u12753_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:109px;
}
#u12753 {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:109px;
  color:#666666;
}
#u12754 {
  position:absolute;
  left:2px;
  top:46px;
  width:182px;
  word-wrap:break-word;
}
#u12755_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:109px;
}
#u12755 {
  position:absolute;
  left:186px;
  top:0px;
  width:186px;
  height:109px;
  color:#666666;
}
#u12756 {
  position:absolute;
  left:2px;
  top:46px;
  width:182px;
  word-wrap:break-word;
}
#u12757_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:109px;
}
#u12757 {
  position:absolute;
  left:372px;
  top:0px;
  width:186px;
  height:109px;
  color:#666666;
}
#u12758 {
  position:absolute;
  left:2px;
  top:46px;
  width:182px;
  word-wrap:break-word;
}
#u12759_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:109px;
}
#u12759 {
  position:absolute;
  left:558px;
  top:0px;
  width:186px;
  height:109px;
  color:#666666;
}
#u12760 {
  position:absolute;
  left:2px;
  top:46px;
  width:182px;
  word-wrap:break-word;
}
#u12761 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12762_div {
  position:absolute;
  left:0px;
  top:0px;
  width:464px;
  height:238px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12762 {
  position:absolute;
  left:743px;
  top:302px;
  width:464px;
  height:238px;
}
#u12763 {
  position:absolute;
  left:2px;
  top:111px;
  width:460px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12764_img {
  position:absolute;
  left:0px;
  top:0px;
  width:465px;
  height:2px;
}
#u12764 {
  position:absolute;
  left:743px;
  top:352px;
  width:464px;
  height:1px;
}
#u12765 {
  position:absolute;
  left:2px;
  top:-8px;
  width:460px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12766_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u12766 {
  position:absolute;
  left:768px;
  top:321px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u12767 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u12768_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#999999;
}
#u12768 {
  position:absolute;
  left:1181px;
  top:316px;
  width:14px;
  height:24px;
  font-size:20px;
  color:#999999;
}
#u12769 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u12770_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12770 {
  position:absolute;
  left:996px;
  top:475px;
  width:80px;
  height:30px;
}
#u12771 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u12772_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12772 {
  position:absolute;
  left:1105px;
  top:475px;
  width:80px;
  height:30px;
}
#u12773 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u12774_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12774 {
  position:absolute;
  left:768px;
  top:366px;
  width:239px;
  height:48px;
}
#u12775 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  white-space:nowrap;
}
