///768px--999
@media (max-width: 999px) {

  /*---重置模块---*/
  @body-max-width: 999px;
  @body-min-width: 768px;
  /*主体*/
  body {
    max-width: @body-max-width;
    min-width: @body-min-width;
    width: 100%;
  }

  /*默认外部容器*/
  .layout-default-wrap {
    min-width: @body-min-width;
  }

  /*默认内部容器*/
  .content-default-wrap {
    min-width: @body-min-width;
    width: 100%;
  }



  /*---头部模块---*/
  .header-content-wrap {
    @header-logo-width: 80px;
    width: 100% !important;
    /*图标*/
    .header-logo {
      width: @header-logo-width;
      background: transparent url('../images/logo.png') no-repeat left center;
    }
    /*菜单容器*/
    .header-menu {
      .layout-float-base(@body-min-width - @header-logo-width - 2, border-box, right);
    }
    .header-nav li a,
    .header-center a,
    .header-account a {
      padding: 20px 20px;
    }
  }



  /*---底部模块---*/
  .layout-footer-wrap {
    @foot-main-gap: 20px;

    min-height: 400px;
    .footer-wrap {
      padding: 30px 0 10px 0;
    }
    .footer-info-main {
      .layout-float-base();
      min-height: 180px;
      padding: 0 @foot-main-gap;
      border-right: none;
      .info-statement,
      .info-tips,
      .info-banner {
        float: left;
        padding: 10px 0;
      }
      /*申明*/
      /*提示*/
      /*公司商标，广告*/
      .info-banner {
        margin: 10px 0;
        div {
          display: none;
          width: 0;
          height: 0;
          background: none;
        }
        p {
          width: 100%;
        }
      }
    }
    .footer-info-side {
      .layout-relative-base();
      .layout-float-base();
      padding: 0 10px;
      margin: 20px 0 0 0;
      .info-show {
        width: 60%;
        float: left;
        padding: 3px 10px;
        text-align: left;
      }
      .info-plugin {
        .layout-absoluter-base(@foot-main-gap);
        .layout-base(150px);
        text-align: left;
        padding: 0;
      }
      .info-icon-wx {
        .wx-code-wrap {
          .opacity-base(100);
          width: 160px;
        }
      }
    }
  }



  /*---首页模块---*/
  /*轮播图*/
  .layout-slide-wrap {
    height: 600px;
  }

  /*牌照*/
  .layout-license-wrap {
    min-height: 360px;
    .license-wrap {
      padding: 40px 20px;
      .license-item-l {
        padding: 0 20px 0 0;
      }
      .license-item-c {
        padding: 0 20px 0 20px;
      }
      .license-item-r {
        padding: 0 0 0 20px;
      }
    }
  }

  /*下载*/
  .layout-download-wrap {
    @download-height: 550px;
    @download-img: 344px;

    min-height: @download-height;
    max-height: @download-height + 100;
    background-size: 700px auto;
    .download-wrap {
      min-height: @download-height;
      padding: 40px 0 @download-img + 30 0;
    }
  }

  /*优势,优点*/
  .layout-advantage-wrap {
    min-height: 440px;
    .advantage-wrap {
      padding: 0 0 40px 0;
      > li {
        min-height: 160px;
        margin: 40px 0 0 0;
        padding: 140px 30px 0 30px;
        background-size: 100px auto !important;
        h3 {
          font-size: @font-size-base + 12;
          line-height: @font-size-base + 16;
        }
      }
    }
  }

  /*公告*/
  .layout-notice-wrap {
    min-height: 320px;
    .notice-wrap {
      padding: 40px 0 50px 0;
    }
    /*标题*/
    .notice-title {
      height: 36px;
      font-size: @font-size-base + 12;
      line-height: @font-size-base + 22;
    }
    /*列表*/
    .notice-list {
      padding: 27px 0 0 80px;
      li {
        min-height: 50px;
        background: transparent url('../images/notice_line.png') repeat-y left top;
        &:before {
          .layout-absolutel-base(-5px, 3px);
        }
      }
      .notice-lr {
        padding: 0 0 20px 20px;
        span, p {
          text-align: left;
        }
      }
      .notice-ll {
        padding: 0 0 20px 20px;
        span, p {
          text-align: left;
        }
      }
    }
  }



  /*---关于模块---*/
  /*广告4*/
  .banner-wrap4 {
    width: @body-min-width;
    .account-btn {
      bottom: 40px;
    }
  }

  /*关于我们*/
  .layout-aboutus-wrap {
    padding: 40px 0;
    .aboutus-wrap {
      padding: 0 20px;
      .aboutus-info {
        padding: 0 0 30px 0;
      }
      .aboutus-contact {
        padding: 30px 0 0 0;
      }
    }
  }



  /*---下载模块---*/
  /*下载广告*/
  .layout-dlbanner-wrap {
    @download-height: 500px;
    @download-img: 351px;

    min-height: @download-height;
    max-height: @download-height + 100;
    .dlbanner-wrap {
      min-height: @download-height;
      padding: 40px 0 @download-img 0;
      background-size: 700px auto;
    }
  }

  /*下载*/
  /*下载描述*/
  .layout-dlremark-wrap {
    padding: 40px 0;
    .content-default-wrap {
      padding: 0 20px;
    }
  }



  /*---帮助模块---*/
  /*搜索*/
  .layout-search-wrap {
    @wrap-height: 144px;
    @wrap-gaptb: 40px;
    height: @wrap-height;
    padding: @wrap-gaptb 0;
    .search-wrap {
      padding: 0 20px;
    }
  }

  /*搜索结果列表*/
  .layout-helplist-wrap {
    padding-bottom: 50px;
    .helplist-wrap {
      padding: 0 20px;
    }
  }



  /*---列表模块---*/
  /*列表*/
  .layout-list-wrap {
    padding: 40px 0;
    .list-wrap {
      @list-height: 60px;
      padding: 0 20px;
      li {
        height: @list-height;
        a {
          line-height: @list-height;
          padding: 0 @list-height/2 0 @list-height * 1.5;
          &:after {
            .layout-absoluter-base();
            width: @list-height/2;
          }
          span {
            width: @list-height * 2;
          }
        }
      }
    }
  }

  /*分页*/
  .layout-page-wrap {
    padding: 0 0 80px 0;
    .page-wrap {
      padding: 0 20px;
    }
  }



  /*---详情模块---*/
  /*查看详情*/
  .layout-detail-wrap {
    padding: 80px 0 100px 0;
    .detail-title {
      padding: 10px 20px 40px 20px;
    }
    .detail-show {
      /*排版详情*/
      padding-left: 20px;
      padding-right: 20px;
    }
  }

}
