///480px--639px
@media (max-width: 639px) {

  /*---重置模块---*/
  @body-max-width: 639px;
  @body-min-width: 480px;
  /*主体*/
  body {
    max-width: @body-max-width;
    min-width: @body-min-width;
  }

  /*默认外部容器*/
  .layout-default-wrap {
    min-width: @body-min-width;
  }

  /*默认内部容器*/
  .content-default-wrap {
    min-width: @body-min-width;
  }

  /*---头部模块---*/
  .header-content-wrap {
    @header-logo-width: 80px;
    /*图标*/
    .layout-relative-base();
    /*切换显示隐藏--用于小屏设备显示隐藏菜单*/
    .header-toggle {
      .layout-absoluter-base(0, 0, 200);
      height:100%;
      width: 100px;
      display: inline-block;
    }
    /*菜单容器*/
    .header-menu {
      float: none;
      width: 100px;
      .layout-absoluter-base();
      &:before,
      &:after {
        font-size: @font-size-base;
        text-align: center;
        display: inline-block;
      }
      &:before {
        .layout-absoluter-base(25%, 25%);
        width: 50%;
        height: 50%;
        line-height: @layout-header-height/2 - 4;
        .border-radius-base(3px);
        border: 1px solid @color-gray7;
        content: '';
      }
      &:after {
        .layout-absoluter-base();
        color: @color-gray9;
        line-height: @layout-header-height;
        cursor: pointer;
        width: 100%;
        height: 100%;
        content: '\e62d';
        font-family: 'ux_two';
      }
      &:hover {
        top: 100%;
        &:before {
          top: -75%;
        }
        &:after {
          top: -100%;
          content: '\e630';
        }
        .header-nav,
        .header-center,
        .header-account {
          display: inline-block;
        }
      }
    }
    .header-nav {
      height: auto;
    }
    .header-nav,
    .header-center,
    .header-account {
      display: none;
    }
    .header-nav,
    .header-center,
    .header-nav li,
    .header-account {
      width: 100%;
      a.header-active {
        background: @color-orange1;
        &:hover {
          color: @color-white;
        }
      }
    }
    .header-nav li a,
    .header-center a,
    .header-account a {
      width: 100%;
      padding: 20px 0;
      background-color: rgba(4, 13, 20, .9);
    }
  }

  /*---底部模块---*/
  .layout-footer-wrap {
    @foot-main-gap: 16px;
    .footer-info-main {
      padding: 0 @foot-main-gap;
    }
    .footer-info-side {
      padding: 0 6px;
      h6 {
        margin-top: 20px;
      }
      .info-telephone {
        font-size: @font-size-base + 8;
      }
      .info-plugin {
        width: 50px;
        margin-top: -10px;
      }
    }
  }

  /*---首页模块---*/
  /*轮播图*/
  .layout-slide-wrap {
    height: 400px;
  }

  /*牌照*/
  .layout-license-wrap {
    min-height: 320px;
    .license-wrap {
      @img-height: 130px;

      padding: 20px 16px;
      > li {
        h3 {
          .text-ww();
          overflow: visible;
          white-space: normal;
        }
        div {
          height: @img-height;
          background-size: 100px auto !important;
        }

      }
    }
  }

  /*下载*/
  .layout-download-wrap {
    @download-height: 400px;
    @download-img: 244px;

    min-height: @download-height;
    max-height: @download-height + 100;
    background-size: 460px auto;
    .download-wrap {
      min-height: @download-height;
      padding: 30px 0 @download-img + 20 0;
      .download-theme {
        height: 36px;
        font-size: @font-size-base + 12;
        line-height: 36px;
        margin: 0 0 30px 0;
      }
      .download-btn {

        @btn-circle-width: 30px;
        @btn-height: 48px;

        height: @btn-height;
        .border-radius-base(3px);
        line-height: @btn-height;
        font-size: @font-size-base + 6;
        span {
          .layout-base(@btn-circle-width);
          height: @btn-circle-width;
          line-height: @btn-circle-width;
          margin: -(@btn-height - @btn-circle-width - 2) / 2 18px 0 0;
        }
      }
    }
  }

  /*优势,优点*/
  .layout-advantage-wrap {
    .advantage-wrap {
      > li {
        h3 {
          font-size: @font-size-base + 8;
          line-height: @font-size-base + 12;
        }
      }
    }
  }

  /*公告*/
  .layout-notice-wrap {
    /*列表*/
    .notice-list {
      padding: 27px 0 0 40px;
    }
  }

  /*---关于模块---*/
  /*广告1-4*/
  .layout-banner-wrap + .layout-banner-wrap2 + .layout-banner-wrap + .layout-banner-wrap {
    .banner-wrap{
      height: 270px;
      background-position: center center;
    }
  }
  /*广告4*/
  .banner-wrap4 {
    width: @body-min-width;
    .account-btn {
      @btn-height: 40px;
      @btn-width: 200px;

      margin: 0 0 0 -@btn-width/2;
      bottom:-260px;
      height: @btn-height;
      line-height: @btn-height;
      font-size: @font-size-base + 4;
      .border-radius-base(3px);
      width: @btn-width;
    }
  }

  /*关于我们*/
  .layout-aboutus-wrap {
    padding: 20px 0;
    .aboutus-wrap {
      padding: 0 16px;
      .aboutus-info {
        padding: 0 0 20px 0;
      }
      .aboutus-contact {
        padding: 20px 0 0 0;
      }
    }
  }

  /*---下载模块---*/
  /*下载广告*/
  .layout-dlbanner-wrap {
    @download-height: 320px;
    @download-img: 231px;

    min-height: @download-height;
    max-height: @download-height + 60;
    .dlbanner-wrap {
      min-height: @download-height;
      padding: 20px 0 @download-img 0;
      background-size: 460px auto;
      .download-theme {
        height: 34px;
        font-size: @font-size-base + 10;
        line-height: 34px;
        margin: 0 0 20px 0;
      }
    }
  }

  /*下载*/
  .layout-download1-wrap {
    @dl-height: 220px;

    height: @dl-height;
    .download1-wrap {
      @gap-top: 30px;
      @gap-bottom: 20px;
      padding: @gap-top 0 @gap-bottom 0;
      .dl-btn-wrap {
        width: 80%;
        height: 34px;
        line-height: 34px;
        .border-radius-base(3px);
        &:hover {
          &:after {
            right: 130%;
          }
        }
      }
    }
  }

  /*下载描述*/
  .layout-dlremark-wrap {
    padding: 30px 0;
    .content-default-wrap {
      padding: 0 16px;
    }
  }

  /*---帮助模块---*/
  /*搜索*/
  .layout-search-wrap {
    @wrap-height: 104px;
    @wrap-gaptb: 30px;
    @gap-pl: 40px;
    @gap-pr: 60px;

    height: @wrap-height;
    padding: @wrap-gaptb 0;
    .search-wrap {
      padding: 0 16px;
    }
    .search-default {
      &:before {
        .layout-absolutel-base();
        width: @gap-pl;
        line-height: @wrap-height - @wrap-gaptb * 2;
        font-size: @font-size-base + 8;
        text-indent: 10px;
      }
      input {
        padding: 10px @gap-pr 10px @gap-pl;
        font-size: @font-size-base;
        line-height: 20px;
      }
      .search-clear {
        &:after {
          line-height: @wrap-height - @wrap-gaptb * 2;
          font-size: @font-size-base + 8;
        }
        &:hover {
          &:after {
            font-size: @font-size-base + 16;
          }
        }
      }
    }
  }

  /*搜索结果列表*/
  .layout-helplist-wrap {
    padding-bottom: 30px;
    .helplist-wrap {
      padding: 0 16px;
    }
  }

  /*---列表模块---*/
  /*列表*/
  .layout-list-wrap {
    padding: 20px 0;
    .list-wrap {
      @list-height: 50px;
      padding: 0 16px;
      li {
        height: @list-height;
        a {
          line-height: @list-height;
          padding: 0 @list-height/2 0 @list-height * 1.5;
          &:after {
            .layout-absoluter-base();
            width: @list-height/2;
            font-size: @font-size-base + 10;
          }
          span {
            width: @list-height * 2;
          }
        }
      }
    }
  }

  /*分页*/
  .layout-page-wrap {
    padding: 0 0 40px 0;
    .page-wrap {
      .goto-pagination-wrap {
        display: none;
      }
      .pagination-info {
        display: none;
      }
      .easyui-pagewrap {
        float: none;
        margin: auto;
      }
      padding: 0 16px;
    }
  }

  /*---详情模块---*/
  /*查看详情*/
  .layout-detail-wrap {
    padding: 40px 0 50px 0;
    .detail-title {
      padding: 10px 16px 20px 16px;
    }
    .detail-show {
      /*排版详情*/
      padding-left: 16px;
      padding-right: 16px;
    }
  }

}