///未超过319px
@media (max-width: 319px) {

  /*---重置模块---*/
  @body-max-width: 319px;
  @body-min-width: 200px;
  /*主体*/
  body {
    max-width: @body-max-width;
    min-width: @body-min-width;
  }

  /*默认外部容器*/
  .layout-default-wrap {
    min-width: @body-min-width;
  }

  /*默认内部容器*/
  .content-default-wrap {
    min-width: @body-min-width;
  }


  /*---底部模块---*/

  /*---首页模块---*/
  /*轮播图*/
  .layout-slide-wrap {
    height: 200px;
  }

  /*牌照*/


  /*下载*/


  /*优势,优点*/
  /*公告*/


  /*---关于模块---*/
  /*广告4*/
  .banner-wrap4 {
    width: @body-min-width;
  }

  /*关于我们*/


  /*---下载模块---*/
  /*下载广告*/



  /*下载*/



  /*下载描述*/



  /*---帮助模块---*/
  /*搜索*/



  /*搜索结果列表*/



  /*---列表模块---*/
  /*列表*/


  /*分页*/


  /*---详情模块---*/
  /*查看详情*/

}