///320px--479px
@media (max-width: 479px) {

  /*---重置模块---*/
  @body-max-width: 479px;
  @body-min-width: 320px;
  @layout-header-height: 40px;
  /*主体*/
  body {
    max-width: @body-max-width;
    min-width: @body-min-width;
  }

  .layout-body-gapt {
    padding-top: @layout-header-height;
  }

  /*默认外部容器*/
  .layout-default-wrap {
    min-width: @body-min-width;
  }

  /*默认内部容器*/
  .content-default-wrap {
    min-width: @body-min-width;
  }

  /*---头部模块---*/
  .layout-header-wrap {
    height: @layout-header-height;
  }

  .header-content-wrap {
    @header-logo-width: 80px;
    /*图标*/
    .header-logo {
      background-size: auto 30px;
    }
    /*切换显示隐藏--用于小屏设备显示隐藏菜单*/
    .header-toggle {
      width: 60px;
    }
    /*菜单容器*/
    .header-menu {
      width: 60px;
      &:after {
        line-height: @layout-header-height;
        font-size: @font-size-base - 2;
      }
    }
    .header-nav li a,
    .header-center a,
    .header-account a {
      padding: 10px 0;
    }
    .menu-icon-center {
      display: none;
    }
  }

  /*---底部模块---*/
  .layout-footer-wrap {
    @foot-main-gap: 10px;
    .footer-info-main {
      padding: 0 @foot-main-gap;
      /*申明*/
      .info-statement {
        padding: 5px 0;
        li {
          padding: 0 10px;
          a {
            font-size: @font-size-base;
          }
        }
      }
      /*提示*/
      .info-tips {
        padding: 5px 0;
      }
    }
    .footer-info-side {
      padding: 0;
      h6 {
        margin-top: 20px;
      }
      .info-telephone {
        font-size: @font-size-base + 4;
      }
      .info-plugin {
        width: 50px;
        margin-top: -10px;
      }
      .info-icon-wx {
        a {
          &:hover {
            .wx-code-wrap {
              width: 110px;
            }
          }
        }
        .wx-code-wrap {
          .layout-absoluter-base(40px, -18px);
          width: 110px;
          height: 100px;
          background-size: auto 100%;
        }
      }
    }
  }

  /*---首页模块---*/
  /*轮播图*/
  .layout-slide-wrap {
    height: 300px;
  }

  /*牌照*/
  .layout-license-wrap {
    min-height: 200px;
    .license-wrap {
      @img-height: 80px;

      padding: 20px 10px;
      > li {
        h3 {
          font-size: @font-size-base;
          line-height: @font-size-base + 4;
        }
        p {
          display: none;
        }
        div {
          margin: 0 0 10px 0;
          height: @img-height;
          background-size: 60px auto !important;
        }
      }
    }
  }

  /*下载*/
  .layout-download-wrap {
    @download-height: 340px;
    @download-img: 157px;

    min-height: @download-height;
    max-height: @download-height + 100;
    background-size: 320px auto;
    .download-wrap {
      min-height: @download-height;
      padding: 30px 0 @download-img + 20 0;
    }
  }

  /*优势,优点*/
  /*公告*/
  .layout-notice-wrap {
    /*列表*/
    .notice-list {
      padding: 27px 0 0 30px;
    }
  }

  /*---关于模块---*/
  /*广告4*/
  .banner-wrap4 {
    width: @body-min-width;
    .account-btn {
      @btn-height: 40px;
      @btn-width: 200px;

      margin: 0 0 0 -@btn-width/2;
      height: @btn-height;
      line-height: @btn-height;
      font-size: @font-size-base + 4;
      .border-radius-base(3px);
      width: @btn-width;
    }
  }

  /*关于我们*/
  .layout-aboutus-wrap {
    padding: 20px 0;
    .aboutus-wrap {
      padding: 0 10px;
      .aboutus-info {
        padding: 0 0 20px 0;
      }
      .aboutus-contact {
        padding: 20px 0 0 0;
      }
    }
  }

  /*---下载模块---*/
  /*下载广告*/
  .layout-dlbanner-wrap {
    @download-height: 240px;
    @download-img: 161px;

    min-height: @download-height;
    max-height: @download-height + 60;
    .dlbanner-wrap {
      min-height: @download-height;
      padding: 20px 0 @download-img 0;
      background-size: 320px auto;
      .download-theme {
        height: 30px;
        font-size: @font-size-base + 6;
        line-height: 30px;
        margin: 0 0 10px 0;
      }
    }
  }

  /*下载*/
  .layout-download1-wrap {
    .download1-wrap {
      li > div {
        background-size:40px auto !important;
      }
      .dl-btn-wrap {
        height: 30px;
        line-height: 30px;
      }
    }
  }

  /*下载描述*/
  .layout-dlremark-wrap {
    padding: 10px 0;
    .content-default-wrap {
      padding: 0 10px;
    }
  }

  /*---帮助模块---*/
  /*搜索*/
  .layout-search-wrap {
    @wrap-height: 84px;
    @wrap-gaptb: 20px;
    @gap-pl: 40px;
    @gap-pr: 60px;

    height: @wrap-height;
    padding: @wrap-gaptb 0;
    .search-wrap {
      padding: 0 10px;
    }
    .search-default {
      &:before {
        line-height: @wrap-height - @wrap-gaptb * 2;
      }
      .search-clear {
        &:after {
          line-height: @wrap-height - @wrap-gaptb * 2;
        }
      }
    }
  }

  /*搜索结果列表*/
  .layout-helplist-wrap {
    .helplist-wrap {
      padding: 0 10px;
      li{
        width:100%;
        padding:10px 0;
      }
    }
  }

  /*---列表模块---*/
  /*列表*/
  .layout-list-wrap {
    .list-wrap {
      padding: 0 10px;
    }
  }

  /*分页*/
  .layout-page-wrap {
    padding: 0 0 20px 0;
    .page-wrap {
      .easyui-pagewrap{
        .pagination-links{
          a{
            display:none;
          }
          .l-btn-plain-selected{
            display: inline-block;
          }
        }
        .pagination-first,
        .pagination-prev,
        .pagination-next,
        .pagination-last{
          .layout-relative-base();
          .layout-base(32px);
          overflow:hidden;
          text-indent: -9999px;
          &:after{
            .layout-absolutel-base();
            .layout-base();
            text-indent:0;
            display:inline-block;
            text-align: center;
            height:100%;
          }
        }
        .pagination-first{
          &:after{
            content:'<<';
          }
        }
        .pagination-prev{
          &:after{
            content:'<';
          }
        }
        .pagination-next{
          &:after{
            content:'>';
          }
        }
        .pagination-last{
          &:after{
            content:'>>';
          }
        }
      }
      .pagination-info{
        display:block;
        width:100%;
        text-align: center;
      }
      padding: 0 10px;
    }
  }

  /*---详情模块---*/
  /*查看详情*/
  .layout-detail-wrap {
    padding: 20px 0 30px 0;
    .detail-title {
      padding: 10px 10px 20px 10px;
    }
    .detail-show {
      /*排版详情*/
      padding-left: 10px;
      padding-right: 10px;
    }
  }

}
