/*404错误页面*/
@core-fzf-icon-width: 300px;
@core-fzf-icon-height: 582px;

/*主体容器*/
@core-layout-container-minheight:500px;
@core-layout-content-minheight:300px;
@core-layout-gap-padding-top:10px;
/*头部*/
@core-layout-header-height:60px;
/*面包屑*/
@core-layout-breadcrumb-height:30px;
/*底部*/
@core-layout-footer-height:48px;




