/*常用背景*/
body {
  background-color: darken(@color-gray14, 0.5%);
}
/*底部按钮背景*/
.wx-btn-body{
  padding-bottom: @action-btn-height + 20px;
}
/*白色背景*/
.wx-white-body{
  background-color:@color-global-white;
}
/*搜索背景*/
.wx-search-body{
  padding-top: @search-condition-height + @search-condition-gap * .5;
}










