/*布局变量*/
@hs-container-width: 1200px; /*容器宽度*/

/*菜单变量*/
@hs-header-width: @hs-container-width;
@hs-header-height: 50px; /*菜单高*/
@hs-header-shadow: 16px; /*阴影高*/
@hs-header-logo-width: 450px; /*菜单logo宽*/
@hs-header-logo-height: @hs-header-shadow * 2; /*菜单logo高*/

/*圆形菜单*/
@hs-circle-width: 758px; /*圆形菜单宽*/
@hs-circle-height: 758px; /*圆形菜单高*/
@hs-circle-extend: 100px; /*圆形菜单内圈偏移量*/

@hs-btn-bgcolor: rgba(11, 184, 128, 1); /*菜单按钮颜色*/
@hs-btn-active-bgcolor: rgba(81, 97, 186, 1); /*菜单按钮滑过颜色*/
@hs-btn-width: 96px; /*菜单按钮宽度*/
@hs-btn-active-width: 120px; /*菜单按钮激活宽度*/

/*养老*/
@hs-live-width:120px;/*养老容器宽*/
@hs-live-height:150px;/*养老容器高*/
@hs-live-gap-width:50px;/*养老容器间距*/
@hs-live-icon-width:44px;/*养老icon宽*/
@hs-live-bg:rgba(204,214,201,.8);/*养老容器背景颜色*/
@hs-live-active-bg:rgba(192,208,227,.8);/*养老容器背景激活颜色*/
@hs-live-bgcolor:rgba(231,162,41,1);/*养老icon颜色*/


/*旅游*/
@hs-tour-width:120px;/*旅游选项宽*/

/*药业*/
@hs-drug-width:150px;/*药业选项宽*/

/*中医院*/
@hs-tcm-width:71px;/*中医院选项宽*/
@hs-tcm-height:232px;/*中医院选项高*/

/*终端*/
@hs-terminal-width:216px;/*终端选项宽*/
@hs-terminal-height:204px;/*终端选项高*/