///首页
///作者：易品
//页面抽取
body{
	width:100%;
	min-width:1200px;
	.box-sizing-base();
	background:@color-white;
	margin:120px 0 0 0;
}
.theme{
	.layout-float-base();
	height:50px;
	text-align:center;
	line-height:60px;
	font-size:@font-size-base + 20;
	margin:24px 0 0 0;
	.user-select-base();
	>p{
		margin:34px 0 0 0;
		.layout-base();
		.text-ww();
		line-height:28px;
		font-size:@font-size-base + 4;
	}
}
.screen-item{
	.layout-base();
	margin:0 auto;
	>div{
		.layout-base(1200px);
		margin:0 auto;
		padding:0 20px;
		height:100%;
	}
}


//首页
.screen-index{
	background:url(../images/screen_index.png) repeat-x left top;
	background-size:cover;
	height:723px;
	overflow:hidden;
	.index-content{
		.layout-relative-base(0,0,1);
		padding:0;
		.index-bg{
			.transition-base(all .5s ease-in .02s);
			.layout-absolutel-base(0,0,1);
			width:100%;
			height:100%;
			background:url(../images/screen_indexicon.png) no-repeat center -723px;
			.opacity-base(0);
		}
	}
	.index-contentactive{
		.index-bg{
			background:url(../images/screen_indexicon.png) no-repeat center 0;
			.opacity-base(100);
		}

	}
}
//轮播图
.part-slide{
	.layout-base(524px);
	.layout-absolutelb-base(50px,0,10);
	height:596px;
	background:url(../images/screen_index_hand.png) left bottom no-repeat;
}
//二维码
.index-codewrap{
	.layout-base(470px);
	.layout-absoluter-base(50px,100px,10);
	height:437px;
	background:url(../images/screen_indexcode.png) center top no-repeat;
	overflow: hidden;
}


//功能模块
.screen-product{
	background:@color-white;
	min-height:750px;
	.theme{
		.layout-relative-base();
		&:after{
			.layout-absolutel-base(50%,0);
			margin:60px 0 0 -17px;
			content:'';
			width:34px;
			height:3px;
			display:block;
			background:@color-red2;
		}
	}
}
.product-list{
	.layout-relative-base();
	.layout-float-base();
	overflow: hidden;
	background:url(../images/screen_product.png) no-repeat center center;
	min-height:500px;
	margin:100px 0 0 0;
	text-align:center;
	font-size:0;
	li{
		position: absolute;
		z-index: 10;
		top:0;
		padding:0 20px;
		.layout-base(40%);
		height:100%;
		min-width:120px;
		min-height:500px;
	}
	.pl-iteml{
		.opacity-base(0);
		.transition-base(all .4s ease-in .02s);
		left:-500px;
	}
	.pl-itemr{
		.opacity-base(0);
		.transition-base(all .8s ease-in .02s);
		right:-500px;
	}
	.pl-itemwrap{
		padding:30px 0 0 0;
		min-width:120px;
		min-height:200px;
		div{
			.layout-base(120px);
			.user-select-base();
			height:120px;
			margin:0 auto 20px auto;
			overflow:hidden;
		}
		h4{
			height:30px;
			line-height:20px;
			text-align:center;
			font-size:@font-size-base + 2;
			color:@color-gray3;
			font-weight:bold;
			.text-of();
		}
		p{
			width:100%;
			line-height:@font-size-base + 10;
			font-size:@font-size-base;
			color:@color-gray6;
			.text-of();
			text-overflow:ellipsis;
		}
	}
	.pl-item1{
		background:url(../images/screen_icon.png) no-repeat 0 0;
	}
	.pl-item2{
		background:url(../images/screen_icon.png) no-repeat -120px 0;
	}
	.pl-item3{
		background:url(../images/screen_icon.png) no-repeat -240px 0;
	}
	.pl-item4{
		background:url(../images/screen_icon.png) no-repeat -360px 0;
	}
}
.product-listactive{
	.pl-iteml{
		.opacity-base(100);
		left:0;
	}
	.pl-itemr{
		.opacity-base(100);
		right:0;
	}
}


//场景展示
.screen-scene{
	min-height:780px;
	background:@color-red2;
	.theme{
		.layout-relative-base();
		&:after{
			.layout-absolutel-base(50%,0);
			margin:60px 0 0 -17px;
			content:'';
			width:34px;
			height:3px;
			display:block;
			background:@color-white;
		}
	}
	>div{
		min-height:730px;
		background:url('../images/screen_sceneicon.png') no-repeat center bottom;
	}
}
.scene-itemwrap{
	.layout-float-base();
	height:100%;
	min-height:650px;
	margin:50px 0 0 0;
	text-align:center;
	font-size:0;
	li{
		.layout-base(33.33333%);
		display: inline-block;
		height:600px;
	}
	.scene-item{
		.layout-relative-base();
		margin:20px auto 0 auto;
		width:280px;
		height:480px;
		.box-shadow-base(0 3px 10px 0 @color-gray3);
		div{
			.layout-absolutel-base();
			.layout-base();
			padding:40px 40px;
			height:100%;
			background:#f4f4f4;
			overflow:hidden;
			img{
				width:100%;
				height:100%;
			}
		}
		.scene-itemfront{
			z-index:10;
		}
	}
}
.scene-itempc{
	li{
		.perspective-base(800px);
		.perspective-origin-base();
		cursor: pointer;
		&:hover{
			.scene-item{
				.transform-origin-base(center center);
				.transform-base(rotateY(180deg));
				.scene-itemback{
					z-index:50;
				}
			}
		}
	}
	.scene-item{
		.transition-base(all .6s linear .2s);
		div{
			.transition-base(all .1s linear .4s);
		}
		.scene-itemback{
			.transform-origin-base(center center);
			.transform-base(rotateY(180deg));
		}
	}
}


//app下载
.screen-app{
	background:@color-white;
	height:700px;
	.theme{
		.layout-relative-base();
		&:after{
			.layout-absolutel-base(50%,0);
			margin:60px 0 0 -17px;
			content:'';
			width:34px;
			height:3px;
			display:block;
			background:@color-red2;
		}
	}
	.app-wrap{
		.layout-float-base();
		padding:50px 0;
		font-size:0;
		text-align:center;
		li{
			display:inline-block;
			.layout-base(40%);
			overflow: hidden;
			img{
				max-width:250px;
				max-height:523px;
				min-width:150px;
				min-height:250px;
				display:block;
				margin:10px auto 0 auto;
			}
		}
	}
}


//联系我们
.screen-contact{
	height:450px;
	background:#f4f4f4;
	>div{
		background:url(../images/screen_contact.png) center 100px no-repeat;
	}
	.theme{
		.layout-relative-base();
		&:after{
			.layout-absolutel-base(50%,0);
			margin:60px 0 0 -17px;
			content:'';
			width:34px;
			height:3px;
			display:block;
			background:@color-red2;
		}
	}
}
.contact-wrap{
	.layout-float-base(100%);
	.contact-content{
		.layout-base(50%);
		min-height:200px;
		min-width:320px;
		margin:50px auto 0 auto;
		padding:20px 20px 0 20px;
	}
	p{
		padding:0;
		font-size:@font-size-base + 2;
		color:@color-gray3;
		line-height:24px;
		.text-ww();
		margin:0 0 30px 0;
		span{
			display:inline-block;
			width:20px;
			height:20px;
			margin:0 10px 0 0;
			overflow: hidden;
			vertical-align: middle;
			background-size:auto 20px !important;
		}
		a{
			&:hover{
				text-decoration:underline;
			}
		}
	}
	.contact-address{
		background:url('../images/contacticon.png') no-repeat -60px 0;
	}
	.contact-email{
		background:url('../images/contacticon.png') no-repeat -40px 0;
	}
	.contact-call{
		background:url('../images/contacticon.png') no-repeat -20px 0;
	}
	.contact-phone{
		background:url('../images/contacticon.png') no-repeat 0 0;
	}
	.contact-experss{
		background:url('../images/contacticon.png') no-repeat -80px 0;
	}
}


//新闻资讯
.screen-news{
	padding:20px 0 50px 0;
	background-color:@color-gray14;
	.theme{
		.layout-relative-base();
		&:after{
			.layout-absolutel-base(50%,0);
			margin:60px 0 0 -17px;
			content:'';
			width:34px;
			height:3px;
			display:block;
			background:@color-red2;
		}
	}
	.screen-box{
		.layout-base();
		display:inline-block;
		padding:30px 0 0 0;
	}
}
/*tab选项*/
.screen-newstab-wrap{
	.layout-relative-base();
	.layout-base(640px);
	.user-select-base();
	margin:0 auto;
	height:90px;
	padding:0 70px;
	.tab-btn,
	.tab-show{
		.box-sizing-base();
		border:1px solid @color-gray12;
		height:40px;
		background:@color-white;
		cursor: pointer;
	}
	.tab-btn{
		position:absolute;
		width:40px;
		top:0;
		&:after{
			font-size:@font-size-base + 16;
			font-family:'ux_eight';
			color:@color-gray6;
			display:block;
			width:100%;
			height:100%;
			text-align: center;
			line-height:40px;
		}
		&:hover{
			border:1px solid @color-red2;
			&:after{
				color:@color-red2;
			}
		}
	}
	.tab-btn-left{
		left:8px;
		&:after{
			content:'\e625';
		}
	}
	.tab-btn-right{
		right:8px;
		&:after{
			content:'\e63f';
		}
	}
	.tab-btn-disabled{
		border:1px solid @color-gray12 !important;
		&:empty{
			cursor: default;
		}
		&:after{
			color:@color-gray12 !important;
		}
		&:hover{
			border:1px solid @color-gray12 !important;
			&:after{
				color:@color-gray12 !important;
			}
		}
	}
	.tab-show{
		font-size:0;
		overflow: hidden;
		&:empty{
			cursor: default;
		}
		span{
			.layout-base(20%);
			font-size:@font-size-base;
			display:inline-block;
			height:100%;
			line-height:38px;
			text-align: center;
			color:@color-gray3;
			border-left:1px solid @color-gray12;
			&:first-child{
				border:none !important;
			}
		}
		.tab-active{
			color:@color-white;
			background:@color-red2;
		}
	}
}
/*列表*/
.screen-newslist{
	.layout-relative-base();
	background:@color-white;
	.layout-base();
	.calc-base(height,'100% - 200px');
	min-height:480px;
	padding:20px 40px;
	.box-shadow-base(0 18px 15px 0 @color-gray12);
	ul{
		float:left;
		height:99%;
		padding:0 0 30px 0;
		overflow: hidden;
		.list-wrap1();
		&:empty{
			display:inline-block;
			.layout-base();
			padding:180px 0 50px 0;
			height:100%;
			text-align: center;
			min-height:400px;
			background:transparent url('../images/screen_indexicon.png') repeat left top;
			.opacity-base(40);
			&:before{
				content:'\e628';
				font-family: 'ux_two';
				color:darken(@color-red1,10);
				font-size: @font-size-base + 20;
			}
			&:after{
				content:'暂无新闻资讯，请去后台添加';
				color:@color-gray6;
				padding:0 10px;
				font-size: @font-size-base;
			}
		}
	}
	.newstab-more{
		.layout-absoluterb-base(0,40px);
		.user-select-base();
		.layout-base();
		height:0;
		a{
			float:right;
			margin-right:30px;
			display:inline-block;
			padding:5px 10px;
			font-size:@font-size-base;
			color:@color-red2;
			cursor: pointer;
			&:hover{
				color:darken(@color-red2,5%);
			}
		}
	}
}
