/*--兼容版本版本--*/

///*--字体--*/
@fontfamliy-base: '微软雅黑', '雅黑', 'Microsoft YaHei', 'YaHei', '\5FAE\8F6F\96C5\9ED1', '宋体', '\5B8B\4F53', sans-serif;
///*字体大小*/
@font-size-base: 14px;
@font-size-small: @font-size-base - 2;
@font-size-default: @font-size-base + 2;
@font-size-large: @font-size-base + 4;
@font-size-bigger: @font-size-base + 10;

///*--颜色--*/
@color-type: color;

///*基本色：黑*/
@color-base: rgba(0, 0, 0, 1.00);

///*基本色：白*/
@color-white: rgba(255, 255, 255, 1.00);

///*全局色:错误*/
@color-err: rgba(225, 0, 0, 1.00);

///*全局色:成功*/
@color-succ: rgba(0, 170, 50, 1.00);

///*全局色:警告*/
@color-warn: rgba(229, 96, 0, 1.00);

///*全局色:信息提示*/
@color-info: rgba(0, 172, 230, 1.00);

///*全局色:加重*/
@color-dark: rgba(36, 43, 51, 1.00);

///*全局色:减淡*/
@color-light: rgba(184, 194, 204, 1.00);

///*全局色:边框*/
@color-border: rgba(102, 102, 102, 1.00); //#666

///*全局色:获取焦点*/
@color-focus: rgba(0, 140, 250, 1.00);

///*全局色:常规颜色*/
@color-default: rgba(51, 51, 51, 1.00); //#333

///*红色*/
@color-red1: rgba(195, 9, 17, 1.00);
@color-red2: rgba(226, 32, 40, 1.00);
@color-red3: rgba(251, 157, 143, 1.00);

///*绿色*/
@color-green1: rgba(125, 186, 22, 1.00);
@color-green2: rgba(16, 178, 88, 1.00);

///*蓝色*/
@color-blue1: rgba(37, 146, 239, 1.00);
@color-blue2: rgba(84, 132, 222, 1.00);
@color-blue3: rgba(56, 128, 246, 1.00);

///*黄色*/
@color-yellow1: rgba(247, 186, 22, 1.00);
@color-yellow2: rgba(250, 191, 21, 1.00);

///*橘色*/
@color-orange1: rgba(234, 84, 4, 1.00);

///*基准灰色*/
@color-gray1: rgba(17, 17, 17, 1.00); //#111
@color-gray2: rgba(34, 34, 34, 1.00); //#222
@color-gray3: rgba(51, 51, 51, 1.00); //#333
@color-gray4: rgba(68, 68, 68, 1.00); //#444
@color-gray5: rgba(85, 85, 85, 1.00); //#555
@color-gray6: rgba(102, 102, 102, 1.00); //#666
@color-gray7: rgba(119, 119, 119, 1.00); //#777
@color-gray8: rgba(136, 136, 136, 1.00); //#888
@color-gray9: rgba(153, 153, 153, 1.00); //#999
@color-gray10: rgba(170, 170, 170, 1.00); //#aaa
@color-gray11: rgba(187, 187, 187, 1.00); //#bbb
@color-gray12: rgba(204, 204, 204, 1.00); //#ccc
@color-gray13: rgba(221, 221, 221, 1.00); //#ddd
@color-gray14: rgba(238, 238, 238, 1.00); //#eee
///*扩展灰色*/
@color-gray15: rgba(192, 192, 192, 1.00); //#c0c0c0	图标色
@color-gray16: rgba(228, 228, 228, 1.00); //#e4e4e4	背景色
@color-gray17: rgba(244, 244, 244, 1.00); //#f4f4f4	背景色
