/*切换按钮*/
.cs-header-navicon{
  float:left;
  width:60px;
  height:100%;
}
/*下拉信息*/
.cs-header-info{
  .layout-relative-base();
  width:100px;
  height:100%;
  float: right;
  .cs-header-wrap{
    .layout-base(20px);
    position: absolute;
    top:35%;
    height:25%;
  }
  .cs-header-list{
    left:10px;
  }
  .cs-header-setting{
    right:10px;
    .ivu-select-dropdown{
      width: 300px;
    }
  }
}







