/*--兼容版本版本--*/


///*--多列--*/

///*设置多列列数和列宽--复合属性（列宽 列数）*/
.columns-base(@str:auto auto) {
  columns: @str;
}

///*设置多列间隙*/
.column-gap-base(@str:normal) {
  column-gap: @str;
}

///*设置多列边框--复合属性（宽度 样式 颜色）*/
.column-rule-base(@str:medium none transparent) {
  column-rule: @str;
}

///*设置是否横跨所有列*/
.column-span-base(@str:none) {
  column-span: @str;
}

///*设置所有列的高度是否统一*/
.column-fill-base(@str:auto) {
  column-fill: @str;
}

///*设置对象之前是否断行*/
.column-break-before-base(@str:auto) {
  column-break-before: @str;
}

///*设置对象之后是否断行*/
.column-break-after-base(@str:auto) {
  column-break-after: @str;
}

///*设置对象内部是否断行*/
.column-break-inside-base(@str:auto) {
  column-break-inside: @str;
}

