/*--兼容版本版本--*/

///*--文本--*/

///*不换行*/
.text-of(@o:hidden,@w:nowrap) {
  overflow: @o;
  white-space: @w;
}


///*省略*/
.text-dot() {
  text-overflow: ellipsis;
}


///*应用省略号*/
.text-ofdot(){
  .text-of();
  .text-dot();
}


///*文字强制换行*/
.text-ww(@w1:break-all,@w2:break-word) {
  word-break: @w1;
  word-wrap: @w2;
}

///*禁止选中*/
.user-select-base(@str:none) {
  user-select: @str;
}

