/*404*/
.cs-panel-fzf {
  .layout-base();
  .layout-fixedl-base();
  width: 100%;
  height: 100%;
  width: 100vw;
  height: 100vh;
  background: @color-white url('@{source-base-url}../images/404.png') center top no-repeat;
  .fzf-content {
    .layout-relative-base();
    width: 100%;
    height: 100%;
  }
  .fzf-show {
    .layout-absolutel-base(50%, @ad-fzf-icon-height);
    background: transparent;
    margin-left: -@ad-fzf-icon-height/2;
    width: @ad-fzf-icon-height;
    height: @ad-fzf-icon-height/5;
    text-align: center;
  }
}



@media (max-width: 900px){
  .cs-panel-fzf{
    .background-size-base(98% auto);
    .fzf-show {
      top:@ad-fzf-icon-height * .9;
    }
  }
}

@media (max-width: 765px){
  .cs-panel-fzf{
    .fzf-show {
      top:@ad-fzf-icon-height * .8;
    }
  }
}

@media (max-width: 640px){
  .cs-panel-fzf{
    .fzf-show {
      top:@ad-fzf-icon-height * .7;
    }
  }
}

@media (max-width: 480px){
  .cs-panel-fzf{
    .fzf-show {
      top:@ad-fzf-icon-height * .5;
    }
  }
}


