/*登录面板*/
.cs-panel-login{
  .layout-relative-base();
  width:100%;
  height:100%;
  min-width:@core-login-width;
  min-height:@core-login-width * .5;
  .layout-base(100vw);
  height:100vh;
  background-image: url('@{source-base-url}../images/bg/bg_whitecross.jpg');
  .login-wrap{
    @login-width:@core-login-width * .8;
    @login-height:@core-login-width * .4;
    .layout-absolutel-base(50%,50%);
    .layout-base(@login-width);
    height:@login-height;
    margin-left:-@login-width/2;
    margin-top:-@login-height/2;
    .border-radius-base(5px);
    overflow: hidden;
    background-color:@color-white;
    .box-shadow-base(0 0 20px 0 @color-gray10);
  }
  .login-group{
    float:left;
    .box-sizing-base();
    height:100%;
  }
  .login-main{
    .layout-relative-base();
    padding: 120px 50px 40px 50px;
    width:40%;
    .ivu-form-item{
      width:100%;
    }
    .ivu-form-item-error-tip{
      width:100%;
    }
    &:before{
      .layout-absolutel-base(50px,20px);
      border-bottom: 1px dashed @color-gray12;
      width:220px;
      height:60px;
      content:'';
      background:transparent url('@{source-base-url}../images/logo-red-bg.png') no-repeat left center;
    }
  }
  .login-side{
    width:60%;
    background:transparent url('@{source-base-url}../images/show/4.jpg') repeat 0 0;
  }
  /*验证码*/
  .login-valid{
    width:100px;
  }
  .login-image{
    float: right;
    width:80px;
    height:32px;
    display: inline-block;
    margin-top:-32px;
    border:1px solid @color-gray10;
    .border-radius-base(3px);
    background:transparent url('@{source-base-url}../images/bg/bg_default.png') repeat 0 0;
    background-size:100% auto;
    cursor: pointer;
    img{
      width:100%;
      height:100%;
    }
  }
}


@media (max-width: 999px) {
  .cs-panel-login{
    min-width:auto;
    .login-wrap{
      padding:20px;
      width:100%;
      position: static;
      margin: 0;
      .border-radius-base(0);
      .box-shadow-base(none);
    }
    .login-main{
      width:50%;
    }
    .login-side{
      width:50%;
    }
  }
}

@media (max-width: 768px) {
  .cs-panel-login{
    .login-wrap{
      padding:10px;
    }
    .login-main{
      width:50%;
    }
    .login-side{
      width:50%;
    }
  }
}

@media (max-width: 640px) {
  .cs-panel-login{
    .login-main{
      width:60%;
      &:before{
        left:0;
        width:100%;
        background-position: 50px center;
        border-bottom: none;
      }
    }
    .login-side{
      width:40%;
    }
  }
}

@media (max-width: 480px) {
  .cs-panel-login{
    .login-main{
      width:100%;
    }
    .login-side{
      width:0;
      height:0;
      display: none;
    }
  }
}
