/*兼容面板*/
.cs-panel-support{
  .layout-relative-base();
  .layout-fixedl-base();
  .layout-base();
  background: @color-base;
  background: rgba(0, 0, 0, 1);
  height: 100%;
  height: 100vh;
  width: 100vw;
  min-height: 600px;
  .support-inner {
    .layout-absolutel-base();
    .layout-base();
    height: 100%;
    display: table;
  }
  .support-browser {
    .layout-base();
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    padding: 20px;
    .browser-theme {
      .layout-base();
      min-height: 100px;
      padding: 30px 0;
      line-height: 20px;
      text-align: center;
      font-size: @font-size-base;
      color: @color-gray6;
      .text-ww();
      overflow: hidden;
    }
    .browser-icon {
      .layout-base();
      background: @color-base;
      min-height: 300px;
      padding: 20px 0;
      text-align: center;
      font-size: 0;
      .user-select-base();
      a {
        .box-sizing-base();
        display: inline-block;
        width: 180px;
        height: 250px;
        padding: 20px;
        background: @color-gray2;
        margin: 0 20px;
        .transition-base(all .3s ease-in .02s);
        &:hover {
          background: @color-gray4;
        }
      }
      p, span {
        display: inline-block;
        width: 100%;
        overflow: hidden;
      }
      p {
        height: 44px;
        line-height: 22px;
        color: @color-gray9;
        font-size: @font-size-base + 4 !important;
      }
      span {
        height: 36px;
        line-height: 18px;
        color: @color-succ;
        font-size: @font-size-base - 2 !important;
      }
      div {
        display: inline-block;
        width: 60px;
        height: 60px;
        margin: 30px 0 0 0;
        overflow: hidden;
      }
      .browser-icon-firefox {
        background: transparent url('@{source-base-url}../images/browser_icon.png') 0 0 no-repeat;
      }
      .browser-icon-chrome {
        background: transparent url('@{source-base-url}../images/browser_icon.png') -120px 0 no-repeat;
      }
      .browser-icon-ie {
        background: transparent url('@{source-base-url}../images/browser_icon.png') -60px 0 no-repeat;
      }
      .browser-icon-baidu {
        background: transparent url('@{source-base-url}../images/browser_icon.png') -240px 0 no-repeat;
      }
      .browser-icon-qq {
        background: transparent url('@{source-base-url}../images/browser_icon.png') -180px 0 no-repeat;
      }
    }
  }
}


@media (max-width: 1400px) {
  .cs-panel-support{
    .support-browser {
      .browser-icon {
        a {
          width: 150px;
          padding:20px 10px;
          margin: 0 10px;
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .cs-panel-support{
    .support-browser {
      .browser-icon {
        a {
          margin: 10px 10px 0 10px;
          width: 120px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .cs-panel-support{
    .support-browser {
      .browser-icon {
        a {
          width: 100px;
          height: 200px;
        }
        p {
          font-size: @font-size-base !important;
        }
        div {
          margin: 20px 0 0 0;
        }
      }
    }
  }
}

@media (max-width: 640px) {
  .cs-panel-support{
    .support-browser {
      .browser-icon {
        a {
          width: 80px;
          height: 150px;
        }
        p {
          font-size: @font-size-base - 2 !important;
          height: 30px;
          line-height: 15px;
        }
        span {
          height: 24px;
          line-height: 12px;
        }
        div {
          margin: 10px 0 0 0;
        }
      }
    }
  }
}
