/*文章主体*/
.content-wrap{
	.layout-relative-base();
	.layout-base();
	min-height:400px;
	.calc-base(min-height,'100vh - 360px');
	&:after{
		content: '';
		display: table;
		width:100%;
		height:0;
		clear: both;
	}
	.content-show{
		.layout-base(1000px);
		margin:-50px auto 100px auto;
		height:auto;
		min-height:300px;
		background:@color-white;
		.box-shadow-base(0 10px 10px 0 @color-gray10);
		padding:20px;
		.content-theme{
			.layout-base();
			height:40px;
			text-align:left;
			line-height:38px;
			.text-ww();
			color:@color-gray6;
			font-size:@font-size-base;
			border-bottom:1px solid @color-gray12;
			span{
				.box-sizing-base(content-box);
				height:38px;
				padding:0 10px 0 0;
				display:inline-block;
				border-bottom:2px solid @color-red2;
			}
		}
	}
}

///max 1000px
@media (max-width: 1199px){
	/*文章主体*/
	.content-wrap{	
		.content-show{
			width:801px;
		}
	}
}
///max 800px
@media (max-width: 800px){
	/*文章主体*/
	.content-wrap{
		.content-show{
			width:641px;
		}
	}
}
///max 640px
@media (max-width: 640px){
	/*文章主体*/
	.content-wrap{
		.content-show{
			width:100%;
		}
	}
}
























