/*底部操作操作按钮*/
.wx-btnitem-wrap {
  @btn-gap-left: 5px;
  @item-btn-gap-left:5px;
  @item-font-size:@font-size-base + 2;

  width: 100%;
  height: @action-btn-height;
  padding: @btn-gap-left @btn-gap-left;
  font-size: 0;
  > li {
    width: 100%;
    height:100%;
    font-size: @item-font-size;
    display: inline-block;
    text-align: center;
    padding:0 @item-btn-gap-left;
    cursor: pointer;
    &,
    &:hover,
    &:active,
    &:focus{
      .user-tap-base();
    }
    .user-select-base();
    >div{
      display:inline-block;
      width:100%;
      height:100%;
      padding:0;
      font-size: @item-font-size;
      line-height:@action-btn-height - @btn-gap-left * 2.2;
    }
  }
}

/*底部按钮组--分组-2列*/
.wx-btnitem-item2 {
  > li {
    width: 50%;
  }
}
/*底部按钮组--分组-3列*/
.wx-btnitem-item3 {
  > li {
    width: 33.33333%;
  }
}
/*底部按钮组--分组-4列*/
.wx-btnitem-item4 {
  > li {
    width: 25%;
  }
}
/*底部按钮组--分组-5列*/
.wx-btnitem-item5 {
  > li {
    width: 20%;
  }
}








