/*空信息面板*/
.wx-empty-panel {
  @circle-width: @font-size-base * 8;

  width: 100%;
  padding: @grid-list-gap/2;
  background-color: @color-global-white;
  background-clip: content-box;
  height: 80vh;
  .layout-relative-base();
  .display-base();
  .flex-base();
  .justify-content-base(center);
  .align-items-base(center);
  &:before {
    font-family: zw_iconfont;
    margin: 5px;
    color: @color-global-white;
    width: @circle-width;
    height: @circle-width;
    background-color: @color-gray14;
    .border-radius-base(50%);
    display: inline-block;
    overflow: hidden;
    text-align: center;
    line-height: @circle-width;
  }
  &:after {
    .layout-absolutel-base(0, 50%);
    margin-top: @circle-width/2;
    text-align: center;
    width: 100%;
    height: @font-size-base * 2;
    line-height: @font-size-base * 2;
    display: block;
    content: attr(data-title);
    color: @color-gray9;
    font-size: @font-size-base + 2;
  }
}

.wx-empty-document {
  &:before {
    content: '\e7d8';
    font-size: @font-size-base * 4.4;
  }
}

.wx-empty-query {
  &:before {
    content: '\e635';
    font-size: @font-size-base * 4;
    font-weight: bold;
  }
}

.wx-empty-edit {
  &:before {
    content: '\e624';
    font-size: @font-size-base * 4;
    font-weight: bold;
  }
}

.wx-empty-image {
  &:before {
    content: '\e7d1';
    font-size: @font-size-base * 4.4;
  }
}

.wx-empty-word {
  &:before {
    content: '\e7d5';
    font-size: @font-size-base * 4.4;
  }
}

.wx-empty-pdf {
  &:before {
    content: '\e7d0';
    font-size: @font-size-base * 4.4;
  }
}

.wx-empty-excel {
  &:before {
    content: '\e7ce';
    font-size: @font-size-base * 4.4;
  }
}

.wx-empty-zip {
  &:before {
    content: '\e7d6';
    font-size: @font-size-base * 4.4;
  }
}
.wx-empty-process{
  &:before {
    content: '\e67f';
    font-size: @font-size-base * 4.4;
  }
}

/*循环输出自定义空值高度*/
.wx-empty-height-loop(@index) when (@index<=4) {
  .wx-empty-item@{index}x when not(@index<=1) {
    @circle-width: @font-size-base * (@index + 4);
    height: unit(80 * @index, px) !important;
    &:before {
      font-size: @font-size-base * (@index + .8);
      width: @circle-width;
      height: @circle-width;
      line-height: @circle-width;
    }
    &:after {
      margin-top: @circle-width/2;
    }
  }
  .wx-empty-item@{index}x when (@index<=1){
    @circle-width: @font-size-base * (@index + 2.8);
    height: unit(120 * @index, px) !important;
    &:before {
      font-size: @font-size-base * (@index + 1.2);
      width: @circle-width;
      height: @circle-width;
      line-height: @circle-width;
    }
    &:after {
      margin-top: @circle-width/2;
    }
  }
  .wx-empty-height-loop(@index + 1);
}

/*执行输出*/
.wx-empty-height-loop(1);

