/*主题*/
.wx-gap-function() {
  @gap: 5px;

  /*边框公用处理*/
  .gap-line-function() {
    position: absolute;
    content: '';
    z-index: 2;
    left:0;
    width: 100%;
    height: 0;
    display: block;
    .transform-origin-base(0 0);
    .transform-base(scaleY(.5));
    border-bottom: 1px solid @color-gray13;
  }
  /*循环倍高*/
  .gap-height-loop(@index) when (@index<=5) {
    .wx-gap-item@{index}x {
      height:@index * @gap !important;
    }
    .gap-height-loop(@index + 1);
  }
  /*默认间隔*/
  .wx-gap-wrap {
    width: 100%;
    height: @gap;
    display: block;
    background-color: darken(@color-gray14, 0.5%);
  }
  /*全屏宽度间隔*/
  .wx-gap-view-wrap {
    width: 100vw;
    height: @gap;
    display: block;
    background-color: darken(@color-gray14, 0.5%);
  }
  /*下边框*/
  .wx-gap-bottomline {
    .layout-relative-base(0, 0, 1);
    &:before {
      bottom: 0;
      .gap-line-function();
    }
  }
  /*上边框*/
  .wx-gap-topline {
    .layout-relative-base(0, 0, 1);
    &:before {
      top:0;
      .gap-line-function();
    }
  }
  /*生成倍高度*/
  .gap-height-loop(2);
}

/*间隔调用*/
.wx-gap-function();
