/*头部*/
.layout-header-fixlt {
  .layout-fixedl-base();
}

.layout-header-wrap {
  height: @layout-header-height;
  background-color: rgba(4, 13, 20, .9);
}

.header-content-wrap {
  @header-logo-width: 100px;
  height: 100%;
  /*图标*/
  .header-logo {
    width: @header-logo-width;
    height: 100%;
    float: left;
    background: transparent url('../images/logo.png') no-repeat center center;
    background-size: auto 40px;
    overflow: hidden;
  }
  .header-toggle{
    width:0;
    height:0;
    display:none;
    overflow: hidden;
    text-indent:-9999px;
  }
  /*菜单容器*/
  .header-menu {
    .layout-float-base(@body-min-width - @header-logo-width - 2, border-box, right);
    height: 100%;
    text-align: right;
    font-size: 0;
  }
  /*导航通用*/
  .header-nav,
  .header-center,
  .header-nav li,
  .header-account {
    display: inline-block;
    height: 100%;
    .box-sizing-base();
  }
  .header-center >div,
  .header-account >div{
    width:100%;
    height:100%;
    display: inline-block;
  }
  .header-nav li a,
  .header-center a,
  .header-account a {
    .transition-base(all .2s ease-in .01s);
    display: inline-block;
    padding: 20px 30px;
    line-height: 20px;
    height: 100%;
    font-size: @font-size-base;
    text-align: center;
    color: @color-white;
    &:hover {
      background: @color-gray15;
      color: @color-orange1;
    }
  }
  .header-active {
    background: @color-orange1;
    font-weight: bold;
  }

  /*菜单图标*/
  .menu-icon-center {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    background: url('../images/menu_icon_center.png') no-repeat left center;
    overflow: hidden;
  }
}