/*底部*/
.struct-layout-footer{
  .layout-fixedlb-base();
  font-size:0;
  .layout-base();
  height:@layout-footer-height;
  border-top:1px solid @color-gray12;
  background:@color-white;
  .footer-content-wrap{
    .box-sizing-base();
    height:100%;
    margin:0 auto;
  }
}