/*容器*/
.cl-container {
  .layout-base();
  height: 100%;
}

/*404*/
.cl-f0f-container {
  .layout-fixedl-base();
  width: 100%;
  height: 100%;
  width: 100vw;
  height: 100vh;
  background: @color-white url('../images/404.png') center top no-repeat;
  .f0f-content {
    .layout-relative-base();
    width: 100%;
    height: 100%;
  }
  .f0f-show {
    .layout-absolutel-base(50%, @ad-f0f-icon-height);
    background: transparent;
    margin-left: -@ad-f0f-icon-height/2;
    width: @ad-f0f-icon-height;
    height: @ad-f0f-icon-height/5;
    text-align: center;
  }
}

/*兼容面板*/
.cl-support-container {
  .layout-relative-base();
  .layout-fixedl-base();
  .layout-base();
  background: @color-base;
  background: rgba(0, 0, 0, 1);
  height: 100%;
  height: 100vh;
  width: 100vw;
  min-height: 600px;
  min-width: 1080px;
  .cl-support-inner {
    .layout-absolutel-base();
    .layout-base();
    height: 100%;
    display: table;
  }
  .cl-support-browser {
    .layout-base();
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    padding: 20px;
    .browser-theme {
      .layout-base();
      min-height: 100px;
      padding: 30px 0;
      line-height: 20px;
      text-align: center;
      font-size: @font-size-base;
      color: @color-gray6;
      .text-ww();
      overflow: hidden;
    }
    .browser-icon {
      .layout-base();
      background: @color-base;
      min-height: 300px;
      padding: 20px 0;
      text-align: center;
      font-size: 0;
      .user-select-base();
      a {
        .box-sizing-base();
        display: inline-block;
        width: 180px;
        height: 250px;
        padding: 20px;
        background: @color-gray2;
        margin: 0 20px;
        .transition-base(all .3s ease-in .02s);
        &:hover {
          background: @color-gray4;
        }
      }
      p, span {
        display: inline-block;
        width: 100%;
        overflow: hidden;
      }
      p {
        height: 44px;
        line-height: 22px;
        color: @color-gray9;
        font-size: @font-size-base + 4 !important;
      }
      span {
        height: 36px;
        line-height: 18px;
        color: @color-succ;
        font-size: @font-size-base - 2 !important;
      }
      div {
        display: inline-block;
        width: 60px;
        height: 60px;
        margin: 30px 0 0 0;
        overflow: hidden;
      }
      .browser-icon-firefox {
        background: transparent url('../images/browser_icon.png') 0 0 no-repeat;
      }
      .browser-icon-chrome {
        background: transparent url('../images/browser_icon.png') -120px 0 no-repeat;
      }
      .browser-icon-ie {
        background: transparent url('../images/browser_icon.png') -60px 0 no-repeat;
      }
      .browser-icon-baidu {
        background: transparent url('../images/browser_icon.png') -240px 0 no-repeat;
      }
      .browser-icon-qq {
        background: transparent url('../images/browser_icon.png') -180px 0 no-repeat;
      }
    }
  }
}

