///*--图标字体--*/
@font-face {
  font-family: element-icons;
  src: url('@{element-font-url}@{element-font-name}.woff') format("woff"),
  url('@{element-font-url}@{element-font-name}') format("truetype");
  font-weight: 400;
  font-style: normal
}
