<div ng-controller="WarehouseController as warehouse_ctrl">
    <div class="struct-layout-container struct-layout-default">
        <div class="struct-layout-main">

            <!--订单管理-->
            <div class="admin-action-item">

                <!--过滤-->
                <div class="action-item-input g-w-percent13">
                    <label class="action-indent-b2">过滤:<input class="form-control input-sm" placeholder="" ng-model="warehouse_ctrl.record.filter" ng-keyup="warehouse_ctrl.filterDataTable()"  type="search"></label>
                </div>

                <!--开始时间-->
                <div class="action-item-input g-w-percent15">
                    <label class="action-indent-b2 dt-icon-after">开始时间:<input ng-model="warehouse_ctrl.record.startTime"  class="form-control" id="search_startTime" placeholder="请选择开始时间" readonly type="text"></label>
                </div>

                <!--结束时间-->
                <div class="action-item-input g-w-percent15">
                    <label class="action-indent-b2 dt-icon-after">结束时间:<input class="form-control" placeholder="请选择结束时间" id="search_endTime" ng-model="warehouse_ctrl.record.endTime" readonly type="text"></label>
                </div>

                <!--打印，导出-->
                <div ng-show="false" class="action-item-btn action-item-export g-w-percent8">
                    <span ng-show="warehouse_ctrl.powerlist.purchase_print" class="btn btn-export g-br3 g-c-blue3">打印</span>
                    <span ng-show="warehouse_ctrl.powerlist.purchase_export" class="btn btn-export g-br3 g-c-blue3">导出</span>
                </div>

                <div class="clearfix"></div>
                <div class="action-item-input g-w-percent15">
                    <label class="action-indent-b4">搜索条件:<input class="form-control input-sm g-w-percent48" placeholder="请输入查询条件" ng-model="warehouse_ctrl.record.searchWord"  type="text"></label>
                </div>

                <div ng-show="warehouse_ctrl.record.organizationId!==''" class="action-item-btn action-item-export g-gap-mt4 g-w-percent6">
                    <span ng-click="warehouse_ctrl.queryPurchase()" class="btn btn-export g-br3 g-w-percent50 g-c-blue3">查询</span>
                </div>

                <!--列控制-->
                <div ng-class="{'g-d-hidei':warehouse_ctrl.record.action!==1}" class="action-item-ul g-w-percent6 g-pos-r g-gap-ml2" ng-show="::warehouse_ctrl.table.tablecolumn1.columnshow">
                    <div class="action-theme action-theme-btn g-br3 g-t-c">显示列</div>
                    <div class="action-ul g-d-hidei" id="admin_table_checkcolumn1">
                        <ul class="action-list-wrap" ></ul>
                    </div>
                </div>


                <!--列控制-->
                <div ng-class="{'g-d-hidei':warehouse_ctrl.record.action!==2}" class="action-item-ul g-w-percent6 g-pos-r g-gap-ml2" ng-show="::warehouse_ctrl.table.tablecolumn2.columnshow">
                    <div class="action-theme action-theme-btn g-br3 g-t-c">显示列</div>
                    <div class="action-ul g-d-hidei" id="admin_table_checkcolumn2">
                        <ul class="action-list-wrap" ></ul>
                    </div>
                </div>

                <!--批量审核-->
                <div ng-class="{'g-d-hidei':(warehouse_ctrl.record.action!==2 && warehouse_ctrl.audit.type!=='batch')}" class="action-item-btn action-item-export g-w-percent6 g-gap-ml2">
                    <span ng-click="warehouse_ctrl.queryAudit()" class="btn btn-export g-br3 g-w-percent50 g-c-blue3">批量审核</span>
                </div>

                <!--新增入库单-->
                <div ng-class="{'g-d-hidei':warehouse_ctrl.record.action!==2}" class="action-item-btn action-item-export g-w-percent6 g-gap-ml2">
                    <span ng-click="warehouse_ctrl.actionWarehouse({display:'show',area:'inwarehouse'})" class="btn btn-export g-br3 g-w-percent50 g-c-blue3">添加入库单</span>
                </div>


                <!--新增出库单-->
                <div ng-class="{'g-d-hidei':warehouse_ctrl.record.action!==3}" class="action-item-btn action-item-export g-w-percent6 g-gap-ml2">
                    <span ng-click="warehouse_ctrl.actionWarehouse({display:'show',area:'outwarehouse'})" class="btn btn-export g-br3 g-w-percent50 g-c-blue3">添加出库单</span>
                </div>


                <!--新增盘点单-->
                <div ng-class="{'g-d-hidei':warehouse_ctrl.record.action!==4}" class="action-item-btn action-item-export g-w-percent6 g-gap-ml2">
                    <span ng-click="warehouse_ctrl.actionWarehouse({display:'show',area:'checkwarehouse'})" class="btn btn-export g-br3 g-w-percent50 g-c-blue3">添加盘点单</span>
                </div>



            </div>


            <!--库存-->
            <div ng-class="{'g-d-hidei':warehouse_ctrl.record.action!==1}">
                <!--表格-->
                <table id="admin_list_wrap1" class="table table-bordered table-striped table-hover admin-layout-table">
                    <!--分组样式-->
                    <colgroup id="admin_list_colgroup1">
                        <col class="g-w-percent2">
                        <col class="g-w-percent8">
                        <col class="g-w-percent6">
                        <col class="g-w-percent2">
                        <col class="g-w-percent5">
                        <col class="g-w-percent3">
                        <col class="g-w-percent5">
                        <col class="g-w-percent3">
                        <col class="g-w-percent3">
                        <col class="g-w-percent3">
                        <col class="g-w-percent3">
                        <col class="g-w-percent7">
                    </colgroup>

                    <!--表头-->
                    <thead>
                    <tr>
                        <th class="g-clear-pl g-clear-pr g-t-c">
                            <div class="admin-batchitem-wrap" ng-show="warehouse_ctrl.powerlist.warehouse_supply" >
                                <label data-check="0" class="admin-batchitem-check" id="admin_batchitem_checkall1"></label>
                            </div>
                        </th>
                        <th>商品名称</th>
                        <th>规格属性</th>
                        <th>单位</th>
                        <th>仓库名称</th>
                        <th>仓库负责人</th>
                        <th>仓库手机</th>
                        <th>可售库存</th>
                        <th>实际库存</th>
                        <th>安全库存</th>
                        <th>可售状态</th>
                        <th>操作</th>
                    </tr>
                    </thead>

                    <!--表主体-->
                    <tbody id="admin_batchlist_wrap1" class="middle-align"></tbody>
                </table>

                <!--分页-->
                <div class="admin-page-wrap">
                    <div class="easyui-pagination g-w-percent50" id="admin_page_wrap1" data-options="links:5,layout:['manual','first','prev','links','next','last'],displayMsg:'显示{from}&nbsp;到&nbsp;{to}&nbsp;共&nbsp;{total}条记录'"></div>
                </div>
            </div>


            <!--入库-->
            <div ng-class="{'g-d-hidei':warehouse_ctrl.record.action!==2}">
                <!--表格-->
                <table id="admin_list_wrap2" class="table table-bordered table-striped table-hover admin-layout-table">
                    <!--分组样式-->
                    <colgroup id="admin_list_colgroup2">
                        <col class="g-w-percent5">
                        <col class="g-w-percent5">
                        <col class="g-w-percent3">
                        <col class="g-w-percent5">
                        <col class="g-w-percent5">
                        <col class="g-w-percent5">
                        <col class="g-w-percent5">
                        <col class="g-w-percent3">
                        <col class="g-w-percent5">
                        <col class="g-w-percent4">
                        <col class="g-w-percent5">
                    </colgroup>

                    <!--表头-->
                    <thead>
                    <tr>
                        <th>商品名称</th>
                        <th>规格属性</th>
                        <th>单位</th>
                        <th>仓库名称</th>
                        <th>仓库电话</th>
                        <th>入库时间</th>
                        <th>入库类型</th>
                        <th>经办人</th>
                        <th>供应商</th>
                        <th>审核状态</th>
                        <th>操作</th>
                    </tr>
                    </thead>

                    <!--表主体-->
                    <tbody id="admin_batchlist_wrap2" class="middle-align"></tbody>
                </table>

                <!--分页-->
                <div class="admin-page-wrap">
                    <div class="easyui-pagination g-w-percent50" id="admin_page_wrap2" data-options="links:5,layout:['manual','first','prev','links','next','last'],displayMsg:'显示{from}&nbsp;到&nbsp;{to}&nbsp;共&nbsp;{total}条记录'"></div>
                </div>
            </div>



            <!--出库-->
            <div ng-class="{'g-d-hidei':warehouse_ctrl.record.action!==3}">
                <!--表格-->
                <table id="admin_list_wrap3" class="table table-bordered table-striped table-hover admin-layout-table">
                    <!--分组样式-->
                    <colgroup id="admin_list_colgroup3">
                        <col class="g-w-percent8">
                        <col class="g-w-percent7">
                        <col class="g-w-percent5">
                        <col class="g-w-percent5">
                        <col class="g-w-percent5">
                        <col class="g-w-percent5">
                        <col class="g-w-percent5">
                        <col class="g-w-percent5">
                        <col class="g-w-percent5">
                    </colgroup>

                    <!--表头-->
                    <thead>
                    <tr>
                        <th>商品名称</th>
                        <th>规格属性</th>
                        <th>仓库名称</th>
                        <th>仓库电话</th>
                        <th>出库时间</th>
                        <th>出库类型</th>
                        <th>经办人</th>
                        <th>审核状态</th>
                        <th>操作</th>
                    </tr>
                    </thead>

                    <!--表主体-->
                    <tbody id="admin_batchlist_wrap3" class="middle-align"></tbody>
                </table>

                <!--分页-->
                <div class="admin-page-wrap">
                    <div class="easyui-pagination g-w-percent50" id="admin_page_wrap3" data-options="links:5,layout:['manual','first','prev','links','next','last'],displayMsg:'显示{from}&nbsp;到&nbsp;{to}&nbsp;共&nbsp;{total}条记录'"></div>
                </div>
            </div>


            <!--盘点-->
            <div ng-class="{'g-d-hidei':warehouse_ctrl.record.action!==4}">
                <!--表格-->
                <table id="admin_list_wrap4" class="table table-bordered table-striped table-hover admin-layout-table">
                    <!--分组样式-->
                    <colgroup id="admin_list_colgroup4">
                        <col class="g-w-percent8">
                        <col class="g-w-percent6">
                        <col class="g-w-percent3">
                        <col class="g-w-percent5">
                        <col class="g-w-percent3">
                        <col class="g-w-percent5">
                        <col class="g-w-percent3">
                        <col class="g-w-percent3">
                        <col class="g-w-percent3">
                        <col class="g-w-percent3">
                        <col class="g-w-percent3">
                        <col class="g-w-percent5">
                    </colgroup>

                    <!--表头-->
                    <thead>
                    <tr>
                        <th>商品名称</th>
                        <th>规格属性</th>
                        <th>单位</th>
                        <th>仓库名称</th>
                        <th>仓库负责人</th>
                        <th>仓库手机</th>
                        <th>可售库存</th>
                        <th>实际库存</th>
                        <th>安全库存</th>
                        <th>可售状态</th>
                        <th>审核状态</th>
                        <th>操作</th>
                    </tr>
                    </thead>

                    <!--表主体-->
                    <tbody id="admin_batchlist_wrap4" class="middle-align"></tbody>
                </table>

                <!--分页-->
                <div class="admin-page-wrap">
                    <div class="easyui-pagination g-w-percent50" id="admin_page_wrap4" data-options="links:5,layout:['manual','first','prev','links','next','last'],displayMsg:'显示{from}&nbsp;到&nbsp;{to}&nbsp;共&nbsp;{total}条记录'"></div>
                </div>
            </div>

        </div>

        <div class="struct-layout-side">

            <!--选项卡组件-->
            <ul class="sub-tab-wrap sub-item-group4 sub-itembr-group4 ui-sub-tab" data-action="toggleTheme" data-ctrlname="warehouse_ctrl"  data-tabitem="warehouse_ctrl.themeitem"></ul>

            <!--子菜单组件-->
            <div id="submenu_scroll_wrap">
                <ul class="sub-menu-wrap">
                    <li>
                        <a class="sub-menu-title sub-menu-titleactive" data-parentid="" data-id="warehouse_ctrl.record.currentId" data-layer="0" ng-click="warehouse_ctrl.initSubMenu()">{{warehouse_ctrl.record.currentName}}</a>
                        <ul class="g-d-showi ui-sub-menu" ng-click="warehouse_ctrl.toggleSubMenu($event)" id="admin_warehouse_submenu" ng-init="warehouse_ctrl.initSubMenu()"></ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <!--库存--采购-->
    <div class="modal fade custom-width" id="admin_purchase_dialog">
        <div class="modal-dialog g-w-percent48">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="admin-layout-theme4 admin-theme-close g-t-c g-b-gray17 g-pos-r">订单收货<span class="mini-icon admin-mini-icon1" ng-click="warehouse_ctrl.toggleModal({display:'hide',area:'purchase'})"></span>
                    </div>

                    <!--收货详情-->
                    <table class="table table-bordered table-striped table-hover admin-layout-table">
                        <!--分组样式-->
                        <colgroup>
                            <col class="g-w-percent20">
                            <col class="g-w-percent1">
                            <col class="g-w-percent20">
                            <col class="g-w-percent6">
                            <col class="g-w-percent3">
                        </colgroup>

                        <!--头部-->
                        <thead>
                        <tr>
                            <th>商品详情</th>
                            <th>序号</th>
                            <th>商户名称</th>
                            <th>规格属性(商品型号)</th>
                            <th>数量</th>
                        </tr>
                        </thead>

                        <!--表主体-->
                        <tbody id="admin_purchase_show" class="middle-align"></tbody>
                    </table>
                    <div class="clearfix"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-red g-w-number4" ng-click="warehouse_ctrl.sureReceive()">收货</button>
                    <button type="button" class="btn btn-red" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    <!--库存--补货-->
    <div class="modal fade custom-width" id="admin_supply_dialog">
        <div class="modal-dialog g-w-percent48">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="admin-layout-theme4 admin-theme-close g-t-c g-b-gray17 g-pos-r">订单收货<span class="mini-icon admin-mini-icon1" ng-click="warehouse_ctrl.toggleModal({display:'hide',area:'receive'})"></span>
                    </div>

                    <!--收货详情-->
                    <table class="table table-bordered table-striped table-hover admin-layout-table">
                        <!--分组样式-->
                        <colgroup>
                            <col class="g-w-percent20">
                            <col class="g-w-percent1">
                            <col class="g-w-percent20">
                            <col class="g-w-percent6">
                            <col class="g-w-percent3">
                        </colgroup>

                        <!--头部-->
                        <thead>
                        <tr>
                            <th>商品详情</th>
                            <th>序号</th>
                            <th>商户名称</th>
                            <th>规格属性(商品型号)</th>
                            <th>数量</th>
                        </tr>
                        </thead>

                        <!--表主体-->
                        <tbody id="admin_supply_show" class="middle-align"></tbody>
                    </table>
                    <div class="clearfix"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-red g-w-number4" ng-click="warehouse_ctrl.sureReceive()">收货</button>
                    <button type="button" class="btn btn-red" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    <!--库存--修改-->
    <div class="modal fade custom-width" id="admin_update_dialog">
        <div class="modal-dialog g-w-percent48">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="admin-layout-theme4 admin-theme-close g-t-c g-b-gray17 g-pos-r">订单收货<span class="mini-icon admin-mini-icon1" ng-click="warehouse_ctrl.toggleModal({display:'hide',area:'receive'})"></span>
                    </div>

                    <!--收货详情-->
                    <table class="table table-bordered table-striped table-hover admin-layout-table">
                        <!--分组样式-->
                        <colgroup>
                            <col class="g-w-percent20">
                            <col class="g-w-percent1">
                            <col class="g-w-percent20">
                            <col class="g-w-percent6">
                            <col class="g-w-percent3">
                        </colgroup>

                        <!--头部-->
                        <thead>
                        <tr>
                            <th>商品详情</th>
                            <th>序号</th>
                            <th>商户名称</th>
                            <th>规格属性(商品型号)</th>
                            <th>数量</th>
                        </tr>
                        </thead>

                        <!--表主体-->
                        <tbody id="admin_update_show" class="middle-align"></tbody>
                    </table>
                    <div class="clearfix"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-red g-w-number4" ng-click="warehouse_ctrl.sureReceive()">收货</button>
                    <button type="button" class="btn btn-red" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>



    <!--新增入库-->
    <div class="modal fade custom-width" id="admin_inwarehouse_dialog">
        <div class="modal-dialog g-w-percent25">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="admin-layout-theme4 admin-theme-close g-t-c g-b-gray17 g-pos-r">新增入库<span class="mini-icon admin-mini-icon1" ng-click="warehouse_ctrl.toggleModal({display:'hide',area:'inwarehouse'})"></span>
                    </div>


                    <form ng-submit="warehouse_ctrl.formSubmit('inwarehouse')" name="inwarehouseFrom" role="form" novalidate method="post" class="admin-layout-form">
                        <div class="form-group-self1">
                            <label class="self-label g-w-percent10 g-t-r"><span class="self-require g-c-red1">*</span>商品名称</label>

                            <div class="self-input g-pos-r g-w-percent40">
                                <input type="text" name="goodsName" placeholder="请输入商品名称" required ng-model="warehouse_ctrl.inwarehouse.goodsName" />
                                <span  ng-show="inwarehouseFrom.goodsName.$dirty && inwarehouseFrom.goodsName.$error.required" class="self-tips self-tips-no g-c-red1 g-fs4 g-w-percent50">商品名称不能为空</span>
                                <span ng-show="inwarehouseFrom.goodsName.$dirty && inwarehouseFrom.goodsName.$valid" class="self-tips self-tips-yes"></span>
                            </div>
                        </div>

                        <div class="form-group-self1">
                            <label class="self-label g-w-percent10 g-t-r"><span class="self-require g-c-red1">*</span>规格属性</label>

                            <div class="self-input g-pos-r g-w-percent40">
                                <input type="text" name="attributeName" placeholder="请输入规格属性" required ng-model="warehouse_ctrl.inwarehouse.attributeName" class="ui-filter-html-illegal"  />
                                <span  ng-show="inwarehouseFrom.attributeName.$dirty && inwarehouseFrom.attributeName.$error.required" class="self-tips self-tips-no g-c-red1 g-fs4 g-w-percent50">规格属性不能为空</span>
                                <span ng-show="inwarehouseFrom.attributeName.$dirty && inwarehouseFrom.attributeName.$valid" class="self-tips self-tips-yes"></span>
                            </div>
                        </div>

                        <div class="form-group-self1">
                            <label class="self-label g-w-percent10 g-t-r">单位</label>

                            <div class="self-input g-pos-r g-w-percent40">
                                <input type="text" name="Unit" ng-model="warehouse_ctrl.inwarehouse.Unit"  />
                            </div>
                        </div>

                        <div class="form-group-self1">
                            <label class="self-label g-w-percent10 g-t-r"><span class="self-require g-c-red1">*</span>仓库名称</label>

                            <div class="self-input g-pos-r g-w-percent40">
                                <input type="text" name="warehouseName" placeholder="请输入仓库名称" required  ng-model="warehouse_ctrl.inwarehouse.warehouseName"  />
                                <span ng-show="inwarehouseFrom.warehouseName.$dirty && inwarehouseFrom.warehouseName.$error.required" class="self-tips self-tips-no g-c-red1 g-fs4 g-w-percent50">仓库名称不能为空</span>
                                <span ng-show="inwarehouseFrom.warehouseName.$dirty && inwarehouseFrom.warehouseName.$valid" class="self-tips self-tips-yes"></span>
                            </div>
                        </div>

                        <div class="form-group-self1">
                            <label class="self-label g-w-percent10 g-t-r">仓库地址</label>

                            <div class="self-input g-pos-r g-w-percent40">
                                <input type="text" name="address" ng-model="warehouse_ctrl.inwarehouse.address"  />
                            </div>
                        </div>

                        <div class="form-group-self1">
                            <label class="self-label g-w-percent10 g-t-r">仓库手机号码</label>

                            <div class="self-input g-pos-r g-w-percent40">
                                <input type="text" name="cellphone"  placeholder="请输入手机号码" maxlength="13" ng-model="warehouse_ctrl.inwarehouse.cellphone" class="ui-mobile-phone"  />
                                <span ng-show="inwarehouseFrom.cellphone.$dirty && inwarehouseFrom.cellphone.$invalid" class="self-tips self-tips-no g-c-red1 g-fs4 g-w-percent50">手机号码格式不合法</span>
                                <span ng-show="inwarehouseFrom.cellphone.$dirty && inwarehouseFrom.cellphone.$valid" class="self-tips self-tips-yes"></span>
                            </div>
                        </div>

                        <div class="form-group-self1">
                            <label class="self-label g-w-percent10 g-t-r"><span class="self-require g-c-red1">*</span>入库时间</label>

                            <div class="self-input g-pos-r g-w-percent40">
                                <input type="text" name="inboundTime" placeholder="请选择入库时间" required  ng-model="warehouse_ctrl.inwarehouse.inboundTime" id="admin_inwarehouse_inboundTime" readonly />
                                <span ng-show="nwarehouseFrom.inboundTime.$error.required" class="self-tips self-tips-no g-c-red1 g-fs4 g-w-percent50">入库时间不能为空</span>
                                <span ng-show="inwarehouseFrom.inboundTime.$valid" class="self-tips self-tips-yes"></span>
                            </div>
                        </div>

                        <div class="form-group-self1">
                            <label class="self-label g-w-percent10 g-t-r"><span class="self-require g-c-red1">*</span>入库类型</label>

                            <div class="self-input g-pos-r g-w-percent40">
                                <select name="inboundType" class="form-control g-w-percent48 g-clear-pt g-clear-pb" ng-model="warehouse_ctrl.inwarehouse.inboundType" ng-options="item.value as item.key for item in warehouse_ctrl.inwarehousetype"></select>
                                <span ng-show="inwarehouseFrom.inboundType.$dirty && inwarehouseFrom.inboundType.$error.required" class="self-tips self-tips-no g-c-red1 g-fs4 g-w-percent50">入库类型不能为空</span>
                                <span ng-show="inwarehouseFrom.inboundType.$dirty && inwarehouseFrom.inboundType.$valid" class="self-tips self-tips-yes"></span>
                            </div>
                        </div>

                        <div class="form-group-self1">
                            <label class="self-label g-w-percent10 g-t-r"><span class="self-require g-c-red1">*</span>经办人</label>

                            <div class="self-input g-pos-r g-w-percent40">
                                <input type="text" name="operator" placeholder="请输入经办人" required  ng-model="warehouse_ctrl.inwarehouse.operator"  />
                                <span ng-show="inwarehouseFrom.operator.$dirty && inwarehouseFrom.operator.$error.required" class="self-tips self-tips-no g-c-red1 g-fs4 g-w-percent50">经办人不能为空</span>
                                <span ng-show="inwarehouseFrom.operator.$dirty && inwarehouseFrom.operator.$valid" class="self-tips self-tips-yes"></span>
                            </div>
                        </div>

                        <div class="form-group-self1">
                            <label class="self-label g-w-percent10 g-t-r"><span class="self-require g-c-red1">*</span>供应商</label>

                            <div class="self-input g-pos-r g-w-percent40">
                                <input type="text" name="provider" placeholder="请输入供应商" required ng-model="warehouse_ctrl.inwarehouse.provider"  />
                                <span ng-show="inwarehouseFrom.provider.$dirty && inwarehouseFrom.provider.$error.required" class="self-tips self-tips-no g-c-red1 g-fs4 g-w-percent50">供应商不能为空</span>
                                <span ng-show="inwarehouseFrom.provider.$dirty && inwarehouseFrom.provider.$valid" class="self-tips self-tips-yes"></span>
                            </div>
                        </div>

                        <div class="form-group-self1">
                            <label class="self-label g-w-percent10 g-t-r g-v-t">备注</label>

                            <div class="self-input g-pos-r g-w-percent40">
                                <textarea ng-model="warehouse_ctrl.inwarehouse.remark" name="remark"></textarea>
                            </div>
                        </div>

                        <div class="form-group-self1">
                            <button type="submit" ng-disabled="!(inwarehouseFrom.goodsName.$dirty && inwarehouseFrom.goodsName.$valid && inwarehouseFrom.attributeName.$dirty && inwarehouseFrom.attributeName.$valid && inwarehouseFrom.warehouseName.$dirty && inwarehouseFrom.warehouseName.$valid && (warehouse_ctrl.inwarehouse.cellphone==='' || (inwarehouseFrom.cellphone.$dirty && inwarehouseFrom.cellphone.$valid)) && inwarehouseFrom.inboundTime.$valid  && inwarehouseFrom.inboundType.$dirty && inwarehouseFrom.inboundType.$valid && inwarehouseFrom.operator.$dirty && inwarehouseFrom.operator.$valid && inwarehouseFrom.provider.$dirty && inwarehouseFrom.provider.$valid)"  class="btn btn-red g-br3 g-w-percent50">添加</button>
                            <button type="button" class="btn btn-red g-br3 g-w-percent50 g-gap-mt2" id="admin_inwarehouse_reset" ng-click="warehouse_ctrl.formReset(inwarehouseFrom,'inwarehouse')">重置</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-red" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    <!--新增出库-->
    <div class="modal fade custom-width" id="admin_outwarehouse_dialog">
        <div class="modal-dialog g-w-percent48">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="admin-layout-theme4 admin-theme-close g-t-c g-b-gray17 g-pos-r">订单收货<span class="mini-icon admin-mini-icon1" ng-click="warehouse_ctrl.toggleModal({display:'hide',area:'outwarehouse'})"></span>
                    </div>

                    <!--收货详情-->
                    <table class="table table-bordered table-striped table-hover admin-layout-table">
                        <!--分组样式-->
                        <colgroup>
                            <col class="g-w-percent20">
                            <col class="g-w-percent1">
                            <col class="g-w-percent20">
                            <col class="g-w-percent6">
                            <col class="g-w-percent3">
                        </colgroup>

                        <!--头部-->
                        <thead>
                        <tr>
                            <th>商品详情</th>
                            <th>序号</th>
                            <th>商户名称</th>
                            <th>规格属性(商品型号)</th>
                            <th>数量</th>
                        </tr>
                        </thead>

                        <!--表主体-->
                        <tbody id="admin_outwarehouse_show" class="middle-align"></tbody>
                    </table>
                    <div class="clearfix"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-red g-w-number4" ng-click="warehouse_ctrl.sureReceive()">收货</button>
                    <button type="button" class="btn btn-red" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    <!--新增盘点-->
    <div class="modal fade custom-width" id="admin_check_dialog">
        <div class="modal-dialog g-w-percent48">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="admin-layout-theme4 admin-theme-close g-t-c g-b-gray17 g-pos-r">订单收货<span class="mini-icon admin-mini-icon1" ng-click="warehouse_ctrl.toggleModal({display:'hide',area:'check'})"></span>
                    </div>

                    <!--收货详情-->
                    <table class="table table-bordered table-striped table-hover admin-layout-table">
                        <!--分组样式-->
                        <colgroup>
                            <col class="g-w-percent20">
                            <col class="g-w-percent1">
                            <col class="g-w-percent20">
                            <col class="g-w-percent6">
                            <col class="g-w-percent3">
                        </colgroup>

                        <!--头部-->
                        <thead>
                        <tr>
                            <th>商品详情</th>
                            <th>序号</th>
                            <th>商户名称</th>
                            <th>规格属性(商品型号)</th>
                            <th>数量</th>
                        </tr>
                        </thead>

                        <!--表主体-->
                        <tbody id="admin_check_show" class="middle-align"></tbody>
                    </table>
                    <div class="clearfix"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-red g-w-number4" ng-click="warehouse_ctrl.sureReceive()">收货</button>
                    <button type="button" class="btn btn-red" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>


    <!--公用弹窗-->
    <!--查看详情-->
    <div class="modal fade custom-width" id="admin_detail_dialog">
        <div class="modal-dialog g-w-percent48">
            <div class="modal-content">
                <div class="modal-body">
                    <table class="table table-bordered table-striped table-hover admin-layout-table">

                        <!--分组样式-->
                        <colgroup>
                            <col class="g-w-percent2">
                            <col class="g-w-percent4">
                            <col class="g-w-percent16">
                            <col class="g-w-percent13">
                            <col class="g-w-percent8">
                            <col class="g-w-percent7">
                        </colgroup>
                        <!--头部-->
                        <thead>
                        <tr>
                            <th class="g-t-c" colspan="6">采购详情</th>
                        </tr>
                        </thead>

                        <!--表主体-->
                        <tbody id="admin_detail_show" class="middle-align"></tbody>
                    </table>
                    <div class="clearfix"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-red" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>

    <!--审核-->
    <div class="modal fade custom-width" id="admin_audit_dialog">
        <div class="modal-dialog g-w-percent48">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="admin-layout-theme4 admin-theme-close g-t-c g-b-gray17 g-pos-r">审核<span class="mini-icon admin-mini-icon1" ng-click="warehouse_ctrl.toggleModal({display:'hide',area:'audit'})"></span>
                    </div>
                    <!--发货货详情-->
                    <table class="table table-bordered table-striped table-hover admin-layout-table">
                        <!--分组样式-->
                        <colgroup>
                            <col class="g-w-percent2">
                            <col class="g-w-percent8">
                            <col class="g-w-percent8">
                            <col class="g-w-percent4">
                            <col class="g-w-percent5">
                            <col class="g-w-percent8">
                            <col class="g-w-percent6">
                            <col class="g-w-percent4">
                            <col class="g-w-percent5">
                        </colgroup>

                        <!--头部-->
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>采购单号</th>
                            <th>采购时间</th>
                            <th>采购数量</th>
                            <th>采购总价</th>
                            <th>供应商</th>
                            <th>供应商手机</th>
                            <th>审核状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>

                        <!--表主体-->
                        <tbody id="admin_audit_show" class="middle-align"  ng-click="warehouse_ctrl.actionAudit($event)"></tbody>

                        <tfoot ng-class="{'g-d-hidei':!warehouse_ctrl.audit.editshow}">
                            <tr>
                                <td>
                                    数量：<input type="text" ng-model="warehouse_ctrl.audit.editvalue" placeholder="平输入数量" />
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                    <div class="clearfix"></div>
                    <div ng-class="{'g-d-hidei':!warehouse_ctrl.audit.editshow}"  class="g-w-percent50 g-box-b g-gap-pl4 g-gap-pt4 g-gap-pb4 g-gap-pr4 g-b-white g-pos-fl" style="min-height: 100%;">
                        <div class="admin-layout-theme4 admin-theme-close g-t-c g-b-gray17 g-pos-r">修改数量<span class="mini-icon admin-mini-icon1" ng-click="warehouse_ctrl.closeEditAudit()"></span></div>
                        <div class="admin-layout-form g-w-percent50">
                            <div class="form-group-self1">
                                <label class="self-label g-w-percent10 g-t-r">数量：</label>
                                <div class="self-input g-pos-r g-w-percent25">
                                    <input type="text" class="ui-int-number" ng-model="warehouse_ctrl.audit.editvalue" maxlength="5" placeholder="请输入数量" />
                                </div>
                            </div>
                            <div class="form-group-self1">
                                <label class="self-label g-w-percent10 g-t-r">&nbsp;</label>
                                <div class="self-input g-pos-r g-w-percent40">
                                    <button type="button" ng-disabled="warehouse_ctrl.audit.editvalue===''" ng-click="warehouse_ctrl.sureEditAudit()" class="btn btn-red g-w-number2">确定</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="g-w-percent38 g-f-l" ng-class="{'g-d-hidei':warehouse_ctrl.audit.isdata===''}">
                        <div class="admin-layout-form g-f-r g-w-percent30">
                            <div class="form-group-self1">
                                <label class="self-label g-w-percent10 g-t-r">审核状态：</label>
                                <div class="self-input g-t-l g-w-percent30">
                                    <label class="self-label">
                                        <input type="radio" ng-model="warehouse_ctrl.audit.auditflag" ng-value="true" name="auditflag">
                                        &nbsp;通过
                                    </label>
                                    <label class="self-label">
                                        <input type="radio" ng-model="warehouse_ctrl.audit.auditflag" ng-value="false" name="auditflag">
                                        &nbsp;不通过
                                    </label>
                                </div>
                            </div>
                            <div class="form-group-self1" ng-class="{'g-d-hidei':warehouse_ctrl.audit.auditflag===true}">
                                <label class="self-label g-w-percent10 g-t-r">不通过原因:</label>
                                <div class="self-input g-w-percent30">
                                    <input type="text" ng-model="warehouse_ctrl.audit.auditinfo" placeholder="请输入审核不通过原因" />
                                </div>
                            </div>
                            <div class="form-group-self1">
                                <label class="self-label g-w-percent15">&nbsp;</label>
                                <div class="self-input g-w-percent30 g-t-l">
                                    <button type="button" ng-click="warehouse_ctrl.submitAudit()" class="btn btn-red g-w-number4">审核</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-red" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>

</div>