///*--图标字体--*/

@font-face {
  font-family: element-icons;
  src: url('@{eu-font-url}@{eu-font-name}.woff') format("woff"),
  url('@{eu-font-url}@{eu-font-name}.ttf') format("truetype");
  font-weight: 400;
  font-style: normal;
}
